<div class="flex items-center justify-center w-full">
  @if (!onlyBtn()) {
  <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 bg-indigo-100 rounded-lg border-2 border-dashed [stroke-dasharray:5_5] cursor-pointer hover:bg-indigo-200 shadow-lg">
    <div class="flex flex-col items-center justify-center text-body pt-5 pb-6">
      <h4 class="font-[var(--font-nunito-sans)] font-bold text-center pl-9 pr-9 pb-2">{{titleText()}}</h4>
      <div class="w-10 h-10 flex items-center justify-center bg-transparent rounded-full border-4 border-white">
        <lib-ngx-cygnus-icons
          [size]="'xl'"
          [textColor]="'lightblue'"
          [textRoute]="'upload-cloud-02'"
        />
      </div>
      <p class="mb-2 text-sm">
        <span class="font-[var(--font-inter)]">{{firstText()}}</span>
        <span class="font-[var(--font-nunito-sans)]"> {{secondText()}}</span>
      </p>
      <p class="text-xs mb-4">{{thirdText()}}</p>
      <cygnus-button
        [btnTypes]="'btn-indigo btn-icon'"
        [btnIconRouteLeft]="'file'"
      >
        {{btnText()}}
      </cygnus-button>
    </div>
    <input id="dropzone-file" type="file" class="hidden" accept="application/pdf,.pdf" (change)="onFileSelected($event)" />
  </label>

} @else {
  <label for="dropzone-file" class="flex flex-col items-center justify-center w-full bg-indigo-100 rounded-lg border-2 border-dashed [stroke-dasharray:5_5] cursor-pointer hover:bg-indigo-200 shadow-lg">
    <div class="flex flex-col items-center justify-center text-body p-4">
      <cygnus-button
        [btnTypes]="'btn-indigo btn-icon'"
        [btnIconRouteLeft]="'file'"
      >
        {{btnText()}}
      </cygnus-button>
    </div>

    <input id="dropzone-file" type="file" class="hidden" accept="application/pdf,.pdf" (change)="onFileSelected($event)" />
  </label>
}
</div>
