<div [class]="badgeAllClasses()" >
  @if (badgeIconAsset()!=='' && badgeIconPosition()==='left') {
    <lib-ngx-cygnus-icons
      [width]="badgeIconSize"
      [height]="badgeIconSize"
      [color]="badgeIconColor()"
      [route]="badgeIconAsset()"
    />
  }
  @if (badgeState) {
    <div [class]="badgeStateClassesIcon"></div>
  }

  {{badgeText()}}

  @if (btnBadge) {
    <button
      class="absolute top-0 right-0 flex items-center justify-center p-0.5 transition-all rounded-md text-secondary-700 hover:bg-white/10 active:bg-white/10"
      type="button"
    >
      <lib-ngx-cygnus-icons
        [width]="badgeIconSize"
        [height]="badgeIconSize"
        [color]="'#ffffff'"
        [route]="'assets/icons/svg/General/x-close.svg'"
      />
    </button>
  }

  @if (badgeIconAsset()!=='' && badgeIconPosition()==='right') {
    <lib-ngx-cygnus-icons
      [width]="badgeIconSize"
      [height]="badgeIconSize"
      [color]="badgeIconColor()"
      [route]="badgeIconAsset()"
    />
  }
</div>
