<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Cards</h1>
    <p class="mt-4 text-gray-600 text-md">Las "cards" o trajetas de información son deales para
        listados de productos y eventos, perfiles de usuario, paneles de control y más.</p>
  </header>

  <section id="basic-card">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Cómo usar las tarjetas</h2>

        <p class="mb-8 text-secondary-600 text-md">
          Importar el componente de la biblioteca ngx-cygnus-ui que corresponda a la tarjeta que se va a utilizar.
        </p>

        <pre>
          <code [highlight]="cygnusCardExample"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          Depende del componente específico cómo será la plantilla html y su configuración.
        </p>

      </div>
    </div>
  </section>

  <section id="basic-card">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Tarjeta con imagen</h2>

        <cygnus-card-image
          [imgSrc]="'https://images.unsplash.com/photo-1680868543815-b8666dba60f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&q=80'"
          [imgAlt]="'Card Image'"
          [cardTitle]="'Titulo de la tarjeta'"
          [cardText]="`Un texto de ejemplo rápido que se basa en el título de la tarjeta y constituye
                                            el grueso de su contenido.`"
          [cardButtonText]="'Ir a alguna parte'"
          (clicked)="cygnusCardImageClick()"
        />

        <pre>
          <code [highlight]="cygnusCardImageTsExample"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusCardImageHTMLExample"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>[imgSrc]: Url que indica la dirección de la imagen que se pondrá en la tarjeta.</li>
          <li>[imgAlt]: Texto que describe la imagen de la tarjeta para accesibilidad.</li>
          <li>[cardTitle]: Texto que irá en el título de la tarjeta.</li>
          <li>[cardText]: Texto que irá en el contenido de la tarjeta.</li>
          <li>[cardButtonText]: Texto del botón de la tarjeta.</li>
          <li>(clicked): Evento que indica cuándo el botón de la tarjeta ha sido clickeado.</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="card-body">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Cuerpo de tarjeta</h2>

        <cygnus-card-title-text
          [cardTitle]="'Cygnus - gestión de equipos colaborativos'"
          [cardText]="'Este es un texto dentro del cuerpo de una tarjeta.'"
        />

        <pre>
          <code [highlight]="cygnusCardTitleTextTsExample"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusCardTitleTextHTMLExample"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>[cardTitle]: Texto que irá en el título de la tarjeta.</li>
          <li>[cardText]: Texto que irá en el contenido de la tarjeta.</li>
        </ul>

      </div>
    </div>
  </section>

  <section id="card-body">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Cuerpo de tarjeta</h2>
        <div class="flex items-center w-full max-w-xs gap-4 mb-4">

          <cygnus-card-icon-text
            [iconSize]="'xxxxl'"
            [iconColor]="'secgray'"
            [iconRoute]="'assets/icons/svg/Charts/presentation-chart-01.svg'"
            [cardText]="'Administración de RRHH Cygnus'"
          />
        </div>

        <pre>
          <code [highlight]="cygnusCardIconTextTsExample"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusCardIconTextHTMLExample"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>[iconSize]: String que indica el tamaño del ícono.</li>
          <li>[iconColor]: String que indica el color del ícono.</li>
          <li>[iconRoute]: String que indica la ruta o el nombre del ícono dentro de la biblioteca ngx-cygnus-icons.</li>
          <li>[cardText]: Texto que irá en el contenido de la tarjeta.</li>
        </ul>

      </div>
    </div>
  </section>
  <section id="simple-card">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Tarjeta sencilla</h2>
        <div class="flex items-center justify-center w-full max-w-xs gap-4 mb-4">

          <cygnus-card-simple-link
            [cardTitle]="'Título de la tarjeta'"
            [cardSubtitle]="'Subtítulo de la tarjeta'"
            [cardText]="`Un texto de ejemplo rápido para ampliar el título de la tarjeta y constituir la
                                  mayor parte del contenido de la tarjeta.`"
            [cardLinkText]="'Enlace de tarjeta'"
            (clicked)="cygnusCardSimpleLinkClick()"
          />
        </div>

        <pre>
          <code [highlight]="cygnusCardSimpleLinkTsExample"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusCardSimpleLinkHTMLExample"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>[iconSize]: String que indica el tamaño del ícono.</li>
          <li>[iconColor]: String que indica el color del ícono.</li>
          <li>[iconRoute]: String que indica la ruta o el nombre del ícono dentro de la biblioteca ngx-cygnus-icons.</li>
          <li>[cardText]: Texto que irá en el contenido de la tarjeta.</li>
          <li>(clicked): Evento que indica cuándo el botón de la tarjeta ha sido clickeado.</li>
        </ul>

      </div>
    </div>
  </section>

  <section id="simple-card">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Tarjeta mainboard</h2>
        <div class="flex items-center justify-center w-full max-w-xs gap-4 mb-4">

          <cygnus-mainboard-card
            [cardTitle]="'Administración de RRHH'"
            [cardText]="'Optimiza los proyectos de software, los sprints y el seguimiento de errores.'"
            [cardLinkText]="'Ingresar'"
            (cardLinkClicked)="cygnusMainboardCardClicked()"
          />
        </div>

        <pre>
          <code [highlight]="cygnusCardMainboardTsExample"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusCardMainboardHTMLExample"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>[cardTitle]: Texto que irá en el título de la tarjeta.</li>
          <li>[cardText]: Texto que irá en el contenido de la tarjeta.</li>
          <li>[cardLinkText]: Texto que irá en el link de la tarjeta.</li>
          <li>(cardLinkClicked): Evento que indica cuándo el botón de la tarjeta ha sido clickeado.</li>
        </ul>

        <p class="mb-8 text-secondary-600 text-md">
          Existen otros parámetros que se pueden modificar que tienen valores por defecto:
        </p>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>[iconLeftColor]: Color del ícono izquierdo.</li>
          <li>[iconLeftAsset]: Url o nombre dentro de la librería ngx-cygnus-icons donde se encuentra el ícono izquierdo.</li>
          <li>[iconLeftSize]: Tamaño del ícono izquierdo.</li>
          <br>
          <li>[iconRightColor]: Color del ícono derecho.</li>
          <li>[iconRightAsset]: Url o nombre dentro de la librería ngx-cygnus-icons donde se encuentra el ícono derecho.</li>
          <li>[iconRightSize]: Tamaño del ícono derecho.</li>
          <br>
          <li>[iconArrowColor]: Color del ícono derecho.</li>
          <li>[iconArrowAsset]: Url o nombre dentro de la librería ngx-cygnus-icons donde se encuentra el ícono derecho.</li>
          <li>[iconArrowSize]: Tamaño del ícono derecho.</li>
        </ul>

        <pre>
          <code [highlight]="cygnusCardMainboardDefaultHTMLExample"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="simple-card">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Tarjeta Login</h2>
        <div class="flex items-center gap-4 mb-4">

          <cygnus-card-login />

        </div>
      </div>
    </div>
  </section>

  <section id="simple-card">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Tarjeta Ejemplo validadores</h2>
        <div class="flex items-center gap-4 mb-4">

          <cygnus-card-show-validators />

        </div>
      </div>
    </div>
  </section>

  <section id="simple-card">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Tarjeta Ejemplo validador selectores</h2>
        <div class="flex items-center gap-4 mb-4">

          <cygnus-card-selects />

        </div>
      </div>
    </div>
  </section>
</main>

