<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Radiobuttons</h1>
    <p class="mt-4 text-gray-600 text-md">Los botones de opción son circulares y suelen aparecer en grupos;
      cuando un usuario selecciona un botón de opción de un
      grupo, cualquier botón de opción seleccionado previamente en el mismo grupo se deselecciona
      automáticamente. Este
      comportamiento garantiza que el usuario pueda elegir solo una opción del grupo, lo que hace que los
      botones de opción
      sean ideales para opciones en las que solo se aplica una opción.</p>
  </header>

  <section id="radio-explanation">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Cómo usar cygnus-radio-button</h2>
        <p class="mb-8 text-secondary-600 text-md">
          Importar el componente CygnusRadioGroupComponent y CygnusRadioButtonComponent de la biblioteca ngx-cygnus-ui e importar los componentes necesarios de &#64;angular/forms en el archivo .ts del componente donde lo vas a implementar.
        </p>

        <pre>
          <code [highlight]="cygnusRadioButtonImportTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          Implementar el ts del formulario que contendrá el valor del grupo de radio-buttons.
        </p>

        <pre>
          <code [highlight]="cygnusRadioButtonFormTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          En el documento .html posicionar la plantilla de cygnus-radio-group y cygnus-radio-button y agregar la configuración para conectar con el formulario ts, entre otras configuraciones adicionales.
        </p>

        <pre>
          <code [highlight]="cygnusRadioButtonHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>[control]: Permite conectar cygnus-radio-group y cygnus-radio-button con el formulario ts.</li>
          <li>[labelText]: Corresponde al texto que se visualizará junto al radio button. Se entrega también como value del elemento de control del formulario.</li>
          <li>[isDisabled]: Boolean que indica si el cygnus-radio-button está desabilitado o no.</li>
        </ul>

        <p class="mb-8 text-secondary-600 text-md">
          Adicionalmente en cygnus-radio-group se puede agregar un texto con [legend] de forma opcional.
        </p>
      </div>
    </div>
  </section>

  <section id="radio-simple">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Radiobuttons</h2>
        <p class="mb-8 text-gray-600 text-md">Utilice este botón versátil que viene con fondo azul y
          texto blanco, esquinas
          redondeadas y un efecto de sombra al pasar el mouse, mostrando interactividad.</p>

        <div class="inline-flex items-center">

          <cygnus-radio-group [control]="radioForm.controls.radioExample">
            <cygnus-radio-button [control]="radioForm.controls.radioExample" [labelText]="'Chile'" />
            <cygnus-radio-button [control]="radioForm.controls.radioExample" [labelText]="'Perú'" />
            <cygnus-radio-button [control]="radioForm.controls.radioExample" [labelText]="'Argentina'" />
            <cygnus-radio-button [control]="radioForm.controls.radioExample" [labelText]="'Brasil'" [isDisabled]="true" />
          </cygnus-radio-group>

        </div>

        <pre>
          <code [highlight]="cygnusRadioButtonFormTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusRadioButtonHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="radio-link">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Botón de radio con enlace</h2>
        <p class="mb-8 text-gray-600 text-md">Este ejemplo muestra cómo se pueden implementar botones de
            opción con etiquetas que incluyen un hipervínculo.</p>

        <cygnus-radio-group [control]="radioLinkForm.controls.radioExample">
          <cygnus-radio-button
            [control]="radioLinkForm.controls.radioExample"
            [labelText]="'Estoy de acuerdo con los '"
            [linkText]="'términos y condiciones'"
            [linkUrl]="'./'"
          />
          <cygnus-radio-button
            [control]="radioLinkForm.controls.radioExample"
            [labelText]="'No estoy de acuerdo con los '"
            [linkText]="'términos y condiciones'"
            [linkUrl]="'./'"
          />
        </cygnus-radio-group>

        <pre>
          <code [highlight]="cygnusRadioLinkFormTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusRadioLinkHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>[linkText]: Texto del link que va junto al radio button.</li>
          <li>[linkUrl]: Url del link que va junto al radio button.</li>
        </ul>

      </div>
    </div>
  </section>

</main>
