<div class="flex items-center justify-center w-full max-w-sm gap-4 mb-4">

  <div [class]="TW_CLASS.CARD + ' ' + TW_CLASS.CARD_PANEL">
    <div [class]="'mb-6 ' +  TW_CLASS.CARD_ICON">
      <lib-ngx-cygnus-icons
        [width]="'3rem'"
        [height]="'3rem'"
        [route]="'assets/icons/backups/cygnus-logo.svg'"
        [color]="CYGNUS_LOGO_COLOR"
      />
    </div>
    <h4 [class]="TW_CLASS.CARD_TITLE">Acceso a sistemas</h4>
    <p [class]="'mb-6 ' + TW_CLASS.CARD_DESCRIPTION">Ingresa tu RUT sin puntos, ni guión.</p>

    <form action="#" method="POST" class=" flex flex-col space-y-4">

      <cygnus-input
        [inputId]="'cg-floating-inset-01'"
        [inputType]="'fieldset-legend-label'"
        [textPlaceholder]="'12345678K'"
        [textHint]="textHint()"
        [inputColor]="inputColor()"
        [hintColor]="true"
        [textLabel]="'RUT'"
      />

      <cygnus-input
        [inputId]="'cg-floating-inset-01'"
        [inputType]="'fieldset-legend-label'"
        [textPlaceholder]="'••••••••'"
        [textHint]="textHint()"
        [inputColor]="inputColor()"
        [hintColor]="true"
        [textLabel]="'Contraseña'"
      />


      <div class="flex items-center justify-end">
        <cygnus-button-link [routerLink]="'#'" [btnLinkText]="'¿Olvidaste tu contraseña?'"  />
      </div>

      <cygnus-button [btnTypes]="'btn-primary btn-block'" >Iniciar sesión</cygnus-button>

    </form>
  </div>
</div>

