<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Dropdown Menu</h1>
    <p class="mt-4 text-gray-600 text-md">El menú desplegable muestra una lista de opciones en
      superficies temporales. Cuando un usuario hace click sobre el elemento principal aparece el menú desplegable que presenta una lista de acciones apiladas verticalmente.
    </p>
  </header>

  <section id="dropdown-explanation">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Cómo usar Dropdown Menu</h2>
        <p class="mb-8 text-secondary-600 text-md">
          Importar el componente de la biblioteca ngx-cygnus-ui y la interfaz DropdownItemData en el archivo .ts del componente donde lo vas a implementar. Debes crear un arreglo con todos los elementos que se quieran desplegar según la estructura de la interfaz.
        </p>

        <pre>
          <code [highlight]="dropdownImportTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>iconAssetText: Debes entregar un string con la url o nombre del ícono dentro de la biblioteca ngx-cygnus-icons que indique la dirección o nombre del ícono que quieres mostrar para la opción dentro del dropdown.</li>
          <li>routerLinkText: Url a la cuál se redireccionará cuando elijas una opción del dropdown. Si la dejas con el valor './' permanecerá en la misma página.</li>
          <li>itemText: Texto que se mostrará en la opción del dropdown.</li>
        </ul>

        <p class="mb-8 text-secondary-600 text-md">
          En el documento .html del componente, posicionar la plantilla del menú y agregar la configuración según corresponda.
        </p>

        <pre>
          <code [highlight]="dropdownHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>dropdownMenuTitle: Debes entregar un string con el título del menú dropdown.</li>
          <li>dropdownItemType: Debes entregar un string que indique el tipo de menú dropdown. Pueden ser: "simple", "radiobutton", "iconText", "close", "breadcrumb".</li>
          <li>dropdownItemDataArr: Acá debes entregar un arreglo de elementos DropdownItemData para que se desplieguen en el menú.</li>
        </ul>


      </div>
    </div>
  </section>

  <section id="dropdown-simple">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Menú desplegable simple</h2>
        <p class="mb-8 text-gray-600 text-md">Este ejemplo muestra un componente de menú desplegable
          simple que incluye un botón para abrir el menú y una lista <code class="code"> &lt;ul&gt;</code> que representa el menú en sí.
        </p>

        <div class="flex flex-col items-center justify-center">
          <!-- COMPONENTE: Dropdown simple -->
          <cygnus-dropdown
            [dropdownMenuTitle]="'Dropdown'"
            [dropdownItemType]="'simple'"
            [dropdownItemDataArr]="dropdownSimpleItemDataArr"
          />
        </div>

        <pre>
          <code [highlight]="dropdownHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="dropdownImportTs"
                language="ts"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="dropdown-menu">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Menú con ícono y radiobutton</h2>

        <div class="flex flex-col items-center justify-center">
          <!-- COMPONENTE: Dropdown ícono y radiobutton -->
          <cygnus-dropdown
            [dropdownMenuTitle]="'Úlitmos 30 días'"
            [dropdownItemType]="'radiobutton'"
            [dropdownRadioIconAsset]="'assets/icons/svg/Time/clock.svg'"
            [dropdownItemDataArr]="dropdownRadiobuttonItemDataArr"
          />
        </div>

        <pre>
          <code [highlight]="dropdownIconoRadioHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="dropdownIconoRadioTs"
                language="ts"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="dropdown-profile">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-3 text-xl font-semibold md:mb-2">Dropdown de perfil</h2>

        <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">
          <!-- COMPONENTE: Dropdown de perfil -->
          <cygnus-dropdown
            [dropdownMenuTitle]="'JP'"
            [dropdownItemType]="'iconText'"
            [dropdownItemDataArr]="dropdownIconTextItemDataArr"
          />
        </div>

        <pre>
          <code [highlight]="dropdownIconTextHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="dropdownIconTextTs"
                language="ts"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

</main>
