<main class="col-span-1 p-6 bg-white lg:col-span-8">
  <header class="mb-12">
      <h1 class="text-4xl font-bold">Botones</h1>
      <p class="mt-4 text-gray-600 text-md">Los botones son un elemento esencial del diseño web. Básicamente,
          son
          enlaces con estilo que captan la atención del
          usuario. Ayudan a los usuarios a navegar por nuestros sitios web o aplicaciones y los llevan a
          realizar una
          acción en
          particular, como enviar un formulario de contacto o realizar un pedido de la forma más sencilla
          posible.

          Vea a continuación nuestros ejemplos de componentes de botones.</p>
  </header>

  <section id="button-simple">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Botón simple</h2>
              <p class="mb-6 text-gray-600 text-md">Utilice este botón versátil que viene con fondo azul y
                  texto
                  blanco, esquinas
                  redondeadas y un efecto
                  de sombra al pasar el mouse, mostrando interactividad.</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- COMPONENTE: Botón simple -->
                  <cygnus-button [btnTypes]="'btn'" >simple button</cygnus-button>
              </div>
          </div>

      </div>
  </section>

  <!-- boton fantasma -->
  <section id="button-ghost">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Botón fantasma</h2>
              <p class="mb-6 text-gray-600 text-md">Utilice este botón versátil que viene con fondo azul y
                  texto
                  blanco, esquinas
                  redondeadas y un efecto
                  de sombra al pasar el mouse, mostrando interactividad.</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- COMPONENTE: Botón fantasma -->
                  <cygnus-button [btnTypes]="'btn-ghost'" >ghost button</cygnus-button>
              </div>
          </div>

      </div>
  </section>

  <!-- Botones primarios -->
  <section id="button-colours">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Colores de Botones</h2>

              <div class="flex flex-wrap items-end w-full gap-2 mb-4">
                <cygnus-button [btnTypes]="'btn-primary'" >Primario</cygnus-button>
                <cygnus-button [btnTypes]="'btn-secondary'" >Secundario</cygnus-button>
                <cygnus-button [btnTypes]="'btn-accent'" >Accent</cygnus-button>
                <cygnus-button [btnTypes]="'btn-success'" >Éxito</cygnus-button>
                <cygnus-button [btnTypes]="'btn-warning'" >Advertencia</cygnus-button>
                <cygnus-button [btnTypes]="'btn-error'" >Error</cygnus-button>
                <cygnus-button [btnTypes]="'btn-purple'" >Púrpura</cygnus-button>
                <cygnus-button [btnTypes]="'btn-indigo'" >Indigo</cygnus-button>
                <cygnus-button [btnTypes]="'btn-pink'" >Rosado</cygnus-button>
                <cygnus-button-link [routerLink]="" [btnLinkText]="'Enlace de texto'"  />

              </div>
          </div>

      </div>
  </section>

  <!-- Botones secoundarios grises -->
  <section id="button-size">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Tamaño de botones</h2>
              <div class="flex items-end justify-center w-full gap-4 mb-4">

                  <cygnus-button [btnTypes]="'btn btn-size-xs'" >Extra small</cygnus-button>
                  <cygnus-button [btnTypes]="'btn btn-size-sm'" >Small</cygnus-button>
                  <cygnus-button [btnTypes]="'btn'" >Medium</cygnus-button>
                  <cygnus-button [btnTypes]="'btn btn-size-lg'" >Large</cygnus-button>
                  <cygnus-button [btnTypes]="'btn btn-size-xl'" >Extra Large</cygnus-button>

              </div>
          </div>

      </div>
  </section>

  <!-- Tamaño de Botones con íconos -->
  <section id="button-size">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Tamaño de botone con íconos</h2>
              <div class="flex items-end justify-center w-full gap-4 mb-4">

                  <cygnus-button
                    [btnTypes]="'btn-accent btn-size-xs btn-icon-sm'"
                    [btnIconRoute]="'assets/icons/svg/Communication/mail-01.svg'"
                  >
                    Extra small
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-accent btn-size-sm btn-icon-sm'"
                    [btnIconRoute]="'assets/icons/svg/Communication/mail-01.svg'"
                  >
                    Small
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-accent btn-icon'"
                    [btnIconRoute]="'assets/icons/svg/Communication/mail-01.svg'"
                  >
                    Medium
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-accent btn-size-lg btn-icon-lg'"
                    [btnIconRoute]="'assets/icons/svg/Communication/mail-01.svg'"
                  >
                    Large
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-accent btn-size-xl btn-icon-lg'"
                    [btnIconRoute]="'assets/icons/svg/Communication/mail-01.svg'"
                  >
                    Extra Large
                  </cygnus-button>

              </div>
          </div>

      </div>
  </section>

  <!-- Botones iconos -->
  <section id="button-icons">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Botones con íconos</h2>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- COMPONENTE: Botón con ícono izquierdo -->
                  <cygnus-button
                    [btnTypes]="'btn-indigo btn-icon'"
                    [btnIconPosition]="'left'"
                    [btnIconRoute]="'assets/icons/svg/Users/user-square.svg'"
                  >
                    Botón con ícono izquierdo
                  </cygnus-button>

                  <!-- COMPONENTE: Botón con ícono derecho -->
                   <cygnus-button
                    [btnTypes]="'btn-indigo btn-icon'"
                    [btnIconPosition]="'right'"
                    [btnIconRoute]="'assets/icons/svg/Users/user-square.svg'"
                  >
                    Botón con ícono derecho
                  </cygnus-button>


              </div>
              <div>
                <p>Por defecto, la posición del ícono es izquierda.</p>
              </div>

          </div>

      </div>
  </section>

  <!-- Botones deshabilitados -->
  <section id="button-disabled">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Botón Deshabilitado</h2>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                    <!-- COMPONENTE: Botón Deshabilitado -->
                    <cygnus-button [btnTypes]="'btn-disabled'" >Botón Deshabilitado</cygnus-button>

              </div>
          </div>
      </div>
  </section>

  <!-- Botones secoundarios grises -->
  <section id="button-block">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 flex flex-col space-y-3">
              <h2 class="mb-4 text-xl font-semibold">Botón de bloque</h2>

                  <!-- COMPONENTE: Botón de bloque -->
                  <cygnus-button [btnTypes]="'btn-primary btn-block'" >Botón de bloque</cygnus-button>
                  <cygnus-button [btnTypes]="'btn-indigo btn-block'" >Botón de bloque</cygnus-button>
                  <cygnus-button [btnTypes]="'btn-accent btn-block'" >Botón de bloque</cygnus-button>

          </div>

      </div>
  </section>

  <!-- Button loading icons -->
  <section id="button-loading-icons">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Cargando</h2>
              <p class="mb-8 text-gray-600 text-md">Utilice indicadores dentro de los botones para indicar que
                  una acción se está procesando o llevando a cabo en ese
                  momento. También se puede cambiar el texto del elemento indicador y utilizar el texto del
                  botón
                  según sea necesario..</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- Botón con loading + texto -->
                  <cygnus-button
                    [btnTypes]="'btn-success btn-size-sm btn-icon'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-4'"
                  >
                    Cargando
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-warning btn-size-sm btn-icon'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-5'"
                  >
                    Cargando
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-error btn-size-sm btn-icon'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-6'"
                  >
                    Cargando
                  </cygnus-button>

                  <!-- Botón con solo loading -->
                  <cygnus-button
                    [btnTypes]="'btn-pink btn-size-sm btn-icon btn-icon-only'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-6'"
                  >
                  </cygnus-button>

                  <cygnus-button
                    [btnTypes]="'btn-purple btn-size-sm btn-icon btn-icon-only'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-5'"
                  >
                  </cygnus-button>

                  <cygnus-button
                    [btnTypes]="'btn-indigo btn-size-sm btn-icon btn-icon-only'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-4'"
                  >
                  </cygnus-button>

              </div>
          </div>

      </div>
  </section>

  <!-- Button only icon -->
  <section id="button-icon-only">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Botón icono simple</h2>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                <cygnus-button
                  [btnTypes]="'btn btn-icon-only'"
                  [btnIconRoute]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                >
                </cygnus-button>
                <cygnus-button
                  [btnTypes]="'btn-accent btn-circle btn-icon-only'"
                  [btnIconRoute]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                >
                </cygnus-button>
                <cygnus-button
                  [btnTypes]="'btn-ghost btn-circle btn-icon-only'"
                  [btnIconRoute]="'assets/icons/svg/Alerts&Feedback/thumbs-up.svg'"
                >
                </cygnus-button>
                <cygnus-button
                  [btnTypes]="'btn-success btn-circle btn-icon-only'"
                  [btnIconRoute]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                >
                </cygnus-button>

                <cygnus-button
                  [btnTypes]="'btn-primary '"
                  [btnIconRoute]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                >
                  Messages
                  <!-- COMPONENTE: Badge XS -->
                  <cygnus-badge [badgeTypes]="'badge-xs'" [badgeText]="'2'" />
                </cygnus-button>

                <cygnus-button
                  [btnTypes]="'btn btn-circle'"
                >
                1
                </cygnus-button>

              </div>
          </div>

      </div>
  </section>

  <section id="button-group">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Grupo de botones predeterminado</h2>
              <p class="mb-8 text-gray-600 text-md">Este ejemplo de componente muestra un grupo de botones
                  interactivo con control detallado sobre la apariencia y el
                  diseño. El uso de clases de utilidad facilita la personalización de cada aspecto del diseño
                  del grupo de botones.</p>

              <div class="flex items-center justify-center w-full gap-4 mb-4">
                <div class="flex row">
                  <cygnus-button
                    [btnTypes]="'btn-secondary btn-group-left'"
                  >
                    left btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-secondary btn-group-middle'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-secondary btn-group-right'"
                  >
                    right btn
                  </cygnus-button>
                </div>
              </div>

              <div class="flex items-center justify-center w-full gap-4 mb-4">
                <div class="flex row">
                  <cygnus-button
                    [btnTypes]="'btn-indigo btn-group-left'"
                  >
                    left btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-indigo btn-group-middle'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-indigo btn-group-right'"
                  >
                    right btn
                  </cygnus-button>
                </div>
              </div>

              <div class="flex items-center justify-center w-full gap-4 mb-4">
                <div class="flex row">
                  <cygnus-button
                    [btnTypes]="'btn-success btn-group-left'"
                  >
                    left btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-warning btn-group-middle'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-error btn-group-middle'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-purple btn-group-right'"
                  >
                    right btn
                  </cygnus-button>
                </div>
              </div>

          </div>

      </div>
  </section>

</main>
