<main class="col-span-1 p-4 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Botones</h1>
    <p class="mt-4 text-gray-600 text-md">Los botones son un elemento esencial del diseño web. Básicamente,
        son
        enlaces con estilo que captan la atención del
        usuario. Ayudan a los usuarios a navegar por nuestros sitios web o aplicaciones y los llevan a
        realizar una
        acción en
        particular, como enviar un formulario de contacto o realizar un pedido de la forma más sencilla
        posible.

        Vea a continuación nuestros ejemplos de componentes de botones.</p>
  </header>

  <section id="button-simple">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14 p-4">
      <h2 class="mb-4 text-xl font-semibold">Botón simple</h2>
      <div class="flex items-center justify-center w-full gap-4 mb-4">

        <!-- Prioridad: Botón Sólido/simple/primary -->
        <cygnus-button [btnTypes]="'btn btn-size-sm'" >Botón simple</cygnus-button>

      </div>

    </div>
  </section>

  <!-- Variantes de botones -->
  <section id="button-ghost">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Variantes de botones</h2>
              <div class="flex items-center justify-center w-full gap-4 mb-4">
                <div class="flex flex-wrap justify-center gap-4 item">

                  <!-- COMPONENTE: Botón fantasma -->
                  <cygnus-button [btnTypes]="'btn-ghost'" >Fantasma</cygnus-button>
                  <!-- Prioridad: Botón Outline -->
                  <cygnus-button [btnTypes]="'btn-outlined'" >Outline</cygnus-button>
                  <!-- Prioridad: Botón Sólido/simple/primary -->
                  <cygnus-button [btnTypes]="'btn'" >Sólido</cygnus-button>

                </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Botones primarios -->
  <section id="button-colours">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
      <div class="p-4">
        <h2 class="mb-4 text-xl font-semibold">Colores de Botones</h2>

        <div class="flex flex-wrap items-center w-full gap-3 mb-4">

          <!-- Prioridad: Botón primario -->
          <cygnus-button [btnTypes]="'btn-primary'" >Primario</cygnus-button>
          <!-- Prioridad: Botón secundario -->
          <cygnus-button [btnTypes]="'btn-secondary'" >Secundario</cygnus-button>
          <!-- Prioridad: Botón informativo -->
          <cygnus-button [btnTypes]="'btn-accent'" >Informativo</cygnus-button>
          <!-- Prioridad: Botón gris -->
          <cygnus-button [btnTypes]="'btn-gray'" >Gris</cygnus-button>
          <!-- Prioridad: Botón éxito -->
          <cygnus-button [btnTypes]="'btn-success'" >Éxito</cygnus-button>
          <!-- Prioridad: Botón red -->
          <cygnus-button [btnTypes]="'btn-error'" >Red</cygnus-button>
          <!-- Prioridad: Botón Advertencia -->
          <cygnus-button [btnTypes]="'btn-warning'" >Advertencia</cygnus-button>
          <!-- Prioridad: Botón enlace -->
          <cygnus-button-link
            [btnLinkType]="'btn-link'"
            [btnRouterLinkText]="''"
          >
            Botón enlace
          </cygnus-button-link>
          <!-- Prioridad: Botón enlace simple -->
          <cygnus-button-link
            [btnLinkType]="'btn-link-simple'"
            [btnRouterLinkText]="''"
          >
            Enlace simple
          </cygnus-button-link>

        </div>
      </div>

    </div>
  </section>

  <!-- Tamaño de Botones -->
  <section id="button-size">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Tamaño de botones</h2>

              <div class="flex items-end justify-center w-full gap-4 mb-4">
                  <div class="flex flex-wrap items-end gap-4">

                    <cygnus-button [btnTypes]="'btn btn-size-xs'" >X Small</cygnus-button>
                    <cygnus-button [btnTypes]="'btn btn-size-sm'" >Small</cygnus-button>
                    <cygnus-button [btnTypes]="'btn'" >Medium</cygnus-button>
                    <cygnus-button [btnTypes]="'btn btn-size-lg'" >Large</cygnus-button>
                    <cygnus-button [btnTypes]="'btn btn-size-xl'" >X Large</cygnus-button>

                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Tamaño de Botones con íconos -->
  <section id="button-size">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Tamaño de botones con íconos</h2>

              <div class="flex items-end justify-center w-full gap-4 mb-4">

                  <div class="flex flex-wrap items-end gap-4">

                    <!-- COMPONENTE: Botón X Small -->
                    <cygnus-button
                      [btnTypes]="'btn-accent btn-size-xs btn-icon-sm'"
                      [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
                      [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                    >
                      X small
                    </cygnus-button>
                    <!-- COMPONENTE: Botón Small -->
                    <cygnus-button
                      [btnTypes]="'btn-accent btn-size-sm btn-icon-sm'"
                      [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
                      [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                    >
                      Small
                    </cygnus-button>
                    <!-- COMPONENTE: Botón Medium -->
                    <cygnus-button
                      [btnTypes]="'btn-accent btn-icon'"
                      [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
                      [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                    >
                      Medium
                    </cygnus-button>
                    <!-- COMPONENTE: Botón Large -->
                    <cygnus-button
                      [btnTypes]="'btn-accent btn-size-lg btn-icon-lg'"
                      [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
                      [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                    >
                      Large
                    </cygnus-button>
                    <!-- COMPONENTE: Botón X Large -->
                    <cygnus-button
                      [btnTypes]="'btn-accent btn-size-xl btn-icon-lg'"
                      [btnIconRouteLeft]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
                      [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                    >
                      X Large
                    </cygnus-button>

                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Botones iconos -->
  <section id="button-icons">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Botones con íconos</h2>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <div class="flex flex-wrap justify-center gap-4">

                    <!-- COMPONENTE: Botón fantasma -->
                    <cygnus-button
                      [btnTypes]="'btn-ghost btn-icon btn-icon-sm'"
                      [btnIconRouteRight]="'assets/icons/svg/Arrows/chevron-right.svg'"
                    >
                      Leer más
                    </cygnus-button>
                    <!-- COMPONENTE: Botón Outline -->
                    <cygnus-button
                      [btnTypes]="'btn-outlined btn-icon btn-icon-sm'"
                      [btnIconRouteRight]="'assets/icons/svg/Arrows/refresh-cw-02.svg'"
                    >
                      Recargar
                    </cygnus-button>
                    <!-- COMPONENTE: Botón Sólido Ícono izquierdo -->
                    <cygnus-button
                      [btnTypes]="'btn btn-icon'"
                      [btnIconRouteLeft]="'assets/icons/svg/General/upload-cloud-01.svg'"
                    >
                      Ícono izquierdo
                    </cygnus-button>
                    <!-- COMPONENTE: Botón Sólido Ícono derecho -->
                    <cygnus-button
                      [btnTypes]="'btn btn-icon'"
                      [btnIconRouteRight]="'assets/icons/svg/Users/face-smile.svg'"
                    >
                      Ícono derecho
                    </cygnus-button>

                    <cygnus-button-hover-animation
                      [btnTypes]="'btn btn-icon'"
                      [btnAnimationOption]="'A'"
                    > <!-- [btnAnimationOption]="'A'" es el valor por defecto si no se indica -->
                      Sobre Mi
                    </cygnus-button-hover-animation>

                    <cygnus-button-hover-animation
                      [btnTypes]="'btn btn-icon-xs'"
                      [btnAnimationOption]="'B'"
                    >
                      Sobre Mi
                    </cygnus-button-hover-animation>

                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Botones deshabilitados -->
  <section id="button-disabled">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Botón Deshabilitado</h2>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- COMPONENTE: Botón Deshabilitado -->
                  <cygnus-button [btnTypes]="'btn-disabled'" >Botón Deshabilitado</cygnus-button>

              </div>
          </div>
      </div>
  </section>

  <!-- Botones de bloque -->
  <section id="button-block">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
          <div class="p-4">
              <h2 class="mb-4 text-xl font-semibold">Botón de bloque</h2>

              <div class="flex flex-col space-y-3 justify-center">

                <!-- COMPONENTE: Botón fantasma de bloque -->
                <cygnus-button [btnTypes]="'btn-ghost btn-block'" >Botón fantasma de bloque</cygnus-button>
                <!-- COMPONENTE: Botón "outline" de bloque -->
                <cygnus-button [btnTypes]="'btn-outlined btn-block'" >Botón "outline" de bloque</cygnus-button>
                <!-- COMPONENTE: Botón solido de bloque -->
                <cygnus-button [btnTypes]="'btn-primary btn-block'" >Botón sólido de bloque</cygnus-button>

              </div>
          </div>
      </div>
  </section>

  <!-- Button loading icons -->
  <section id="button-loading-icons">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Cargando</h2>
              <p class="mb-8 text-gray-600 text-md">Utilice indicadores dentro de los botones para indicar que
                  una acción se está procesando o llevando a cabo en ese
                  momento. También se puede cambiar el texto del elemento indicador y utilizar el texto del
                  botón
                  según sea necesario..</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- COMPONENTE: Cargando fantasma -->
                  <div class="flex flex-wrap gap-4 item">
                      <button
                          class="flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-lg py-2 px-4 bg-transparent border-transparent text-blue-800 hover:bg-blue-800/5 hover:border-blue-800/5 shadow-none hover:shadow-none gap-2">
                          <svg fill="none" class="w-4 h-4 text-blue-200 animate-spin" viewBox="0 0 64 64"
                              xmlns="http://www.w3.org/2000/svg">
                              <path stroke="currentColor" stroke-width="5" stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M32 3C35.8083 3 39.5794 3.75011 43.0978 5.20749C46.6163 6.66488 49.8132 8.80101 52.5061 11.4939C55.199 14.1868 57.3351 17.3837 58.7925 20.9022C60.2499 24.4206 61 28.1917 61 32C61 35.8083 60.2499 39.5794 58.7925 43.0978C57.3351 46.6163 55.199 49.8132 52.5061 52.5061C49.8132 55.199 46.6163 57.3351 43.0978 58.7925C39.5794 60.2499 35.8083 61 32 61C28.1917 61 24.4206 60.2499 20.9022 58.7925C17.3837 57.3351 14.1868 55.199 11.4939 52.5061C8.801 49.8132 6.66487 46.6163 5.20749 43.0978C3.7501 39.5794 3 35.8083 3 32C3 28.1917 3.75011 24.4206 5.2075 20.9022C6.66489 17.3837 8.80101 14.1868 11.4939 11.4939C14.1868 8.80099 17.3838 6.66487 20.9022 5.20749C24.4206 3.7501 28.1917 3 32 3L32 3Z">
                              </path>
                              <path stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
                                  class="text-blue-800"
                                  d="M32 3C36.5778 3 41.0906 4.08374 45.1692 6.16256C49.2477 8.24138 52.7762 11.2562 55.466 14.9605C58.1558 18.6647 59.9304 22.9531 60.6448 27.4748C61.3591 31.9965 60.9928 36.6232 59.5759 40.9762"
                                  stroke="currentColor"></path>
                          </svg>
                          Cargando
                      </button>

                      <!-- COMPONENTE: Cargando outline -->
                      <button
                          class="flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-lg py-2 px-4 shadow-sm hover:shadow-md bg-transparent border-blue-800 text-blue-800 hover:bg-blue-800 hover:text-blue-50 gap-2">
                          <svg fill="none" class="w-4 h-4 text-blue-200 animate-spin" viewBox="0 0 64 64"
                              xmlns="http://www.w3.org/2000/svg">
                              <path stroke="currentColor" stroke-width="5" stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M32 3C35.8083 3 39.5794 3.75011 43.0978 5.20749C46.6163 6.66488 49.8132 8.80101 52.5061 11.4939C55.199 14.1868 57.3351 17.3837 58.7925 20.9022C60.2499 24.4206 61 28.1917 61 32C61 35.8083 60.2499 39.5794 58.7925 43.0978C57.3351 46.6163 55.199 49.8132 52.5061 52.5061C49.8132 55.199 46.6163 57.3351 43.0978 58.7925C39.5794 60.2499 35.8083 61 32 61C28.1917 61 24.4206 60.2499 20.9022 58.7925C17.3837 57.3351 14.1868 55.199 11.4939 52.5061C8.801 49.8132 6.66487 46.6163 5.20749 43.0978C3.7501 39.5794 3 35.8083 3 32C3 28.1917 3.75011 24.4206 5.2075 20.9022C6.66489 17.3837 8.80101 14.1868 11.4939 11.4939C14.1868 8.80099 17.3838 6.66487 20.9022 5.20749C24.4206 3.7501 28.1917 3 32 3L32 3Z">
                              </path>
                              <path stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
                                  class="text-blue-800"
                                  d="M32 3C36.5778 3 41.0906 4.08374 45.1692 6.16256C49.2477 8.24138 52.7762 11.2562 55.466 14.9605C58.1558 18.6647 59.9304 22.9531 60.6448 27.4748C61.3591 31.9965 60.9928 36.6232 59.5759 40.9762"
                                  stroke="currentColor"></path>
                          </svg>
                          Cargando
                      </button>

                      <!-- COMPONENTE: Cargando sólido -->
                      <button
                          class="flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-lg py-2 px-4 shadow-sm hover:shadow-md bg-blue-600 border-blue-600 text-blue-50 hover:bg-blue-800 hover:border-blue-800 gap-2">
                          <svg fill="none" class="w-4 h-4 text-blue-200 animate-spin" viewBox="0 0 64 64"
                              xmlns="http://www.w3.org/2000/svg">
                              <path stroke="currentColor" stroke-width="5" stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M32 3C35.8083 3 39.5794 3.75011 43.0978 5.20749C46.6163 6.66488 49.8132 8.80101 52.5061 11.4939C55.199 14.1868 57.3351 17.3837 58.7925 20.9022C60.2499 24.4206 61 28.1917 61 32C61 35.8083 60.2499 39.5794 58.7925 43.0978C57.3351 46.6163 55.199 49.8132 52.5061 52.5061C49.8132 55.199 46.6163 57.3351 43.0978 58.7925C39.5794 60.2499 35.8083 61 32 61C28.1917 61 24.4206 60.2499 20.9022 58.7925C17.3837 57.3351 14.1868 55.199 11.4939 52.5061C8.801 49.8132 6.66487 46.6163 5.20749 43.0978C3.7501 39.5794 3 35.8083 3 32C3 28.1917 3.75011 24.4206 5.2075 20.9022C6.66489 17.3837 8.80101 14.1868 11.4939 11.4939C14.1868 8.80099 17.3838 6.66487 20.9022 5.20749C24.4206 3.7501 28.1917 3 32 3L32 3Z">
                              </path>
                              <path stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
                                  class="text-blue-700"
                                  d="M32 3C36.5778 3 41.0906 4.08374 45.1692 6.16256C49.2477 8.24138 52.7762 11.2562 55.466 14.9605C58.1558 18.6647 59.9304 22.9531 60.6448 27.4748C61.3591 31.9965 60.9928 36.6232 59.5759 40.9762"
                                  stroke="currentColor"></path>
                          </svg>
                          Cargando
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Button only icon -->
  <section id="button-icon-only">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Botones de íconos</h2>

              <h4 class="mb-2 text-base">Botones de íconos cuadrados</h4>
              <div class="flex items-center justify-center w-full gap-4 mb-4">
                  <button
                      class="cursor-pointer inline-grid min-h-[40px] min-w-[40px] select-none place-items-center rounded-lg border border-transparent bg-transparent text-center align-middle font-sans text-sm font-medium leading-none text-gray-600 transition-all duration-300 ease-in hover:border-gray-800/5 hover:bg-gray-200 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          class="stroke-2 size-6">
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 5v14m-7-7h14" />
                      </svg>
                  </button>
                  <button
                      class="cursor-pointer inline-grid min-h-[40px] min-w-[40px] select-none place-items-center rounded-lg border border-gray-300 bg-transparent text-center align-middle font-sans text-sm font-medium leading-none text-gray-500 transition-all duration-300 ease-in hover:bg-gray-100 hover:text-blue-600 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          class="stroke-2 size-6">
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 5v14m-7-7h14" />
                      </svg>
                  </button>
                  <button
                      class="cursor-pointer inline-grid min-h-[40px] min-w-[40px] select-none place-items-center rounded-lg border border-blue-600 bg-blue-600 text-center align-middle font-sans text-sm font-medium leading-none text-slate-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          class="stroke-2 size-6">
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 5v14m-7-7h14" />
                      </svg>
                  </button>
              </div>

              <h4 class="mb-2 text-base">Botones de íconos circulares</h4>
              <div class="flex items-center justify-center w-full gap-4 mb-4">
                  <button
                      class="cursor-pointer inline-grid min-h-[40px] min-w-[40px] select-none place-items-center rounded-full border border-transparent bg-transparent text-center align-middle font-sans text-sm font-medium leading-none text-gray-600 transition-all duration-300 ease-in hover:border-gray-800/5 hover:bg-gray-200 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" fill="none"
                          viewBox="0 0 24 24" class="stroke-[1.5] size-6">
                          <path
                              d="M9.95242 9.62272L11.5109 6.31816C11.711 5.89395 12.289 5.89395 12.4891 6.31816L14.0476 9.62272L17.5329 10.1559C17.9801 10.2243 18.1583 10.7996 17.8346 11.1296L15.313 13.7001L15.9081 17.3314C15.9845 17.7978 15.5168 18.1534 15.1167 17.9331L12 16.2177L8.88328 17.9331C8.48316 18.1534 8.01545 17.7978 8.09187 17.3314L8.68695 13.7001L6.16545 11.1296C5.8417 10.7996 6.01993 10.2243 6.46711 10.1559L9.95242 9.62272Z"
                              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path d="M22 12L23 12" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M12 2V1" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M12 23V22" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M20 20L19 19" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M20 4L19 5" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M4 20L5 19" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M4 4L5 5" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M1 12L2 12" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                      </svg>
                  </button>
                  <button
                      class="cursor-pointer inline-grid min-h-[40px] min-w-[40px] select-none place-items-center rounded-full border border-gray-300 bg-transparent text-center align-middle font-sans text-sm font-medium leading-none text-gray-500 transition-all duration-300 ease-in hover:bg-gray-100 hover:text-blue-600 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" fill="none"
                          viewBox="0 0 24 24" class="stroke-[1.5] size-6">
                          <path
                              d="M9.95242 9.62272L11.5109 6.31816C11.711 5.89395 12.289 5.89395 12.4891 6.31816L14.0476 9.62272L17.5329 10.1559C17.9801 10.2243 18.1583 10.7996 17.8346 11.1296L15.313 13.7001L15.9081 17.3314C15.9845 17.7978 15.5168 18.1534 15.1167 17.9331L12 16.2177L8.88328 17.9331C8.48316 18.1534 8.01545 17.7978 8.09187 17.3314L8.68695 13.7001L6.16545 11.1296C5.8417 10.7996 6.01993 10.2243 6.46711 10.1559L9.95242 9.62272Z"
                              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path d="M22 12L23 12" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M12 2V1" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M12 23V22" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M20 20L19 19" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M20 4L19 5" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M4 20L5 19" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M4 4L5 5" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M1 12L2 12" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                      </svg>
                  </button>
                  <button
                      class="cursor-pointer inline-grid min-h-[40px] min-w-[40px] select-none place-items-center rounded-full border border-blue-600 bg-blue-600 text-center align-middle font-sans text-sm font-medium leading-none text-slate-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" fill="none"
                          viewBox="0 0 24 24" class="stroke-[1.5] size-6">
                          <path
                              d="M9.95242 9.62272L11.5109 6.31816C11.711 5.89395 12.289 5.89395 12.4891 6.31816L14.0476 9.62272L17.5329 10.1559C17.9801 10.2243 18.1583 10.7996 17.8346 11.1296L15.313 13.7001L15.9081 17.3314C15.9845 17.7978 15.5168 18.1534 15.1167 17.9331L12 16.2177L8.88328 17.9331C8.48316 18.1534 8.01545 17.7978 8.09187 17.3314L8.68695 13.7001L6.16545 11.1296C5.8417 10.7996 6.01993 10.2243 6.46711 10.1559L9.95242 9.62272Z"
                              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path d="M22 12L23 12" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M12 2V1" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M12 23V22" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M20 20L19 19" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M20 4L19 5" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M4 20L5 19" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M4 4L5 5" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          <path d="M1 12L2 12" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                      </svg>
                  </button>
              </div>

              <h4 class="mb-2 text-base">Tamaños de botones</h4>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <button
                      class="cursor-pointer inline-grid min-h-[32px] min-w-[32px] select-none place-items-center rounded-lg border border-blue-600 bg-blue-600 text-center align-middle font-sans text-sm font-medium leading-none text-blue-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          class="text-white stroke-2 size-6">
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 5v14m-7-7h14" />
                      </svg>
                  </button>

                  <button
                      class="cursor-pointer inline-grid min-h-[40px] min-w-[40px] select-none place-items-center rounded-lg border border-blue-600 bg-blue-600 text-center align-middle font-sans text-sm font-medium leading-none text-blue-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          class="text-white stroke-2 size-6">
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 5v14m-7-7h14" />
                      </svg>
                  </button>

                  <button
                      class="cursor-pointer inline-grid min-h-[44px] min-w-[44px] select-none place-items-center rounded-lg border border-blue-600 bg-blue-600 text-center align-middle font-sans text-sm font-medium leading-none text-blue-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          class="text-white stroke-2 size-6">
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 5v14m-7-7h14" />
                      </svg>
                  </button>

                  <button
                      class="cursor-pointer inline-grid min-h-[48px] min-w-[48px] select-none place-items-center rounded-lg border border-blue-600 bg-blue-600 text-center align-middle font-sans text-sm font-medium leading-none text-blue-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          class="text-white stroke-2 size-6">
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 5v14m-7-7h14" />
                      </svg>
                  </button>

                  <button
                      class="cursor-pointer inline-grid min-h-[52px] min-w-[52px] select-none place-items-center rounded-lg border border-blue-600 bg-blue-600 text-center align-middle font-sans text-sm font-medium leading-none text-blue-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          class="text-white stroke-2 size-6">
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 5v14m-7-7h14" />
                      </svg>
                  </button>
              </div>
          </div>
      </div>
  </section>

  <section id="button-group">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border border-gray-300 mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Grupo de botones predeterminado</h2>
              <p class="mb-8 text-gray-600 text-md">Este ejemplo de componente muestra un grupo de botones
                  interactivo con control detallado sobre la apariencia y el
                  diseño. El uso de clases de utilidad facilita la personalización de cada aspecto del diseño
                  del grupo de botones.</p>
              <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">


                  <h4 class="text-base">Tamaños</h4>
                  <!-- COMPONENTE: Grupo de botones small -->
                  <div class="inline-flex flex-row">
                      <button
                          class="inline-flex px-2.5 py-1.5 font-sans text-sm font-medium leading-none text-center transition-all duration-300 ease-in bg-blue-600 border border-blue-600 rounded-lg rounded-r-none text-blue-50 hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                          Uno
                      </button>
                      <button
                          class="inline-flex px-2.5 py-1.5 font-sans text-sm font-medium leading-none text-center transition-all duration-300 ease-in bg-blue-600 border border-l-0 border-blue-600 rounded-none text-blue-50 hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                          Dos
                      </button>
                      <button
                          class="inline-flex px-2.5 py-1.5 font-sans text-sm font-medium leading-none text-center transition-all duration-300 ease-in bg-blue-600 border border-l-0 border-blue-600 rounded-lg rounded-l-none text-blue-50 hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                          Tres
                      </button>
                  </div>

                  <!-- COMPONENTE: Grupo de botones medium -->
                  <div class="inline-flex flex-row">
                      <button
                          class="inline-flex px-3.5 py-2.5 font-sans text-sm font-medium leading-none text-center transition-all duration-300 ease-in bg-blue-600 border border-blue-600 rounded-lg rounded-r-none text-blue-50 hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                          Uno
                      </button>
                      <button
                          class="inline-flex px-3.5 py-2.5 font-sans text-sm font-medium leading-none text-center transition-all duration-300 ease-in bg-blue-600 border border-l-0 border-blue-600 rounded-none text-blue-50 hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                          Dos
                      </button>
                      <button
                          class="inline-flex px-3.5 py-2.5 font-sans text-sm font-medium leading-none text-center transition-all duration-300 ease-in bg-blue-600 border border-l-0 border-blue-600 rounded-lg rounded-l-none text-blue-50 hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                          Tres
                      </button>
                  </div>

                  <!-- COMPONENTE: Grupo de botones large -->
                  <div class="inline-flex flex-row">
                      <button
                          class="inline-flex px-5 py-3.5 font-sans text-sm font-medium leading-none text-center transition-all duration-300 ease-in bg-blue-600 border border-blue-600 rounded-lg rounded-r-none text-blue-50 hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                          Uno
                      </button>
                      <button
                          class="inline-flex px-5 py-3.5 font-sans text-sm font-medium leading-none text-center transition-all duration-300 ease-in bg-blue-600 border border-l-0 border-blue-600 rounded-none text-blue-50 hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                          Dos
                      </button>
                      <button
                          class="inline-flex px-5 py-3.5 font-sans text-sm font-medium leading-none text-center transition-all duration-300 ease-in bg-blue-600 border border-l-0 border-blue-600 rounded-lg rounded-l-none text-blue-50 hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                          Tres
                      </button>
                  </div>
              </div>

              <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

                  <h4 class="text-base">Variantes</h4>
                  <!-- COMPONENTE: Grupo de botones medium -->
                  <div class="flex flex-col gap-4">
                      <div class="inline-flex flex-row">
                          <button
                              class="inline-flex rounded-lg border border-transparent bg-transparent items-center px-3.5 py-2.5 text-center font-sans text-sm font-medium leading-none text-blue-800 transition-all duration-300 ease-in hover:border-blue-800/5 hover:bg-blue-800/5 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  class="mr-1.5 size-4 stroke-2">
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M5 12a7 7 0 0 1 7-7m4.5 2.5L12 12m10 0c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Zm-9 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
                              </svg>
                              Uno
                          </button>
                          <button
                              class="inline-flex rounded-lg border border-transparent bg-transparent items-center px-3.5 py-2.5 text-center font-sans text-sm font-medium leading-none text-blue-800 transition-all duration-300 ease-in hover:border-blue-800/5 hover:bg-blue-800/5 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  class="mr-1.5 size-4 stroke-2">
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M21 15v1.2c0 1.68 0 2.52-.327 3.162a3 3 0 0 1-1.311 1.311C18.72 21 17.88 21 16.2 21H7.8c-1.68 0-2.52 0-3.162-.327a3 3 0 0 1-1.311-1.311C3 18.72 3 17.88 3 16.2V15m14-5-5 5m0 0-5-5m5 5V3" />
                              </svg>
                              Dos
                          </button>
                          <button
                              class="inline-flex rounded-lg border border-transparent bg-transparent px-3.5 py-2.5 text-center font-sans text-sm font-medium leading-none text-blue-800 transition-all duration-300 ease-in hover:border-blue-800/5 hover:bg-blue-800/5 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  class="mr-1.5 size-4 stroke-2">
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M18.727 14.727a1.5 1.5 0 0 0 .3 1.655l.055.054a1.816 1.816 0 0 1 0 2.573 1.818 1.818 0 0 1-2.573 0l-.055-.055a1.5 1.5 0 0 0-1.654-.3 1.5 1.5 0 0 0-.91 1.373v.155a1.818 1.818 0 1 1-3.636 0V20.1a1.5 1.5 0 0 0-.981-1.373 1.5 1.5 0 0 0-1.655.3l-.054.055a1.818 1.818 0 0 1-3.106-1.287 1.818 1.818 0 0 1 .533-1.286l.054-.055a1.5 1.5 0 0 0 .3-1.654 1.5 1.5 0 0 0-1.372-.91h-.155a1.818 1.818 0 1 1 0-3.636H3.9a1.5 1.5 0 0 0 1.373-.981 1.5 1.5 0 0 0-.3-1.655l-.055-.054A1.818 1.818 0 1 1 7.491 4.99l.054.054a1.5 1.5 0 0 0 1.655.3h.073a1.5 1.5 0 0 0 .909-1.372v-.155a1.818 1.818 0 0 1 3.636 0V3.9a1.499 1.499 0 0 0 .91 1.373 1.5 1.5 0 0 0 1.654-.3l.054-.055a1.817 1.817 0 0 1 2.573 0 1.819 1.819 0 0 1 0 2.573l-.055.054a1.5 1.5 0 0 0-.3 1.655v.073a1.5 1.5 0 0 0 1.373.909h.155a1.818 1.818 0 0 1 0 3.636H20.1a1.499 1.499 0 0 0-1.373.91Z" />
                              </svg>
                              Tres
                          </button>
                      </div>
                      <div class="inline-flex flex-row">
                          <button
                              class="inline-flex rounded-lg items-center rounded-r-none border border-blue-800 bg-transparent px-3.5 py-2.5 text-center font-sans text-sm font-medium leading-none text-blue-800 transition-all duration-300 ease-in hover:bg-blue-800 hover:text-blue-50 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  class="mr-1.5 size-4 stroke-2">
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M5 12a7 7 0 0 1 7-7m4.5 2.5L12 12m10 0c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Zm-9 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
                              </svg>
                              Uno
                          </button>
                          <button
                              class="inline-flex rounded-none border items-center border-l-0 border-blue-800 bg-transparent px-3.5 py-2.5 text-center font-sans text-sm font-medium leading-none text-blue-800 transition-all duration-300 ease-in hover:bg-blue-800 hover:text-blue-50 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  class="mr-1.5 size-4 stroke-2">
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M21 15v1.2c0 1.68 0 2.52-.327 3.162a3 3 0 0 1-1.311 1.311C18.72 21 17.88 21 16.2 21H7.8c-1.68 0-2.52 0-3.162-.327a3 3 0 0 1-1.311-1.311C3 18.72 3 17.88 3 16.2V15m14-5-5 5m0 0-5-5m5 5V3" />
                              </svg>
                              Dos
                          </button>
                          <button
                              class="inline-flex rounded-lg rounded-l-none items-center border border-l-0 border-blue-800 bg-transparent px-3.5 py-2.5 text-center font-sans text-sm font-medium leading-none text-blue-800 transition-all duration-300 ease-in hover:bg-blue-800 hover:text-blue-50 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  class="mr-1.5 size-4 stroke-2">
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M18.727 14.727a1.5 1.5 0 0 0 .3 1.655l.055.054a1.816 1.816 0 0 1 0 2.573 1.818 1.818 0 0 1-2.573 0l-.055-.055a1.5 1.5 0 0 0-1.654-.3 1.5 1.5 0 0 0-.91 1.373v.155a1.818 1.818 0 1 1-3.636 0V20.1a1.5 1.5 0 0 0-.981-1.373 1.5 1.5 0 0 0-1.655.3l-.054.055a1.818 1.818 0 0 1-3.106-1.287 1.818 1.818 0 0 1 .533-1.286l.054-.055a1.5 1.5 0 0 0 .3-1.654 1.5 1.5 0 0 0-1.372-.91h-.155a1.818 1.818 0 1 1 0-3.636H3.9a1.5 1.5 0 0 0 1.373-.981 1.5 1.5 0 0 0-.3-1.655l-.055-.054A1.818 1.818 0 1 1 7.491 4.99l.054.054a1.5 1.5 0 0 0 1.655.3h.073a1.5 1.5 0 0 0 .909-1.372v-.155a1.818 1.818 0 0 1 3.636 0V3.9a1.499 1.499 0 0 0 .91 1.373 1.5 1.5 0 0 0 1.654-.3l.054-.055a1.817 1.817 0 0 1 2.573 0 1.819 1.819 0 0 1 0 2.573l-.055.054a1.5 1.5 0 0 0-.3 1.655v.073a1.5 1.5 0 0 0 1.373.909h.155a1.818 1.818 0 0 1 0 3.636H20.1a1.499 1.499 0 0 0-1.373.91Z" />
                              </svg>
                              Tres
                          </button>
                      </div>
                      <div class="inline-flex flex-row">
                          <button
                              class="inline-flex rounded-lg rounded-r-none border items-center border-blue-600 bg-blue-600 px-3.5 py-2.5 text-center font-sans text-sm font-medium leading-none text-blue-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  class="mr-1.5 size-4 stroke-2">
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M5 12a7 7 0 0 1 7-7m4.5 2.5L12 12m10 0c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Zm-9 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
                              </svg>
                              Uno
                          </button>
                          <button
                              class="inline-flex rounded-none border border-l-0 border-blue-600 bg-blue-600 px-3.5 py-2.5 text-center font-sans text-sm font-medium leading-none text-blue-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  class="mr-1.5 size-4 stroke-2">
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M21 15v1.2c0 1.68 0 2.52-.327 3.162a3 3 0 0 1-1.311 1.311C18.72 21 17.88 21 16.2 21H7.8c-1.68 0-2.52 0-3.162-.327a3 3 0 0 1-1.311-1.311C3 18.72 3 17.88 3 16.2V15m14-5-5 5m0 0-5-5m5 5V3" />
                              </svg>
                              Dos
                          </button>
                          <button
                              class="inline-flex rounded-lg rounded-l-none border border-l-0 border-blue-600 bg-blue-600 px-3.5 py-2.5 text-center font-sans text-sm font-medium leading-none text-blue-50 transition-all duration-300 ease-in hover:border-blue-800 hover:bg-blue-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:shadow-none">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  class="mr-1.5 size-4 stroke-2">
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                  <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M18.727 14.727a1.5 1.5 0 0 0 .3 1.655l.055.054a1.816 1.816 0 0 1 0 2.573 1.818 1.818 0 0 1-2.573 0l-.055-.055a1.5 1.5 0 0 0-1.654-.3 1.5 1.5 0 0 0-.91 1.373v.155a1.818 1.818 0 1 1-3.636 0V20.1a1.5 1.5 0 0 0-.981-1.373 1.5 1.5 0 0 0-1.655.3l-.054.055a1.818 1.818 0 0 1-3.106-1.287 1.818 1.818 0 0 1 .533-1.286l.054-.055a1.5 1.5 0 0 0 .3-1.654 1.5 1.5 0 0 0-1.372-.91h-.155a1.818 1.818 0 1 1 0-3.636H3.9a1.5 1.5 0 0 0 1.373-.981 1.5 1.5 0 0 0-.3-1.655l-.055-.054A1.818 1.818 0 1 1 7.491 4.99l.054.054a1.5 1.5 0 0 0 1.655.3h.073a1.5 1.5 0 0 0 .909-1.372v-.155a1.818 1.818 0 0 1 3.636 0V3.9a1.499 1.499 0 0 0 .91 1.373 1.5 1.5 0 0 0 1.654-.3l.054-.055a1.817 1.817 0 0 1 2.573 0 1.819 1.819 0 0 1 0 2.573l-.055.054a1.5 1.5 0 0 0-.3 1.655v.073a1.5 1.5 0 0 0 1.373.909h.155a1.818 1.818 0 0 1 0 3.636H20.1a1.499 1.499 0 0 0-1.373.91Z" />
                              </svg>
                              Tres
                          </button>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </section>

</main>






<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <!-- Botones secoundarios grises -->
  <section id="button-block">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 flex flex-col space-y-3">
              <h2 class="mb-4 text-xl font-semibold">Botón de bloque</h2>

                  <!-- COMPONENTE: Botón de bloque -->
                  <cygnus-button [btnTypes]="'btn-primary btn-block'" >Botón de bloque</cygnus-button>
                  <cygnus-button [btnTypes]="'btn-indigo btn-block'" >Botón de bloque</cygnus-button>
                  <cygnus-button [btnTypes]="'btn-accent btn-block'" >Botón de bloque</cygnus-button>

          </div>

      </div>
  </section>

  <!-- Button loading icons -->
  <section id="button-loading-icons">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Cargando</h2>
              <p class="mb-8 text-gray-600 text-md">Utilice indicadores dentro de los botones para indicar que
                  una acción se está procesando o llevando a cabo en ese
                  momento. También se puede cambiar el texto del elemento indicador y utilizar el texto del
                  botón
                  según sea necesario..</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- Botón con loading + texto -->
                  <cygnus-button
                    [btnTypes]="'btn-success btn-size-sm btn-icon'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-4'"
                  >
                    Cargando
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-warning btn-size-sm btn-icon'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-5'"
                  >
                    Cargando
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-error btn-size-sm btn-icon'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-6'"
                  >
                    Cargando
                  </cygnus-button>

                  <!-- Botón con solo loading -->
                  <cygnus-button
                    [btnTypes]="'btn-pink btn-size-sm btn-icon btn-icon-only'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-6'"
                  >
                  </cygnus-button>

                  <cygnus-button
                    [btnTypes]="'btn-purple btn-size-sm btn-icon btn-icon-only'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-5'"
                  >
                  </cygnus-button>

                  <cygnus-button
                    [btnTypes]="'btn-indigo btn-size-sm btn-icon btn-icon-only'"
                    [btnIsLoading]="true"
                    [btnIconLoadingSize]="'size-4'"
                  >
                  </cygnus-button>

              </div>
          </div>

      </div>
  </section>

  <!-- Button only icon -->
  <section id="button-icon-only">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Botón icono simple</h2>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                <cygnus-button
                  [btnTypes]="'btn btn-icon-only'"
                  [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                >
                </cygnus-button>
                <cygnus-button
                  [btnTypes]="'btn-accent btn-circle btn-icon-only'"
                  [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                >
                </cygnus-button>
                <cygnus-button
                  [btnTypes]="'btn-ghost btn-circle btn-icon-only'"
                  [btnIconRouteRight]="'assets/icons/svg/Alerts&Feedback/thumbs-up.svg'"
                >
                </cygnus-button>
                <cygnus-button
                  [btnTypes]="'btn-success btn-circle btn-icon-only'"
                  [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                >
                </cygnus-button>

                <cygnus-button
                  [btnTypes]="'btn-primary '"
                  [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                >
                  Messages
                  <!-- COMPONENTE: Badge XS -->
                  <cygnus-badge [badgeTypes]="'badge-xs'" [badgeText]="'2'" />
                </cygnus-button>

                <cygnus-button
                  [btnTypes]="'btn btn-circle'"
                >
                1
                </cygnus-button>

              </div>
          </div>

      </div>
  </section>

  <section id="button-group">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Grupo de botones predeterminado</h2>
              <p class="mb-8 text-gray-600 text-md">Este ejemplo de componente muestra un grupo de botones
                  interactivo con control detallado sobre la apariencia y el
                  diseño. El uso de clases de utilidad facilita la personalización de cada aspecto del diseño
                  del grupo de botones.</p>

              <div class="flex items-center justify-center w-full gap-4 mb-4">
                <div class="flex row">
                  <cygnus-button
                    [btnTypes]="'btn-secondary btn-group-left'"
                  >
                    left btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-secondary btn-group-middle'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-secondary btn-group-right'"
                  >
                    right btn
                  </cygnus-button>
                </div>
              </div>

              <div class="flex items-center justify-center w-full gap-4 mb-4">
                <div class="flex row">
                  <cygnus-button
                    [btnTypes]="'btn-indigo btn-group-left'"
                  >
                    left btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-indigo btn-group-middle'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-indigo btn-group-right'"
                  >
                    right btn
                  </cygnus-button>
                </div>
              </div>

              <div class="flex items-center justify-center w-full gap-4 mb-4">
                <div class="flex row">
                  <cygnus-button
                    [btnTypes]="'btn-success btn-group-left'"
                  >
                    left btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-warning btn-group-middle'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-error btn-group-middle'"
                  >
                    middle btn
                  </cygnus-button>
                  <cygnus-button
                    [btnTypes]="'btn-purple btn-group-right'"
                  >
                    right btn
                  </cygnus-button>
                </div>
              </div>

          </div>

      </div>
  </section>

</main>
