<button [class]="btnAllClasses()" type="button">
  @if (btnIconExist && btnIconPosition == 'left') {
    @if (btnIsLoading()) {
      <div [class]="BTN_ICON_LOADING + (!btnIconOnly ? ' mr-2 ': ' ') + btnIconLoadingSize() "  role="status" aria-label="loading">
        <span class="sr-only">Cargando...</span>
      </div>
    } @else {
      <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'mr-2' : ''"
        [width]="btnIconSize"
        [height]="btnIconSize"
        [color]="btnIconColor"
        [route]="btnIconRoute()"
      /> <!-- 'assets/icons/svg/Users/user-square.svg' -->
    }

  }
    <ng-content></ng-content>
  @if (btnIconExist && btnIconPosition == 'right') {
    @if (btnIsLoading()) {
      <div [class]="BTN_ICON_LOADING + (!btnIconOnly ? ' mr-2 ': ' ') + btnIconLoadingSize()"  role="status" aria-label="loading">
        <span class="sr-only">Cargando...</span>
      </div>
    } @else {
      <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'ms-2' : ''"
        [width]="btnIconSize"
        [height]="btnIconSize"
        [color]="btnIconColor"
        [route]="btnIconRoute()"
      />
    }

  }
</button>

