<section id="simple-alert">
  <div
    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta simple</h2>
      <p class="mb-8 text-gray-600 text-md">Este ejemplo de alerta con texto blanco y fondo gris
          oscuro crea una relación de alto contraste que mejora la legibilidad y atrae la atención.</p>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <!-- COMPONENTE: Alerta de información -->
        <cygnus-alert-simple
          [alertTypes]="'alert-primary'"
          [alertTitle]="'¡Alerta de información!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de error -->
         <cygnus-alert-simple
          [alertTypes]="'alert-red'"
          [alertTitle]="'¡Alerta de error!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de éxito -->
         <cygnus-alert-simple
          [alertTypes]="'alert-green'"
          [alertTitle]="'¡Alerta de éxito!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de advertencia -->
         <cygnus-alert-simple
          [alertTypes]="'alert-yellow'"
          [alertTitle]="'¡Alerta de advertencia!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-gray'"
          [alertTitle]="'¡Alerta de simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />
      </div>
    </div>
  </div>
</section>

<section id="alert-icon">
  <div
    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta con icono</h2>
      <p class="mb-8 text-gray-600 text-md">Puede agregar un ícono al comienzo del componente de
          alerta usando la etiqueta <code>svg</code>.</p>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Alerta de información con ícono -->
          <div class="flex items-center w-full p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50"
              role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20"
                  fill="none" class="size-4 me-2 shrink-0">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              <span class="sr-only">Información</span>
              <div>
                  <span class="font-medium">¡Alerta de información!</span> Cambie algunas cosas e
                  intente enviar de nuevo.
              </div>
          </div>

          <!-- COMPONENTE: Alerta de error con ícono -->
          <div class="flex items-center w-full p-4 mb-4 text-sm text-red-700 rounded-lg bg-red-50"
              role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 shrink-0" viewBox="0 0 20 20"
                  fill="none">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              <span class="sr-only">Info</span>
              <div>
                  <span class="font-medium">¡Alerta de error!</span> Cambie algunas cosas e intente
                  enviar
                  de nuevo.
              </div>
          </div>

          <!-- COMPONENTE: Alerta de éxito con ícono -->
          <div class="flex items-center w-full p-4 mb-4 text-sm text-green-700 rounded-lg bg-green-50"
              role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 shrink-0" viewBox="0 0 20 20"
                  fill="none">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              <span class="sr-only">Info</span>
              <div>
                  <span class="font-medium">¡Alerta de éxito!</span> Cambie algunas cosas e intente
                  enviar
                  de nuevo.
              </div>
          </div>

          <!-- COMPONENTE: Alerta de advertencia con ícono -->
          <div class="flex items-center w-full p-4 mb-4 text-sm text-yellow-700 rounded-lg bg-yellow-50"
              role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 shrink-0" viewBox="0 0 20 20"
                  fill="none">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              <span class="sr-only">Info</span>
              <div>
                  <span class="font-medium">¡Alerta de advertencia!</span> Cambie algunas cosas e
                  intente enviar de nuevo.
              </div>
          </div>

          <!-- COMPONENTE: Alerta de simple con ícono -->
          <div class="flex items-center w-full p-4 text-sm text-gray-700 rounded-lg bg-gray-50"
              role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 shrink-0" viewBox="0 0 20 20"
                  fill="none">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              <span class="sr-only">Info</span>
              <div>
                  <span class="font-medium">¡Alerta simple!</span> Cambie algunas cosas e intente
                  enviar de nuevo.
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="alert-equis">
  <div
    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alertas con equis de cierre</h2>

      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Alerta de información con ícono equis -->
          <div role="alert"
              class="relative flex items-center w-full p-3 pr-6 mt-3 text-sm text-blue-700 border border-blue-300 rounded-md sm:p-3 bg-blue-50">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 shrink-0" viewBox="0 0 20 20"
                  fill="none">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              Una simple alerta rellena para mostrar el mensaje información.
              <button
                  class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-blue-700 hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
                  type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" class="w-5 h-5" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
                      </path>
                  </svg>
              </button>
          </div>

      </div>

      <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Alerta simple con ícono equis -->
          <div role="alert"
              class="relative flex items-center w-full p-3 pr-6 mt-3 text-sm text-gray-700 border border-gray-300 rounded-md sm:p-3 bg-gray-50">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 shrink-0" viewBox="0 0 20 20"
                  fill="none">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              Una simple alerta rellena para mostrar el mensaje de información secundario.
              <button
                  class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-gray-700 hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
                  type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" class="w-5 h-5" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
                      </path>
                  </svg>
              </button>
          </div>

      </div>

      <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Alerta de error con ícono equis -->
          <div role="alert"
              class="relative flex items-center w-full p-3 pr-6 mt-3 text-sm text-red-700 border border-red-300 rounded-md s:p-3 bg-red-50">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 shrink-0" viewBox="0 0 20 20"
                  fill="none">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              Una simple alerta rellena para mostrar el mensaje.
              <button
                  class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-red-700 hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
                  type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" class="w-5 h-5" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
                      </path>
                  </svg>
              </button>
          </div>

      </div>

      <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Alerta de advetencia con ícono equis -->
          <div role="alert"
              class="relative flex items-center w-full p-3 pr-6 mt-3 text-sm border rounded-md sm:p-3 text-warning-700 bg-warning-50 border-warning-300">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 shrink-0" viewBox="0 0 20 20"
                  fill="none">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              Una simple alerta rellena para mostrar el mensaje de advetencia.
              <button
                  class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-warning-700 hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
                  type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" class="w-5 h-5" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
                      </path>
                  </svg>
              </button>
          </div>

      </div>

      <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Alerta de éxito con ícono equis -->
          <div role="alert"
              class="relative flex items-center w-full p-3 pr-6 mt-3 text-sm text-green-700 border border-green-300 rounded-md sm:p-3 bg-green-50">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 shrink-0" viewBox="0 0 20 20"
                  fill="none">
                  <g clip-path="url(#clip0_6356_5514)">
                      <path
                          d="M9.99996 13.3333V9.99996M9.99996 6.66663H10.0083M18.3333 9.99996C18.3333 14.6023 14.6023 18.3333 9.99996 18.3333C5.39759 18.3333 1.66663 14.6023 1.66663 9.99996C1.66663 5.39759 5.39759 1.66663 9.99996 1.66663C14.6023 1.66663 18.3333 5.39759 18.3333 9.99996Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
                  <defs>
                      <clipPath id="clip0_6356_5514">
                          <rect width="20" height="20" fill="white" />
                      </clipPath>
                  </defs>
              </svg>
              Una simple alerta rellena para mostrar el mensaje de éxito.
              <button
                  class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-green-700 hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
                  type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" class="w-5 h-5" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
                      </path>
                  </svg>
              </button>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="alert-content">
  <div
    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta con contenido</h2>
      <p class="mb-8 text-gray-600 text-md">Utilice el siguiente ejemplo para utilizar un componente
          de alerta con elementos de contenido como título y descripción</p>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Alerta de contenido adicional informativa -->
          <div id="alert-additional-content-1"
              class="p-4 mb-4 text-blue-800 border border-blue-300 rounded-lg bg-blue-50"
              role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>
                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium">Esto es una alerta informativa</h3>
              </div>
              <div class="mt-2 mb-4 text-sm">
                  Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un
                  poco
                  más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con
                  este tipo de contenido.
              </div>
              <div class="flex">
                  <button
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg px-3 py-2 shadow-sm hover:shadow bg-blue-600 border-blue-600 text-blue-50 hover:bg-blue-800 hover:border-blue-800 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                          class="mr-2 size-4">

                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M2.42 12.713c-.136-.215-.204-.323-.242-.49a1.173 1.173 0 0 1 0-.446c.038-.167.106-.274.242-.49C3.546 9.505 6.895 5 12
                              5s8.455 4.505 9.58 6.287c.137.215.205.323.243.49.029.125.029.322 0 .446-.038.167-.106.274-.242.49C20.455 14.495 17.105
                              19 12 19c-5.106 0-8.455-4.505-9.58-6.287Z" />
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                      </svg>
                      Ver más
                  </button>
                  <button
                      class="flex cursor-pointer justify-center items-center border font-medium font-sans text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg py-2.5 px-4 shadow-sm hover:shadow-md bg-transparent border-blue-700 text-blue-700 hover:bg-blue-800 hover:text-blue-50 focus:ring-2 focus:ring-blue-300">
                      Cerrar
                  </button>
              </div>
          </div>

          <!-- Alert width full -->
          <div class="p-4 mb-8 text-blue-800 border border-blue-300 rounded-lg bg-blue-50"
              role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>

                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium">Esto es una alerta informativa</h3>
              </div>
              <div class="mt-2 mb-4 text-sm">
                  Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un
                  poco
                  más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con
                  este tipo de contenido.
              </div>
              <div class="flex">
                  <button data-width="full"
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-lg px-3 py-2 shadow-sm hover:shadow bg-blue-600 border-blue-600 text-blue-50 hover:bg-blue-800 hover:border-blue-800 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                          class="mr-2 size-3">
                          <path fill-rule="evenodd"
                              d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                              clip-rule="evenodd" />
                      </svg>
                      Aceptar
                  </button>
              </div>
          </div>

          <!-- COMPONENTE: Alerta de contenido adicional de error -->
          <div id="alert-additional-content-2"
              class="p-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>
                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium">Esta es una alerta de error</h3>
              </div>
              <div class="mt-2 mb-4 text-sm">
                  Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un
                  poco
                  más largo para que puedas ver
                  cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
              </div>
              <div class="flex">
                  <button
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg px-3 py-2 shadow-sm hover:shadow bg-red-600 border-red-600 text-red-50 hover:bg-red-700 hover:border-red-700 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                          class="mr-2 size-4">

                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"
                              d="M2.42 12.713c-.136-.215-.204-.323-.242-.49a1.173 1.173 0 0 1 0-.446c.038-.167.106-.274.242-.49C3.546 9.505 6.895 5 12
                                                                      5s8.455 4.505 9.58 6.287c.137.215.205.323.243.49.029.125.029.322 0 .446-.038.167-.106.274-.242.49C20.455 14.495 17.105
                                                                      19 12 19c-5.106 0-8.455-4.505-9.58-6.287Z" />
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                      </svg>
                      Ver más
                  </button>
                  <button
                      class="flex cursor-pointer justify-center items-center border font-medium font-sans text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg py-2.5 px-4 shadow-sm hover:shadow-md bg-transparent border-red-700 text-red-700 hover:bg-red-700 hover:text-red-50 focus:ring-2 focus:ring-red-300">
                      Cerrar
                  </button>
              </div>
          </div>

          <!-- Alert width full -->
          <div class="p-4 mb-8 text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>

                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium">Bloqueo de cuenta</h3>
              </div>
              <div class="mt-2 mb-4 text-sm">
                  Tu cuenta ha sido bloqueada por “X” cantidad
                  de intentos fallidos. Espera 30 minutos o comunícate con recursos humanos.
              </div>
              <div class="flex">
                  <button data-width="full"
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-lg px-3 py-2 shadow-sm hover:shadow bg-red-600 border-red-600 text-red-50 hover:bg-red-700 hover:border-red-700 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                          class="mr-2 size-4">
                          <path fill-rule="evenodd"
                              d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                              clip-rule="evenodd" />
                      </svg>
                      Llamar a recursos humanos
                  </button>
              </div>
          </div>

          <!-- COMPONENTE: Alerta de contenido adicional de éxito -->
          <div id="alert-additional-content-3"
              class="p-4 mb-4 text-green-800 border border-green-300 rounded-lg bg-green-50"
              role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>
                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium">Esta es una alerta de éxito</h3>
              </div>
              <div class="mt-2 mb-4 text-sm">
                  Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un
                  poco
                  más largo para que puedas ver
                  cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
              </div>
              <div class="flex">
                  <button
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg px-3 py-2 shadow-sm hover:shadow bg-green-600 border-green-600 text-green-50 hover:bg-green-700 hover:border-green-700 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                          class="mr-2 size-4">

                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"
                              d="M2.42 12.713c-.136-.215-.204-.323-.242-.49a1.173 1.173 0 0 1 0-.446c.038-.167.106-.274.242-.49C3.546 9.505 6.895 5 12
                                                                                                          5s8.455 4.505 9.58 6.287c.137.215.205.323.243.49.029.125.029.322 0 .446-.038.167-.106.274-.242.49C20.455 14.495 17.105
                                                                                                          19 12 19c-5.106 0-8.455-4.505-9.58-6.287Z" />
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                      </svg>
                      Ver más
                  </button>
                  <button
                      class="flex cursor-pointer justify-center items-center border font-medium font-sans text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg py-2.5 px-4 shadow-sm hover:shadow-md bg-transparent border-green-700 text-green-700 hover:bg-green-700 hover:text-green-50 focus:ring-2 focus:ring-green-300">
                      Cerrar
                  </button>
              </div>
          </div>

          <!-- Alert width full -->
          <div class="p-4 mb-8 text-green-800 border border-green-300 rounded-lg bg-green-50"
              role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>

                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium">Esta es una alerta de éxito</h3>
              </div>
              <div class="mt-2 mb-4 text-sm">
                  Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un
                  poco
                  más largo para que puedas ver
                  cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
              </div>
              <div class="flex">
                  <button data-width="full"
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-lg px-3 py-2 shadow-sm hover:shadow bg-green-600 border-green-600 text-green-50 hover:bg-green-800 hover:border-green-800 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                          class="mr-2 size-3">
                          <path fill-rule="evenodd"
                              d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                              clip-rule="evenodd" />
                      </svg>
                      Aceptar
                  </button>
              </div>
          </div>

          <!-- COMPONENTE: Alerta de contenido adicional de advertencia -->
          <div id="alert-additional-content-4"
              class="p-4 mb-4 text-yellow-800 border rounded-lg border-warning-300 bg-warning-50 "
              role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>
                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium">Esta es una alerta de advertencia</h3>
              </div>
              <div class="mt-2 mb-4 text-sm">
                  Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un
                  poco
                  más largo para que puedas ver
                  cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
              </div>
              <div class="flex">
                  <button
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg px-3 py-2 shadow-sm hover:shadow bg-amber-600 border-amber-600 text-amber-50 hover:bg-amber-700 hover:border-amber-700 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                          class="mr-2 size-4">

                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"
                              d="M2.42 12.713c-.136-.215-.204-.323-.242-.49a1.173 1.173 0 0 1 0-.446c.038-.167.106-.274.242-.49C3.546 9.505 6.895 5 12
                                                                                                                                              5s8.455 4.505 9.58 6.287c.137.215.205.323.243.49.029.125.029.322 0 .446-.038.167-.106.274-.242.49C20.455 14.495 17.105
                                                                                                                                              19 12 19c-5.106 0-8.455-4.505-9.58-6.287Z" />
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                      </svg>
                      Ver más
                  </button>
                  <button
                      class="flex cursor-pointer justify-center items-center border font-medium font-sans text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg py-2.5 px-4 shadow-sm hover:shadow-md bg-transparent border-amber-700 text-amber-700 hover:bg-amber-700 hover:text-amber-50 focus:ring-2 focus:ring-amber-300">
                      Cerrar
                  </button>
              </div>
          </div>

          <!-- Alert width full -->
          <div class="p-4 mb-8 border rounded-lg text-amber-800 border-amber-300 bg-amber-50"
              role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>

                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium">Esta es una alerta de éxito</h3>
              </div>
              <div class="mt-2 mb-4 text-sm">
                  Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un
                  poco
                  más largo para que puedas ver
                  cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
              </div>
              <div class="flex">
                  <button data-width="full"
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-lg px-3 py-2 shadow-sm hover:shadow bg-amber-600 border-amber-600 text-amber-50 hover:bg-amber-800 hover:border-amber-800 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                          class="mr-2 size-3">
                          <path fill-rule="evenodd"
                              d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                              clip-rule="evenodd" />
                      </svg>
                      Aceptar
                  </button>
              </div>
          </div>

          <!-- COMPONENTE: Alerta de contenido adicional simple -->
          <div id="alert-additional-content-5"
              class="p-4 border border-gray-300 rounded-lg bg-gray-50 " role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>
                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium text-gray-800 ">Esta es una alerta simple</h3>
              </div>
              <div class="mt-2 mb-4 text-sm text-gray-800 ">
                  Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un
                  poco
                  más largo para que puedas ver
                  cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
              </div>
              <div class="flex">

                  <button
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg px-3 py-2 shadow-sm hover:shadow bg-gray-600 border-gray-600 text-gray-50 hover:bg-gray-700 hover:border-gray-700 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                          class="mr-2 size-4">

                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"
                              d="M2.42 12.713c-.136-.215-.204-.323-.242-.49a1.173 1.173 0 0 1 0-.446c.038-.167.106-.274.242-.49C3.546 9.505 6.895 5 12
                                                                                                                                              5s8.455 4.505 9.58 6.287c.137.215.205.323.243.49.029.125.029.322 0 .446-.038.167-.106.274-.242.49C20.455 14.495 17.105
                                                                                                                                              19 12 19c-5.106 0-8.455-4.505-9.58-6.287Z" />
                          <path stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                      </svg>
                      Ver más
                  </button>
                  <button
                      class="flex cursor-pointer justify-center items-center border font-medium font-sans text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-xs rounded-lg py-2.5 px-4 shadow-sm hover:shadow-md bg-transparent border-gray-700 text-gray-700 hover:bg-gray-700 hover:text-gray-50 focus:ring-2 focus:ring-gray-300">
                      Cerrar
                  </button>
              </div>
          </div>

          <!-- Alert width full -->
          <div class="p-4 mb-8 text-gray-800 border border-gray-300 rounded-lg bg-gray-50"
              role="alert">
              <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-5 shrink-0 me-2" fill="none"
                      viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 16v-4m0-4h.01M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" />
                  </svg>

                  <span class="sr-only">Info</span>
                  <h3 class="text-lg font-medium">Esta es una alerta de éxito</h3>
              </div>
              <div class="mt-2 mb-4 text-sm">
                  Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un
                  poco
                  más largo para que puedas ver
                  cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
              </div>
              <div class="flex">
                  <button data-width="full"
                      class="cursor-pointer flex justify-center items-center border font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-lg px-3 py-2 shadow-sm hover:shadow bg-gray-600 border-gray-600 text-gray-50 hover:bg-gray-800 hover:border-gray-800 me-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                          class="mr-2 size-3">
                          <path fill-rule="evenodd"
                              d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                              clip-rule="evenodd" />
                      </svg>
                      Aceptar
                  </button>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
