<section id="simple-alert">
  <div
    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta simple</h2>
      <p class="mb-8 text-gray-600 text-md">Este ejemplo de alerta con texto blanco y fondo gris
          oscuro crea una relación de alto contraste que mejora la legibilidad y atrae la atención.</p>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <!-- COMPONENTE: Alerta de información -->
        <cygnus-alert-simple
          [alertTypes]="'alert-primary'"
          [alertTitle]="'¡Alerta de información!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de error -->
         <cygnus-alert-simple
          [alertTypes]="'alert-red'"
          [alertTitle]="'¡Alerta de error!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de éxito -->
         <cygnus-alert-simple
          [alertTypes]="'alert-green'"
          [alertTitle]="'¡Alerta de éxito!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de advertencia -->
         <cygnus-alert-simple
          [alertTypes]="'alert-yellow'"
          [alertTitle]="'¡Alerta de advertencia!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-gray'"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />
      </div>
    </div>
  </div>
</section>

<section id="alert-icon">
  <div
    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta con icono</h2>
      <p class="mb-8 text-gray-600 text-md">Puede agregar un ícono al comienzo del componente de
          alerta usando la etiqueta <code>svg</code>.</p>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <!-- COMPONENTE: Alerta de información -->
        <cygnus-alert-simple
          [alertTypes]="'alert-primary'"
          [alertIcon]="true"
          [alertTitle]="'¡Alerta de información!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de error -->
         <cygnus-alert-simple
          [alertTypes]="'alert-red'"
          [alertIcon]="true"
          [alertTitle]="'¡Alerta de error!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de éxito -->
         <cygnus-alert-simple
          [alertTypes]="'alert-green'"
          [alertIcon]="true"
          [alertTitle]="'¡Alerta de éxito!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de advertencia -->
         <cygnus-alert-simple
          [alertTypes]="'alert-yellow'"
          [alertIcon]="true"
          [alertTitle]="'¡Alerta de advertencia!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-gray'"
          [alertIcon]="true"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

      </div>
    </div>
  </div>
</section>

<section id="alert-equis">
  <div
    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alertas con equis de cierre</h2>

      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <!-- COMPONENTE: Alerta de información -->
        <cygnus-alert-simple
          [alertTypes]="'alert-primary'"
          [alertIcon]="true"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta de información!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de error -->
         <cygnus-alert-simple
          [alertTypes]="'alert-red'"
          [alertIcon]="true"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta de error!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de éxito -->
         <cygnus-alert-simple
          [alertTypes]="'alert-green'"
          [alertIcon]="true"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta de éxito!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de advertencia -->
         <cygnus-alert-simple
          [alertTypes]="'alert-yellow'"
          [alertIcon]="true"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta de advertencia!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-gray'"
          [alertIcon]="true"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

      </div>
    </div>
  </div>
</section>

<section id="alert-content">
  <div
    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta con contenido</h2>
      <p class="mb-8 text-gray-600 text-md">Utilice el siguiente ejemplo para utilizar un componente
          de alerta con elementos de contenido como título y descripción</p>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <cygnus-alert-contenido
          [alertTypes]="'alert-primary'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <cygnus-alert-contenido
          [btnIsFull]="true"
          [alertTypes]="'alert-primary'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <cygnus-alert-contenido
          [alertTypes]="'alert-red'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <cygnus-alert-contenido
          [btnIsFull]="true"
          [alertTypes]="'alert-red'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <cygnus-alert-contenido
          [alertTypes]="'alert-green'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <cygnus-alert-contenido
          [btnIsFull]="true"
          [alertTypes]="'alert-green'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <cygnus-alert-contenido
          [alertTypes]="'alert-yellow'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <cygnus-alert-contenido
          [btnIsFull]="true"
          [alertTypes]="'alert-yellow'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <cygnus-alert-contenido
          [alertTypes]="'alert-gray'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <cygnus-alert-contenido
          [btnIsFull]="true"
          [alertTypes]="'alert-gray'"
          [alertTitle]="'Esto es una alerta informativa'"
          [alertContent]="`
            Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
          `"
        />

        <!-- LOGIN -->
        <cygnus-alert-contenido
          [alertTypes]="'alert-yellow'"
          [alertWithBtn]="false"
          [alertTitle]="'Alerta de bloqueo de cuenta'"
          [alertContent]="`
            Has hecho “2” intentos de inicio de sesión.
            Tienes uno intento más, si no, se bloqueará tu cuenta y tendrás que esperar 30 minutos.
          `"
        />

      </div>
    </div>
  </div>
</section>
