<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Pestañas</h1>
    <p class="mt-4 text-gray-600 text-md">Las pestañas responsivas crean una jerarquía de navegación
      secundaria para su sitio web.

      Las pestañas son componentes que representan y muestran subsecciones a los usuarios. Organizan el
      contenido en
      categorías para facilitar el acceso y lograr una aplicación más ordenada. Las pestañas también
      permiten a los usuarios
      cambiar entre diferentes vistas o secciones de contenido dentro de la misma ventana o espacio.

      Pueden ser horizontales o verticales, según los requisitos de diseño. El diseño visual de las
      pestañas suele incluir una
      indicación clara de qué pestaña está activa en ese momento, a menudo mediante color, resaltado o
      subrayado.
    </p>
  </header>

  <section id="select-search-simple">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="text-xl font-semibold mb-2">Pestañas predeterminadas</h2>
        <p class="mb-8 text-gray-600 text-md">Este ejemplo muestra un componente de pestañas
            implementado con HTML, diseñado con Tailwind CSS y flexible para
            responder, ajustándose bien a un contenedor de ancho completo (w-full).</p>

        <cygnus-tabs [tabsArr]="tabsArr" />

      </div>

    </div>
  </section>

  <section id="select-search-simple">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="text-xl font-semibold mb-2">Pestañas predeterminadas</h2>
        <p class="mb-8 text-gray-600 text-md">Este ejemplo muestra un componente de pestañas
            implementado con HTML, diseñado con Tailwind CSS y flexible para
            responder, ajustándose bien a un contenedor de ancho completo (w-full).</p>

        <cygnus-tabs [tabsArr]="tabsArr" [showIcon]="true" />

      </div>

    </div>
  </section>

  <section id="select-search-simple">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="text-xl font-semibold mb-2">Pestañas con contenido</h2>
        <p class="mb-8 text-gray-600 text-md">Este ejemplo muestra un componente de pestañas, incluyendo
            tanto las propias pestañas como las secciones de contenido
            asociadas a cada pestaña. Puede hacer referencia a un contenido específico para cada opción
            de pestaña utilizando el
            atributo <code class="code">data-tab-content</code>.</p>

        <cygnus-tabs [tabsArr]="tabsArr" [showIcon]="true" [showTabInnerHTML]="true" />

      </div>

    </div>
  </section>

</main>
