<div class="flex">
  <div class="inline-block" [id]="drowpdownSearchId()" >
    <button [id]="drowpdownSearchBtnId()" [class]="TW_CLASS.DROPDOWN_MENU_FILTER"  (click)="toggleInvisible()"
    type="button">
      <span class="whitespace-nowrap"  >{{menuSearchText()}}</span>
      <lib-ngx-cygnus-icons class="inline-flex items-center h-2.5 ms-2.5"
        [width]="'19px'"
        [height]="'19px'"
        [color]="'#101828'"
        [route]="'assets/icons/backups/chevron-down.svg'"
      />
    </button>
    <ul [class]="TW_CLASS.UL_BASE"
      [class.invisible]="isInvisible()"
    >
      @for (item of menuSearchContentArr(); track $index; let i = $index;) {
        <li role="menuitem" (click)="selectMenu(item.key, i)"
          [class]="TW_CLASS.LI_BASE">
          {{item.key}}
        </li>
      }
    </ul>
  </div>
  <input type="text"
    [class]="
      'rounded-none border border-gray-300 bg-white focus:border-primary-700 focus:outline-none focus:ring-primary-700 active:border-primary-700 w-full px-4'
    "
    [placeholder]="placeholder()"
    [formControl]="searchControl"
  />
  <button type="submit"
    [class]="
      'inset-y-0 w-max !px-5 rounded-none rounded-r-lg element-right end-0 ' +
      TW_CLASS.BTN + ' ' +
      TW_CLASS.BTN_PRIMARY + ' ' +
      'flex items-center'
    "
  >
    <lib-ngx-cygnus-icons class="h-full flex items-center"
      [width]="'1.5rem'"
      [height]="'1.5rem'"
      [color]="'#ffffff'"
      [route]="'assets/icons/svg/General/search-sm.svg'"
    />
  </button>
</div>
<ul
  [class]="TW_CLASS.UL_BASE"
  [class.invisible]="filteredItems.length==0"
>
  @for (item of filteredItems; track $index; let i = $index;) {
    <li [class]="TW_CLASS.LI_BASE" >{{item.option}}</li>
  }
</ul>
