<div class="flex">
  <div class="relative inline-block" id="dropdown-div" >
    <button id="dropdown-button" [class]="TW_CLASS.DROPDOWN_MENU_FILTER"  (click)="toggleInvisible()"
    type="button">
      <span class="whitespace-nowrap"  >Todas las categorías</span>
      <lib-ngx-cygnus-icons class="inline-flex items-center h-2.5 ms-2.5"
        [width]="'19px'"
        [height]="'19px'"
        [color]="'#101828'"
        [route]="'assets/icons/backups/chevron-down.svg'"
      />
    </button>
    <ul class="absolute z-10 min-w-[180px] overflow-auto rounded-lg border border-slate-200 bg-white p-1.5 shadow-lg focus:outline-none"
      [class.invisible]="isInvisible()"
    >
      <li role="menuitem"
        class="flex items-center w-full p-3 text-sm transition-all rounded-md cursor-pointer text-slate-800 hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
        Contratos
      </li>
      <li role="menuitem"
        class="flex items-center w-full p-3 text-sm transition-all rounded-md cursor-pointer text-slate-800 hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
        Reportes
      </li>
      <li role="menuitem"
        class="flex items-center w-full p-3 text-sm transition-all rounded-md cursor-pointer text-slate-800 hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
        Liquidaciones
      </li>
    </ul>
  </div>
  <input type="text"
    [class]="
      'rounded-none border border-gray-300 bg-gray-50 focus:border-primary-700 focus:outline-none focus:ring-primary-700 active:border-primary-700 w-full px-4'
    "
    placeholder="Buscar..." />
  <button type="submit"
    [class]="
      'inset-y-0 w-max !px-5 rounded-none rounded-r-lg element-right end-0 ' +
      TW_CLASS.BTN + ' ' +
      TW_CLASS.BTN_PRIMARY + ' ' +
      'flex items-center'
    "
  >
    <lib-ngx-cygnus-icons class="h-full flex items-center"
      [width]="'1.5rem'"
      [height]="'1.5rem'"
      [color]="'#ffffff'"
      [route]="'assets/icons/svg/General/search-sm.svg'"
    />
  </button>
</div>
