<div class="flex">
  <div class="inline-block" [id]="drowpdownSearchId()" >
    <button [id]="drowpdownSearchBtnId()" [class]="TW_CLASS.DROPDOWN_MENU_FILTER"  (click)="toggleInvisible()"
    type="button">
      <span class="whitespace-nowrap"  >{{menuSearchText()}}</span>
      <lib-ngx-cygnus-icons class="inline-flex items-center h-2.5 ms-2.5"
        [size]="'lg'"
        [textColor]="'black'"
        [textRoute]="'chevron-down'"
      />
    </button>
    <ul [class]="TW_CLASS.UL_BASE"
      [class.invisible]="isInvisible()"
    >
      @for (item of menuSearchContentArr(); track $index; let i = $index;) {
        <li role="menuitem" (click)="selectMenu(item.key, i)"
          [class]="TW_CLASS.LI_BASE">
          {{item.key}}
        </li>
      }
    </ul>
  </div>
  <input type="text"
    [class]="
      'rounded-none border border-gray-300 bg-white focus:border-primary-700 focus:outline-none focus:ring-primary-700 active:border-primary-700 w-full px-4'
    "
    [id]="inputSearchId()"
    [placeholder]="placeholder()"
    [formControl]="searchControl"
    (click)="toggleShowMenu()"
  />
  <button type="submit"
    [class]="
      'inset-y-0 w-max !px-5 rounded-none rounded-r-lg element-right end-0 ' +
      TW_CLASS.BTN + ' ' +
      TW_CLASS.BTN_PRIMARY + ' ' +
      'flex items-center'
    "
    [id]="inputSearchBtnId()"
    (click)="sendSearch()"
  >
    <lib-ngx-cygnus-icons class="h-full flex items-center"
      [size]="'xl'"
      [textColor]="'white'"
      [textRoute]="'search-sm'"
    />
  </button>
</div>
<div class="flex justify-end">
  <span></span>
  <ul
    [class]="TW_CLASS.UL_BASE"
    [class.invisible]="isInvisibleOptions()"
  >
    @for (item of filteredItems; track $index; let i = $index;) {
      <li [class]="TW_CLASS.LI_BASE" (click)="setInputSearchAfterChooseOption(item)" >{{item.option}}</li>
    }
  </ul>
</div>

@if (multisearch()) {
  <div class="flex w-full mt-1 mb-4">
  @for (item of multisearchArr; track item.value) {
    <cygnus-badge
      (click)="deleteMultisearchItem(item)"
      [badgeTypes]="'badge-btn-outlined'"
      [badgeText]="item.option"
    />
  }
  </div>
}

