@if (showModal()) {
<div
  [class]="
    'fixed inset-0 z-[999] flex flex-col items-center justify-end' + ' ' +
    (alertConfirm ? 'bg-success-100' : 'bg-black/60') + ' ' +
    'backdrop-blur-sm transition-opacity duration-300 p-4'"
  (click)="handleBlurClick($event)"
>
  <div
    [class]="
      TW_CLASS.ALERT_CONTENT_BASE + ' ' +
      alertAllClasses() + ' ' +
      'max-w-xs'
    "
  >
    <div class="flex items-center justify-between text-lg font-medium">
      <div class="flex items-center pb-1 font-semibold">
        @if (alertIconAsset()) {
          <lib-ngx-cygnus-icons class="me-2"
            [size]="'lg'"
            [textColor]="alertIconColor() || ''"
            [textRoute]="alertIconAsset()"
          />
        }
        {{modalTitle()}}
      </div>

      <lib-ngx-cygnus-icons
        [size]="'xl'"
        [textColor]="alertIconColor() || ''"
        [textRoute]="'x-close'"
        (click)="toggleModal()"
      />

    </div>
    <div class="relative font-light leading-normal text-gray-600 overflow-auto flex-1 min-h-0">
      <ng-content></ng-content>
    </div>
    @if (alertBtnClose()) {
    <div class="flex flex-col mt-3">
      <cygnus-button
        [btnTypes]="buttonType() + ' btn-icon btn-block'"
        (click)="toggleModal()"
      >
        {{btnFullText()}}
      </cygnus-button>
    </div>
    }
  </div>
</div>
}
