<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-6">
    <h1 class="text-4xl font-bold">Tablas</h1>
    <p class="mt-4 text-secondary-600 text-md">Elige la mejor tabla para una visualización de
        datos responsiva y en forma de cuadrícula. Se puede personalizar
        fácilmente con búsqueda, paginación, botones de acción y más</p>
  </header>

  <!-- basic-table -->
  <section id="basic-table">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Tabla básica</h2>
        <p class="mb-8 text-secondary-600 text-md">Usando el marcado de tabla más básico, así es como se
            ven las tablas.

            Todos los ejemplos son responsivos: las tablas permiten desplazarse horizontalmente con
            facilidad.</p>


            <!-- COMPONENTE: Tabla básica -->
            <cygnus-table [(tableItems)]="tableBasicArr" />


      </div>

    </div>
  </section>

  <!-- Striped rows -->
  <section id="striped-rows">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Filas rayadas</h2>
        <p class="mb-8 text-secondary-600 text-md">Utilice este ejemplo para aumentar la legibilidad de
            los conjuntos de datos alternando el color de fondo de cada segunda
            fila de tabla.</p>


          <!-- COMPONENTE: Filas rayadas -->
          <cygnus-table [tableType]="'stripped'" [(tableItems)]="tableBasicArr" />

      </div>

    </div>
  </section>

  <!-- hoverable-rows -->
  <section id="hoverable-rows">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Estado hover</h2>
        <p class="mb-8 text-secondary-600 text-md">Utilice este ejemplo para cambiar el color de fondo
            de una fila de datos al pasar el cursor sobre el elemento.</p>

          <!-- COMPONENTE: Tabla con hover -->
          <cygnus-table [tableType]="'hover'" [(tableItems)]="tableBasicArr" />
      </div>

    </div>
  </section>

  <!-- striped-hover-rows -->
  <section id="striped-hover-rows">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Filas rayadas con estado hover</h2>
        <p class="mb-8 text-secondary-600 text-md">Una tabla con elementos que muestra si los usuarios están activos o no.</p>

        <!-- COMPONENTE: Filas rayadas con estado hover -->
        <cygnus-table [tableType]="'stripped-hover'" [(tableItems)]="tableBasicArr" />
      </div>

    </div>
  </section>

  <!-- double-rows -->
  <section id="double-rows">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Doble fila en una celda</h2>
        <p class="mb-8 text-secondary-600 text-md">Una tabla con elementos que muestra si los usuarios
            están activos o no.</p>

          <!-- COMPONENTE: Tabla con doble fila en celda -->
          <cygnus-table [tableType]="'double'" [(tableItems)]="tableBasicArr" />

      </div>

    </div>
  </section>

  <!-- select-rows -->
  <section id="select-rows">
      <div class="min-h-[140px] rounded-lg border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Selección de filas y paginación</h2>
              <p class="mb-8 text-secondary-600 text-md">Las filas se pueden seleccionar haciendo que la
                  primera
                  columna sea una columna seleccionable.</p>

              <!-- COMPONENTE: Tabla con doble fila en celda y páginación -->
              <cygnus-table [tableType]="'select'" [(tableItems)]="tableSelectPagArr" />

          </div>

      </div>
  </section>





  <!-- cygnus-custom-table -->
  <section id="cygnus-custom-table">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">cygnus-custom-table</h2>
        <p class="mb-8 text-secondary-600 text-md">Tabla recibe cualquier tipo de JSON y lo renderiza en una tabla.</p>

            <!-- COMPONENTE: cygnus-custom-table -->
            @if (CLIENTES) {
              <cygnus-custom-table
                [dataTable]="CLIENTES"
                [tableType]="'stripped-hover'"
                [maxCounter]="10"
              />
            }

      </div>

    </div>
  </section>

  <!-- cygnus-custom-table double -->
  <section id="cygnus-custom-table-double">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">cygnus-custom-table double</h2>
        <p class="mb-8 text-secondary-600 text-md">Tabla recibe cualquier tipo de JSON y lo renderiza en una tabla. 'double' indica que un casillero de la tabla tiene doble dato.</p>

            <!-- COMPONENTE: cygnus-custom-table -->
            @if (CLIENTES) {
              <cygnus-custom-table
                [dataTable]="CLIENTES"
                [tableType]="'double'"
                [doubleKeyUp1]="'NOMBRES'"
                [doubleKeyUp2]="'APELLIDOS'"
                [doubleKeydown]="'EMAIL'"
                [maxCounter]="10"
              />
            }

      </div>

    </div>
  </section>

  <!-- cygnus-custom-table can edit -->
  <section id="cygnus-custom-table">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">cygnus-custom-table can edit</h2>
        <p class="mb-8 text-secondary-600 text-md">Tabla recibe cualquier tipo de JSON y lo renderiza en una tabla. Al presionar editar, te permite modificar las partes que indiques y envia los cambios para que los puedas guardar.</p>

            <!-- COMPONENTE: cygnus-custom-table -->
            @if (CLIENTES) {
              <cygnus-custom-table
                [dataTable]="EMPRESAS"
                [tableType]="'stripped-hover'"
                [maxCounter]="5"
                [tdEditArr]="empresasEditArr"
                (emitModifiedData)="showEditedData($event)"
              />
            }

      </div>

    </div>
  </section>
</main>
