@if (showModal()) {
<div
  class="fixed inset-0 z-999 flex items-center justify-center bg-black/60 backdrop-blur-sm transition-opacity duration-300 p-4 pointer-events-auto"
  (click)="handleBlurClick($event)"
>
  <div
    [class]="
      'relative w-full' + ' ' +
      inputMaxW() + ' ' +
      inputMaxH() + ' ' +
      'flex flex-col rounded-lg bg-white shadow-sm dark:bg-gray-800'
    "
  >
    <div
      [class]="
        'flex items-center justify-between p-4 sm:p-6 text-xl text-gray-800 dark:text-white shrink-0 border-b border-gray-200 dark:border-gray-600 ' + ' ' +
        twTitleFontWeight()
      "
    >
      {{modalTitle()}}
      @if (withX()) {
        <div class="hidden dark:block">
          <lib-ngx-cygnus-icons
            [size]="'xl'"
            [textColor]="'white'"
            [textRoute]="'x-close'"
            (click)="toggleModal()"
          />
        </div>
        <div class="block dark:hidden">
          <lib-ngx-cygnus-icons
            [size]="'xl'"
            [textColor]="'lightblack'"
            [textRoute]="'x-close'"
            (click)="toggleModal()"
          />
        </div>
      }
    </div>
    <div class="relative px-4 sm:px-6 py-4 font-light leading-normal text-gray-600 dark:text-white overflow-auto flex-1 min-h-0"
     >
      <ng-content></ng-content>
    </div>
    <!-- <div class="flex flex-wrap items-center justify-end gap-2 p-4 sm:p-6 shrink-0 border-t border-gray-200">
      <cygnus-button [btnTypes]="'btn-secondary'" (click)="toggleModal()" >Cancelar</cygnus-button>
      <cygnus-button [btnTypes]="'btn-primary'" (click)="sendData()" >Confirmar</cygnus-button>
    </div> -->
  </div>
</div>
}


