
<div class="relative">
  <lib-ngx-cygnus-icons class="ml-2 absolute h-full flex items-center"
    [size]="'xl'"
    [textColor]="'gray'"
    [textRoute]="'search-sm'"
  />
  <input type="text"
    [class]="TW_CLASS.INPUT_BASE + ' !pl-9'"
    [placeholder]="placeholder()"
    [formControl]="searchControl"
    (keyup)="keyupSendSearch()"
  />

  @if (!typeAutoSearch()) {
    <button type="submit"
      [class]="
        'absolute inset-y-0 rounded-none rounded-r-lg element-right end-0 ' +
        TW_CLASS.BTN + ' ' +
        TW_CLASS.BTN_PRIMARY
      "
      (click)="sendSearch()"
    >Buscar</button>
  }

</div>
<ul
  [class]="TW_CLASS.UL_BASE"
  [class.invisible]="isInvisible()"
>
  @for (item of filteredItems; track $index; let i = $index;) {
    <li [class]="TW_CLASS.LI_BASE" (click)="setInputSearchAfterChooseOption(item)" >{{item.option}}</li>
  }
</ul>

@if (multisearch()) {
  <div class="flex w-full mt-1 mb-4">
  @for (item of multisearchArr; track item.value) {
    <cygnus-badge
      (click)="deleteMultisearchItem(item)"
      [badgeTypes]="'badge-btn-outlined'"
      [badgeText]="item.option"
    />
  }
  </div>
}

