
<div class="relative">
  <lib-ngx-cygnus-icons class="ml-2 absolute h-full flex items-center"
    [width]="'1.5rem'"
    [height]="'1.5rem'"
    [color]="'#475467'"
    [route]="'assets/icons/svg/General/search-sm.svg'"
  />
  <input type="text"
    [class]="
      TW_CLASS.INPUT_BASE + ' ' +
      '!pl-9'
    "
    [placeholder]="placeholder()"
    [formControl]="searchControl"
    (keyup)="keyupSendSearch()"
  />

  @if (!typeAutoSearch()) {
    <button type="submit"
      [class]="
        'absolute inset-y-0 rounded-none rounded-r-lg element-right end-0 ' +
        TW_CLASS.BTN + ' ' +
        TW_CLASS.BTN_PRIMARY
      "
      (click)="sendSearch()"
    >Buscar</button>
  }

</div>
<ul
  [class]="TW_CLASS.UL_BASE"
  [class.invisible]="isInvisible()"
>
  @for (item of filteredItems; track $index; let i = $index;) {
    <li [class]="TW_CLASS.LI_BASE" (click)="setInputSearchAfterChooseOption(item)" >{{item.option}}</li>
  }
</ul>

