<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Selector</h1>
  </header>

  <section id="select-explanation">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Cómo usar cygnus-select</h2>

        <p class="mb-8 text-secondary-600 text-md">
          Importar el componente de la biblioteca ngx-cygnus-ui y la  interfaz SelectGeneric en el archivo .ts del componente donde lo vas a implementar.
        </p>

        <pre>
          <code [highlight]="cygnusSelImportTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          Crear un arreglo de elementos que cumplan con la interfaz SelectGeneric en el documento .ts.
        </p>

        <pre>
          <code [highlight]="cygnusSelCodeTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          En el documento .html del componente, posicionar la plantilla del selector y agregar la configuración según corresponda.
        </p>

        <pre>
          <code [highlight]="cygnusSelHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li><b>[control]</b>: Acá puedes ingresar un control de formulario en caso de que quieras integrar el valor del select en un formulario: <code>&lt;cygnus-select [control]="form.controls.selExample" /&gt;</code>.</li>
          <li><b>[options]</b>: Acá debes entregar el arreglo con items para mostrar las opciones del selector.</li>
          <li><b>[selSize]</b>: Acá puedes indicar el tamaño del selector. Corresponde a un string que puede ser 'lg' o 'xs'. Si no se indica nada, tiene un tamaño estándar.</li>
          <li><b>[isDisabled]</b>: Indica si el selector está o no deshabilitado.</li>
          <li><b>[selState]</b>: Si se utiliza es para dar un estilo rojo en caso de error o un estilo verde en caso de éxito. Acepta un string con los valores 'error' o 'success'.</li>
          <li><b>[selectLabel]</b>: Acá se indica un texto para usar sobre el selector.</li>
          <li><b>[selectHint]</b>: Acá se indica un texto para usar debajo del selector.</li>
        </ul>

        <p class="mb-8 text-secondary-600 text-md">
          La mejor manera de controlar el ancho de este select, es posicionarlo dentro de un contenedor y ajustar el ancho del contenedor, por ejemplo:
        </p>

        <pre>
          <code [highlight]="cygnusSelWidthHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="select-simple">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Básico</h2>

        <div
          class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">

          <div class="w-full max-w-sm min-w-[200px]">
            <cygnus-select [options]="options" />
          </div>

        </div>

        <pre>
          <code [highlight]="cygnusSelCodeTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusSelHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="select-size">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Tamaños</h2>

        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <div class="flex flex-col max-w-sm space-y-3 w-full min-w-[200px]"><!-- agregué flex flex-col porque sin eso, space-y-* no funciona -->

            <!-- COMPONENTE: Selector XS -->
            <cygnus-select [options]="options" [selSize]="'xs'" />

            <!-- COMPONENTE: Selector básico -->
            <cygnus-select [options]="options" />

            <!-- COMPONENTE: Selector LG -->
            <cygnus-select [options]="options" [selSize]="'lg'" />

          </div>
        </div>

        <pre>
          <code [highlight]="cygnusSelCodeTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusSelSizeHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <!-- Select deshabilitado -->
  <section id="select-disabled">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Select deshabilitado</h2>
        <p class="mb-8 text-gray-600 text-md">Ideal para mostrar una opción bloqueada o perroreterminada
            en formularios.</p>

        <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
          <div class="w-full max-w-sm min-w-[200px]">
            <div class="relative">

              <!-- COMPONENTE: Selector deshabilitado -->
              <cygnus-select [options]="options" [isDisabled]="true" />

            </div>
          </div>
        </div>
        <pre>
          <code [highlight]="cygnusSelCodeTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusSelDesHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>

    </div>
  </section>

  <!-- Select validación -->
  <section id="select-validation">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Select con validación</h2>
        <p class="mb-8 text-gray-600 text-md">Ideal para mostrar una opción bloqueada o determinada
            en formularios.</p>

        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-col max-w-sm space-y-3 w-full min-w-[200px]">

            <!-- COMPONENTE: Selector error -->
            <cygnus-select [options]="options" [selState]="'error'" />

            <!-- COMPONENTE: Selector éxito -->
            <cygnus-select [options]="options" [selState]="'success'" />

          </div>
        </div>

        <pre>
          <code [highlight]="cygnusSelValHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>

    </div>
  </section>

  <!-- Select con label -->
  <section id="select-label">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Label y texto de ayuda</h2>
        <p class="mb-8 text-gray-600 text-md">Ideal para mostrar una opción bloqueada o determinada
            en formularios.</p>

        <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
          <div class="w-full max-w-sm min-w-[200px]">

            <!-- COMPONENTE: Selector con label -->
            <cygnus-select
              [options]="options"
              [selectLabel]="'Label'"
              [selectHint]="'Este es un texto de ayuda para el usuario.'"
            />

          </div>
        </div>

        <pre>
          <code [highlight]="cygnusSelLabelHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <!-- Select con ancho automático -->
  <section id="select-width-automatic">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Select con ancho automático</h2>
        <p class="mb-8 text-gray-600 text-md">selección automática de ancho con capacidad de respuesta y
          opciones personalizables, ideal para formularios que necesitan campos de entrada dinámicos que se ajusten al tamaño del contenido.</p>

        <p class="mb-8 text-gray-600 text-md">
          Comienza con un valor por defecto de ancho al no estar seleccionado ningún elemento. Una vez que se selecciona una opción, se calcula el tamaño y se actualiza.
        </p>

        <div
          class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">

          <!-- COMPONENTE: Selector AutoWidth -->
          <cygnus-select [options]="optionsTestAutoWidth" [selAutoWidth]="true"  />

        </div>

        <pre>
          <code [highlight]="cygnusSelAutoWidthTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <pre>
          <code [highlight]="cygnusSelAutoWidthHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <!-- Select Optgroup -->
  <section id="select-width-automatic">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Selector Optgroup </h2>
        <p class="mb-8 text-gray-600 text-md">selector que agrupa categorías y opciones por categoría.</p>

        <div
          class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">

          <!-- COMPONENTE: Selector Optgroup -->
          <cygnus-optgroup-select
            [OPTGROUPDATA]="OPTGROUPDATA"
            [categoryName]="'categoria'"
            [categorySection]="'seccion'"
            [categoryItem]="'cargo'"
            (isSelected)="optgroupSelection($event)"
          />

        </div>



      </div>
    </div>
  </section>

</main>
