<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
      <h1 class="text-4xl font-bold">Badges</h1>
      <p class="mt-4 text-gray-600 text-md">Badges (también conocido como Insignias), es un elemento
          compacto que representa una entrada, un atributo o una
          acción. Este elemento aparece de forma dinámica como un grupo de múltiples elementos interactivos y
          permite a los
          usuarios introducir información, realizar selecciones, filtrar contenido o activar acciones.

          A menudo vienen con la capacidad de ser removidos o interactuar con ellos, lo que permite a los
          usuarios manipular los
          datos o la selección representados por el badge.</p>
  </header>

  <section id="simple-badge-howto">
      <div
          class="min-h-[140px] rounded-lg border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Cómo usar badge simple</h2>
              <p class="mb-8 text-gray-600 text-md">
                Importar el componente de la biblioteca ngx-cygnus-ui en el archivo .ts del componente donde lo vas a implementar. Es posible que necesites importar también CygnusButtonComponent dependiendo del tipo de badge.
              </p>

              <pre class="w-full">
                <code [highlight]="badgeImport"
                      language="ts"
                      lineNumbers></code>
              </pre>

              <p class="mb-8 text-gray-600 text-md">
                En el documento .html del componente, posicionar la plantilla de la tabla y agregar la configuración según corresponda.
              </p>

              <pre class="w-full">
                <code [highlight]="exampleBadgeSimple"
                      language="html"
                      lineNumbers></code>
              </pre>

              <p class="mb-8 text-gray-600 text-md">
                [badgeTypes]: acá se indica el tipo de badge que se quiere utilizar dependiendo del tamaño, color, etc. También pueden combinarse varios aunque se pueden sobreescribir algunas propiedades.
              </p>

              <ul class="mb-8 text-gray-600 text-md list-none">
                <li>'badge-xs': Badge del tamaño más pequeño.</li>
                <li>'badge-sm': Badge pequeño.</li>
                <li>'badge': Badge tamaño estándar.</li>
                <li>'badge-lg': Badge grande.</li>
                <li>'badge-primary': Badge color estándar.</li>
                <li>'badge-gray': Badge gris.</li>
                <li>'badge-error': Badge color rojo.</li>
                <li>'badge-warning': Badge color amarillo.</li>
                <li>'badge-success': Badge color verde.</li>
                <li>'badge-pink': badge color rosado.</li>
                <li>'badge-purple': Badge color morado.</li>
                <li>'badge-indigo': Badge color indigo.</li>
                <li>'badge-icon': badge que lleva un ícono.</li>
                <li>'badge-icon-only': Badge que sólo lleva un ícono, sin texto.</li>
                <li>'badge-btn': Badge combinado con un botón x el cual elimina el badge al hacer click en él. Tiene apariencia de desactivado. Efecto hover.</li>
                <li>'badge-btn-outlined': Badge combinado con un botón x el cual elimina el badge al hacer click en él. Tiene apariencia de botón azul. Efecto hover.</li>
                <li>'badge-state-success': Badge para expresar estado éxito u online.</li>
                <li>'badge-state-error': Badge para expresar estado error u offline.</li>
              </ul>

              <p class="mb-8 text-gray-600 text-md">
                [badgeText]: acá se indica el texto que llevará el badge.
              </p>

          </div>
      </div>
  </section>

  <!-- Badge simple -->
  <section id="simple-badge">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Badge simple</h2>

        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Badge simple -->
          <cygnus-badge [badgeTypes]="'badge'" [badgeText]="'Badge simple'" />

        </div>

        <pre class="w-full">
          <code [highlight]="exampleBadgeSimple"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Badge size -->
  <section id="badge-size">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Tamaños de badges</h2>
        <p class="mb-8 text-gray-600 text-md">En este ejemplo se puede ver cómo implementar badges con distintos tamaños.</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Badge XS -->
          <cygnus-badge [badgeTypes]="'badge-xs'" [badgeText]="'2'" />

          <!-- COMPONENTE: Badge Small -->
          <cygnus-badge [badgeTypes]="'badge-sm'" [badgeText]="'Small'" />

          <!-- COMPONENTE: Badge Medium -->
          <cygnus-badge [badgeTypes]="'badge'" [badgeText]="'Medium'" />

          <!-- COMPONENTE: Badge Large -->
          <cygnus-badge [badgeTypes]="'badge-lg'" [badgeText]="'Large'" />

        </div>
        <pre class="w-full">
          <code [highlight]="exampleBadgeSizes"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Badge btn -->
  <section id="badge-colors">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Botón con badge</h2>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <!-- COMPONENTE: Cygnus Button -->
          <cygnus-button
            [btnTypes]="'btn-primary '"
            [btnIconRouteRight]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
          >
            Messages
            <!-- COMPONENTE: Badge XS -->
            <cygnus-badge [badgeTypes]="'badge-xs'" [badgeText]="'2'" />
          </cygnus-button>

        </div>
        <pre class="w-full">
          <code [highlight]="exampleBadgeBtn"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Badge states -->
  <section id="badge-colors">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Colores de badges</h2>
        <p class="mb-8 text-gray-600 text-md">El componente de badge viene con los cinco estados de
            color desde el color de iformación, simple hasta los colores de error, advetencia, éxito y tres colores extra.</p>
        <div class="flex flex-wrap items-center justify-center wrap-break-word w-full gap-4 mb-4">

          <!-- COMPONENTE: Badge Información -->
          <cygnus-badge [badgeTypes]="'badge badge-primary'" [badgeText]="'Información'" />

          <!-- COMPONENTE: Badge Simple -->
          <cygnus-badge [badgeTypes]="'badge badge-secondary'" [badgeText]="'Simple'" />

          <!-- COMPONENTE: Badge Error -->
          <cygnus-badge [badgeTypes]="'badge badge-error'" [badgeText]="'Error'" />

          <!-- COMPONENTE: Badge Advertencia -->
          <cygnus-badge [badgeTypes]="'badge badge-warning'" [badgeText]="'Advertencia'" />

          <!-- COMPONENTE: Badge Éxito -->
          <cygnus-badge [badgeTypes]="'badge badge-success'" [badgeText]="'Éxito'" />

          <!-- NOTA: Estos estados son para ocasiones que se necesitan colores distintos -->
          <!-- COMPONENTE: Badge Púrpura -->
          <cygnus-badge [badgeTypes]="'badge badge-purple'" [badgeText]="'Púrpura'" />

          <!-- COMPONENTE: Badge Indigo -->
          <cygnus-badge [badgeTypes]="'badge badge-indigo'" [badgeText]="'Indigo'" />

          <!-- COMPONENTE: Badge Rosado -->
          <cygnus-badge [badgeTypes]="'badge badge-pink'" [badgeText]="'Rosado'" />

        </div>
        <pre class="w-full">
          <code [highlight]="exampleBadgeColors"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Badge-icons -->
  <section id="badge-icons">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Badges con iconos</h2>
        <p class="mb-8 text-gray-600 text-md">Utilice el icono para mostrar la indicación.</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <div class="flex items-center gap-3">

            <cygnus-badge
              [badgeTypes]="'badge-icon-only'"
              [badgeIconAsset]="'assets/icons/svg/General/plus.svg'"
              [badgeText]="''"
            />

            <cygnus-badge
              [badgeTypes]="'badge-icon'"
              [badgeIconAsset]="'assets/icons/svg/General/plus.svg'"
              [badgeIconPosition]="'left'"
              [badgeText]="'Icono a la izquierda'"
            />

            <cygnus-badge
              [badgeTypes]="'badge-icon'"
              [badgeIconAsset]="'assets/icons/svg/General/plus.svg'"
              [badgeIconPosition]="'right'"
              [badgeText]="'Icono a la derecha'"
            />

          </div>
        </div>
        <pre class="w-full">
          <code [highlight]="exampleBadgeIcons"
                language="html"
                lineNumbers></code>
        </pre>
        <p class="mb-8 text-gray-600 text-md">Por defecto los íconos se encuentran a la derecha.</p>
      </div>
    </div>
  </section>

  <!-- Badge-dismissible -->
  <section id="badge-dismissible">
      <div class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Badge descartable</h2>

              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <cygnus-badge
                    [badgeTypes]="'badge-btn'"
                    [badgeText]="'Inadmisible'"
                  />

              </div>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <cygnus-badge
                    [badgeTypes]="'badge-btn-outlined'"
                    [badgeText]="'Inadmisible'"
                  />

              </div>
              <pre class="w-full">
                <code [highlight]="exampleBadgeInadmisible"
                      language="html"
                      lineNumbers></code>
              </pre>
          </div>
      </div>
  </section>

  <!-- Badge status -->
  <section id="badge-status">
      <div class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Estados de badges</h2>
              <p class="mb-8 text-gray-600 text-md"></p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">
                <div class="flex gap-2">
                  <!-- COMPONENTE: Estado Online -->
                  <cygnus-badge
                    [badgeTypes]="'badge-state-success'"
                    [badgeText]="'Online'"
                  />
                  <!-- COMPONENTE: Estado Offline -->
                  <cygnus-badge
                    [badgeTypes]="'badge-state-error'"
                    [badgeText]="'Offline'"
                  />
                </div>
              </div>
              <pre class="w-full">
                <code [highlight]="exampleBadgeStatus"
                      language="html"
                      lineNumbers></code>
              </pre>
          </div>
      </div>
  </section>

</main>
