<div class="flex items-center justify-center w-full max-w-xs gap-4 mb-4">
  <div [class]="TW_CLASS.CARD">
    <img class="w-full h-auto rounded-t-lg"
      [src]="imgSrc()"
      [alt]="imgAlt()">
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-secondary-800">
        {{cardTitle()}}
      </h3>
      <p class="my-2 text-secondary-500">
        {{cardText()}}
      </p>
      <cygnus-button [btnTypes]="'btn-primary'" (click)="notifyClick()" >{{cardButtonText()}}</cygnus-button>
    </div>
  </div>
</div>
