@if (arrSelection.length > 0) {
<div class="w-full">
  @for (cargo of arrSelection; track cargo[categoryIdItem()]) {
  <cygnus-alert-simple
    [alertTypes]="alertType()"
    [alertIcon]="false"
    [alertEquis]="true"
    [alertTitle]="cargo[categoryItem()]"
    [alertContent]="''"
    (isClosed)="cargoDeleted($event, cargo)"
  />
  }
</div>
}


<div #targetSelectSearchDiv class="relative"  [id]="selectSearchId()">

  @if (!isDisabled()) {

  <input type="text"
    [class]="
      TW_CLASS.INPUT_BASE + ' !pr-9' + ' ' +
      (inputStatusColor()==='success' ? TW_CLASS.INPUT_SUCCESS : '') + ' ' +
      (inputStatusColor()==='error' ? TW_CLASS.INPUT_ERROR : '')
    "
    [placeholder]="placeholder()"
    (click)="openUl()"
    [formControl]="searchControl"
    (blur)="outputBlur.emit(true)"
  />

  <lib-ngx-cygnus-icons class="ml-2 absolute h-full flex items-center inset-y-0 w-max !px-3 rounded-none rounded-r-lg element-right end-0 border border-gray-300 bg-gray-200"
    [size]="'xl'"
    [textColor]="'gray'"
    [textRoute]="'search-sm'"
  />

  } @else {

  <input type="text"
    [class]="
      TW_CLASS.INPUT_BASE + ' !pr-9' + ' ' +
      TW_CLASS.INPUT_DISABLED
    "
    [disabled]="true"
  />

  <lib-ngx-cygnus-icons
    class="ml-2 absolute h-full flex items-center inset-y-0 w-max !px-3 rounded-none rounded-r-lg element-right end-0 border border-gray-300 bg-gray-200 cursor-not-allowed opacity-60 pointer-events-none focus:ring-0 focus:bg-gray-50 focus:border-gray-300 focus:opacity-60 focus:shadow-none"
    [size]="'xl'"
    [textColor]="'gray'"
    [textRoute]="'search-sm'"
  />

}

</div>


@if (!isDisabled() && showCategories()) {
<ul
  class="absolute bg-white border border-slate-200 focus:outline-none min-w-[180px] overflow-auto p-1.5 rounded-lg shadow-lg z-10"
  [style.width.px]="targetSelectSearchDiv.offsetWidth"
  [class.invisible]="isInvisible()"
  [id]="ulShowCategoriesId()"
>
  <li class="bg-gray-500 text-gray-50" value="" >Selecciona una categoría</li>
  @for (cat of dataEntries | keyvalue; track $index) {
    <li class="hover:bg-gray-400" (click)="onCategorySelected(cat.key)">{{cat.key}}</li>
  }
</ul>
}

@if (!isDisabled() && showSecOpt()) {
<ul
  class="absolute bg-white border border-slate-200 focus:outline-none min-w-[180px] overflow-auto p-1.5 rounded-lg shadow-lg z-10"
  [style.width.px]="targetSelectSearchDiv.offsetWidth"
  [class.invisible]="isInvisible()"
  [id]="ulShowSecOptId()"
>
  <li class="bg-gray-500 text-gray-50" >Selecciona una opción</li>
  <li class="bg-blue-900 text-blue-50" (click)="onItemSelected(secOpVolver)">← Volver a categorías</li>

  @if (!showWithoutCategorySelected()) {
    <!-- Agrupa dinámicamente -->
    @for (sec of dataEntries[categorySelected!] | keyvalue; track $index) {

      @if (filterWithCategorySelected()) {
        @if (setFilteredOptions(sec.value)) {
          <li class="bg-gray-400 font-semibold" >{{ sec.key }}</li>
          @for (op of dataFilteredEntries; track op[categoryIdItem()]) {
            <li [class]="markAsSelected(op) ? 'bg-cygnus-300' : 'hover:bg-gray-300'" (click)="onItemSelected(op)">{{ op[categoryItem()] }}</li>
          }
        }

      } @else {
        <li class="bg-gray-400 font-semibold" >{{ sec.key }}</li>

        @for (op of $any(sec.value); track op[categoryIdItem()]) {
          <li [class]="markAsSelected(op) ? 'bg-cygnus-300' : 'hover:bg-gray-300'" (click)="onItemSelected(op)">{{ op[categoryItem()] }}</li>
        }
      }

    }
  } @else {
    @for (cat of dataEntries | keyvalue; track $index) {
      <!-- Agrupa dinámicamente -->
      @for (sec of dataEntries[$any(cat.key)] | keyvalue; track $index) {

        @if (setFilteredOptions(sec.value)) {
          <li class="bg-gray-400 font-semibold" >{{ sec.key }}</li>
          @for (op of dataFilteredEntries; track op[categoryIdItem()]) {
            <li [class]="markAsSelected(op) ? 'bg-cygnus-300' : 'hover:bg-gray-300'" (click)="onItemSelected(op)">{{ op[categoryItem()] }}</li>
          }
        }

      }
    }

  }
</ul>
}


