<div class="w-full">
  @for (cargo of arrSelection; track cargo.id_item) {
  <cygnus-alert-simple
    [alertTypes]="alertType()"
    [alertIcon]="false"
    [alertEquis]="true"
    [alertTitle]="cargo['cargo']"
    [alertContent]="''"
    (isClosed)="cargoDeleted($event, cargo)"
  />
  }
</div>
<div  #targetSelectSearchDiv class="relative"  [id]="selectSearchId()">

  <input type="text"
    [class]="TW_CLASS.INPUT_BASE + ' !pr-9' "
    [placeholder]="placeholder()"
    (click)="openUl()"
  />

  <lib-ngx-cygnus-icons class="ml-2 absolute h-full flex items-center inset-y-0 w-max !px-3 rounded-none rounded-r-lg element-right end-0 border border-gray-300 bg-gray-200"
    [size]="'xl'"
    [textColor]="'gray'"
    [textRoute]="'search-sm'"
  />

</div>

@if (showCategories()) {
<ul
  class="absolute bg-white border border-slate-200 focus:outline-none min-w-[180px] overflow-auto p-1.5 rounded-lg shadow-lg z-10"
  [style.width.px]="targetSelectSearchDiv.offsetWidth"
>
  <li class="bg-gray-500 text-gray-50" value="" >Selecciona una categoría</li>
  @for (cat of dataEntries | keyvalue; track $index) {
    <li class="hover:bg-gray-400" (click)="onCategorySelected(cat.key)">{{cat.key}}</li>
  }
</ul>
}

@if (showSecOpt()) {
<ul
  class="absolute bg-white border border-slate-200 focus:outline-none min-w-[180px] overflow-auto p-1.5 rounded-lg shadow-lg z-10"
  [style.width.px]="targetSelectSearchDiv.offsetWidth"
>
  <li class="bg-gray-500 text-gray-50" >Selecciona una opción</li>
  <li class="bg-blue-900 text-blue-50" (click)="onItemSelected(secOpVolver)">← Volver a categorías</li>

  <!-- Agrupa dinámicamente -->
  @for (sec of dataEntries[categorySelected!] | keyvalue; track $index) {
    <li class="bg-gray-400 font-semibold" >{{ sec.key }}</li>

    @for (op of $any(sec.value); track $index) {
      <li class="hover:bg-gray-300" (click)="onItemSelected(op)">{{ op[categoryItem()] }}</li>
    }
  }
</ul>
}
