
<fieldset class="fieldset">
  <div class="relative">
    @if (inputType()==='fieldset-legend-label' ) {
      <label [for]="inputId()"
        [class]="
          labelGetType() + ' ' +
          labelColorGetType()
        "
      >
        {{ textLabel() }}
      </label>
    }
    <input [id]="inputId()" type="text"
      [class]="
        INPUT_BASE +
        (inputType()!=='base' ? ' peer ' : ' ') +
        (inputType()==='label-interactive' ? LABEL_INTERACTIVE_COLOR_BASE : '') + ' ' +
        (inputType()==='floating' ? INPUT_FLOATING : '') + ' ' +
        inputGetColor() + ' ' +
        inputGetInteractiveColor() + ' ' +
        inputGetSize()
      "
      [placeholder]="textPlaceholder()"
    >
    @if (inputType()!=='base' && inputType()!=='fieldset-legend-label' ) {
      <label [for]="inputId()"
        [class]="
          labelGetType() + ' ' +
          labelColorGetType()
        "
      >
        {{ textLabel() }}
      </label>
    }

    @if (iconAsset()!=='' && iconPosition()==='right') {
      <div [class]="'absolute flex items-center h-6 inset-y-3 end-2 ' + ( inputType()==='floating' ? 'pt-1' : '')">
        <lib-ngx-cygnus-icons
          [width]="iconSize()"
          [height]="iconSize()"
          [color]="iconColor()"
          [route]="iconAsset()"
        />
      </div>
    } @else if (iconAsset()!=='' && iconPosition()==='left') {
      <div class="absolute flex items-center pointer-events-none ps-2 inset-y-0 start-0">
        <lib-ngx-cygnus-icons
          [width]="iconSize()"
          [height]="iconSize()"
          [color]="iconColor()"
          [route]="iconAsset()"
        />
      </div>
    }

    @if (inputType()!=='base') {
      <p [class]="HINT_TEXT + ' ' + hintGetColor()">{{ textHint() }}</p>
    }
  </div>
</fieldset>



<!-- INPUTS MUESTRA -->
<!--
<h2 class="mb-1 text-xl font-semibold">INPUT MUESTRA</h2>
<p class="mb-8 text-gray-600 text-md">Esta es una muestra de distintos input muestra.</p>
-->


<!--
<div class="flex items-center justify-center w-full gap-4 mb-4">
  <div class="w-full max-w-sm min-w-[200px] space-y-6">
-->

    <!-- input base -->
    <!-- <input type="text" [class]="INPUT_BASE" placeholder="Este es el placecholder..." /> -->

    <!-- input base + label + texto ayuda -->
    <!--
    <fieldset class="fieldset">
      <label [class]="FIELDSET_LEGEND">Label</label>
      <input type="text" [class]="INPUT_BASE" placeholder="Este es el placeholder..." />
      <p [class]="HINT_TEXT">Este es un texto de ayuda para el usuario.</p>
    </fieldset>
     -->

    <!-- input label interactive -->
    <!--
    <fieldset class="fieldset">
      <div class="relative">
        <input id="cg-input-floating"
          [class]="
            INPUT_BASE + ' peer'
          "
          type="text"
          placeholder=" "
        />
        <label for="cg-input-floating"
          [class]="
            LABEL_INTERACTIVE_BASE + ' ' +
            LABEL_INTERACTIVE_COLOR_BASE
          "
        >Email</label>
        <p [class]="HINT_TEXT">Este es un texto de ayuda para el usuario.</p>
      </div>
    </fieldset>
     -->

    <!-- input label interactive success -->
    <!--
    <fieldset class="fieldset">
      <div class="relative">
        <input id="cg-input-floating"
          [class]="
            INPUT_BASE + ' peer ' +
            INPUT_SUCCESS
          "
          type="text"
          placeholder=" "
        />
        <label for="cg-input-floating"
          [class]="
            LABEL_INTERACTIVE_BASE + ' ' +
            LABEL_INTERACTIVE_COLOR_SUCCESS
          "
        >Email</label>
        <div class="absolute flex items-center h-6 pointer-events-none inset-y-3 end-2">
          <lib-ngx-cygnus-icons
            [width]="'19px'"
            [height]="'19px'"
            [color]="'#12b76a'"
            [route]="'assets/icons/svg/General/check-circle.svg'"
          />
        </div>
        <p [class]="HINT_TEXT">Este es un texto de ayuda para el usuario.</p>
      </div>
    </fieldset>
     -->

    <!-- input label interactive warning -->
    <!--
    <fieldset class="fieldset">
      <div class="relative">
        <input id="cg-input-floating"
          [class]="
            INPUT_BASE + ' peer ' +
            INPUT_WARNING
          "
          type="text"
          placeholder=" "
        />
        <label for="cg-input-floating"
          [class]="
            LABEL_INTERACTIVE_BASE + ' ' +
            LABEL_INTERACTIVE_COLOR_WARNING
          "
        >Email</label>
        <div class="absolute flex items-center h-6 pointer-events-none inset-y-3 end-2">
          <lib-ngx-cygnus-icons
            [width]="'19px'"
            [height]="'19px'"
            [color]="'#f79009'"
            [route]="'assets/icons/svg/Alerts&Feedback/alert-triangle.svg'"
          />
        </div>
        <p [class]="HINT_TEXT">Este es un texto de ayuda para el usuario.</p>
      </div>
    </fieldset>
     -->

    <!-- input label interactive error -->
    <!--
    <fieldset class="fieldset">
      <div class="relative">
        <input id="cg-input-floating"
          [class]="
            INPUT_BASE + ' peer ' +
            INPUT_ERROR
          "
          type="text"
          placeholder=" "
        />
        <label for="cg-input-floating"
          [class]="
            LABEL_INTERACTIVE_BASE + ' ' +
            LABEL_INTERACTIVE_COLOR_ERROR
          "
        >Email</label>
        <div class="absolute flex items-center h-6 pointer-events-none inset-y-3 end-2">
          <lib-ngx-cygnus-icons
            [width]="'19px'"
            [height]="'19px'"
            [color]="'#f04438'"
            [route]="'assets/icons/svg/Alerts&Feedback/alert-circle.svg'"
          />
        </div>
        <p [class]="HINT_TEXT">Este es un texto de ayuda para el usuario.</p>
      </div>
    </fieldset>
     -->

    <!-- input-floating base -->
    <!--
    <fieldset class="fieldset">
      <div class="relative">
        <input id="cg-floating-inset" type="text"
          [class]="
            INPUT_BASE + ' peer ' +
            INPUT_FLOATING + ' ' +
            'input-floating'
          "
          placeholder=" "
        >
        <label for="cg-floating-inset"
          [class]="
            LABEL_BASE + ' ' +
            LABEL_FLOATING_BASE
          "
        >Email</label>
        <p [class]="HINT_TEXT">Este es un texto de ayuda para el usuario.</p>
      </div>
    </fieldset>
     -->

    <!-- input-floating success -->
    <!--
    <fieldset class="fieldset">
      <div class="relative">
        <input id="cg-floating-inset" type="text"
          [class]="
            INPUT_BASE + ' peer ' +
            INPUT_FLOATING + ' ' +
            INPUT_SUCCESS
          "
          placeholder=" "
        >
        <label for="cg-floating-inset"
          [class]="
            LABEL_BASE + ' ' +
            LABEL_FLOATING_BASE + ' ' +
            LABEL_FLOATING_SUCCESS
          "
        >Email</label>
        <div class="absolute flex items-center pt-1 h-6 pointer-events-none inset-y-3 end-2">
          <lib-ngx-cygnus-icons
            [width]="'19px'"
            [height]="'19px'"
            [color]="'#12b76a'"
            [route]="'assets/icons/svg/General/check-circle.svg'"
          />
        </div>
        <p [class]="HINT_TEXT + ' ' + HINT_SUCCESS">Este es un texto de ayuda para el usuario.</p>
      </div>
    </fieldset> -->

    <!-- input-floating warning -->
    <!--
    <fieldset class="fieldset">
      <div class="relative">
        <input id="cg-floating-inset" type="text"
          [class]="
            INPUT_BASE + ' peer ' +
            INPUT_FLOATING + ' ' +
            INPUT_WARNING
          "
          placeholder=" "
        >
        <label for="cg-floating-inset"
          [class]="
            LABEL_BASE + ' ' +
            LABEL_FLOATING_BASE + ' ' +
            LABEL_FLOATING_WARNING
          "
        >Email</label>
        <div class="absolute flex items-center pt-1 h-6 pointer-events-none inset-y-3 end-2">
          <lib-ngx-cygnus-icons
            [width]="'19px'"
            [height]="'19px'"
            [color]="'#f79009'"
            [route]="'assets/icons/svg/Alerts&Feedback/alert-triangle.svg'"
          />
        </div>
        <p [class]="HINT_TEXT + ' ' + HINT_WARNING">Este es un texto de ayuda para el usuario.</p>
      </div>
    </fieldset>
    -->

    <!-- input-floating error -->
    <!--
    <fieldset class="fieldset">
      <div class="relative">
        <input id="cg-floating-inset" type="text"
          [class]="
            INPUT_BASE + ' peer ' +
            INPUT_FLOATING + ' ' +
            INPUT_ERROR
          "
          placeholder=" "
        >
        <label for="cg-floating-inset"
          [class]="
            LABEL_BASE + ' ' +
            LABEL_FLOATING_BASE + ' ' +
            LABEL_FLOATING_ERROR
          "
        >Email</label>
        <div class="absolute flex items-center pt-1 h-6 pointer-events-none inset-y-3 end-2">
          <lib-ngx-cygnus-icons
            [width]="'19px'"
            [height]="'19px'"
            [color]="'#f04438'"
            [route]="'assets/icons/svg/Alerts&Feedback/alert-circle.svg'"
          />
        </div>
        <p [class]="HINT_TEXT + ' ' + HINT_ERROR">Este es un texto de ayuda para el usuario.</p>
      </div>
    </fieldset>
    -->


  <!--
  </div>
</div>
-->
