<!-- COMPONENTE: Input floating -->
<div class="flex items-center justify-center w-full gap-4 mb-4">
  <div class="w-full max-w-sm min-w-[200px] space-y-6">
    <fieldset class="fieldset">
      <div class="relative">
        <input id="cg-floating-inset" type="text" [class]="INPUT_BASE + ' ' + ('peer ' + INPUT_FLOATING) + ' ' + 'input-floating'"
            placeholder=" ">
        <!-- class="peer input-floating" -->
        <label for="cg-floating-inset" [class]="'label-floating ' + LABEL_FLOATING">Email</label>
        <p [class]="HINT_TEXT">Este es un texto de ayuda para el usuario.</p>
      </div>
    </fieldset>
  </div>
</div>
