@if (showAlert()) {
  <div
    [class]="
      TW_CLASS.ALERT_SIMPLE_BASE + ' ' +
      (alertEquis() ? TW_CLASS.ALERT_SIMPLE_EQUIS_BASE : '') + ' ' +
      alertAllClasses() + ' '
    "
    role="alert"
  >
  @if (alertIcon()) {
    <lib-ngx-cygnus-icons class="me-2"
      [size]="''"
      [textColor]="alertIconColor"
      [textRoute]="'alert-circle'"
    />
  }
    <span class="font-medium">
      {{alertTitle()}}
    </span>&nbsp;
    {{alertContent()}}

  @if (alertEquis()) {
    <button (click)="hideAlert()"
      class="flex items-center justify-center transition-all w-8 h-8 rounded-md hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
      type="button">
      <lib-ngx-cygnus-icons
        [size]="'lg'"
        [textColor]="alertIconColor"
        [textRoute]="'x-close'"
      />
    </button>
  }
  </div>
}


