<button
  [class]="btnAllClasses()"
  [type]="typeButtonStructure()"
  [disabled]="btnIsDisabled()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [class.bg-transparent]="(btnIconOutlined() && btnIconOutlinedTransparent()) ? true : false"
  [class.bg-white]="(btnIconOutlined() && !btnIconOutlinedTransparent()) ? true : false"
  [ngClass]="gradientButton() ? TW_CLASS.BTN_GRADIENT : ''"
>
  @if (btnIconExist && btnIsLoading()) {
    <div [class]="TW_CLASS.BTN_ICON_LOADING + (!btnIconOnly ? ' mr-2 ': ' ') + btnIconLoadingSize() "  role="status" aria-label="loading">
      <span class="sr-only">Cargando...</span>
    </div>
  }
  @if (btnIconExist && btnIconRouteLeft()!=='') {
    <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'mr-2' : ''"
      [size]="btnIconSize"
      [textColor]="gradientButton() ? '#F6FEF9' : btnIconColor()"
      [textRoute]="btnIconRouteLeft()"
    />
  }
    <ng-content></ng-content>
  @if (btnIconExist && btnIconRouteRight()!=='') {
    <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'ms-2' : ''"
      [size]="btnIconSize"
      [textColor]="gradientButton() ? '#F6FEF9' : btnIconColor()"
      [textRoute]="btnIconRouteRight()"
    />
  }

</button>

