<button
  [class]="btnAllClasses()"
  type="button"
  [disabled]="btnIsDisabled"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  @if (btnIconExist && btnIsLoading()) {
    <div [class]="TW_CLASS.BTN_ICON_LOADING + (!btnIconOnly ? ' mr-2 ': ' ') + btnIconLoadingSize() "  role="status" aria-label="loading">
      <span class="sr-only">Cargando...</span>
    </div>
  }
  @if (btnIconExist && btnIconRouteLeft()!=='') {
    <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'mr-2' : ''"
      [width]="btnIconSize"
      [height]="btnIconSize"
      [color]="btnIconColor()"
      [route]="btnIconRouteLeft()"
    />
  }
    <ng-content></ng-content>
  @if (btnIconExist && btnIconRouteRight()!=='') {
    <lib-ngx-cygnus-icons [class]="!btnIconOnly ? 'ms-2' : ''"
      [width]="btnIconSize"
      [height]="btnIconSize"
      [color]="btnIconColor()"
      [route]="btnIconRouteRight()"
    />
  }

</button>

