<cygnus-button [btnTypes]="'btn'" >simple button</cygnus-button>
<cygnus-button [btnTypes]="'btn-primary'" >primary button</cygnus-button>
<cygnus-button [btnTypes]="'btn-secondary'" >secondary button</cygnus-button>
<cygnus-button [btnTypes]="'btn-accent'" >accent button</cygnus-button>
<cygnus-button [btnTypes]="'btn-success'" >success button</cygnus-button>
<cygnus-button [btnTypes]="'btn-warning'" >warning button</cygnus-button>
<cygnus-button [btnTypes]="'btn-error'" >error button</cygnus-button>
<cygnus-button [btnTypes]="'btn-purple'" >purple button</cygnus-button>
<cygnus-button [btnTypes]="'btn-indigo'" >indigo button</cygnus-button>
<cygnus-button [btnTypes]="'btn-pink'" >pink button</cygnus-button>
<cygnus-button [btnTypes]="'btn-ghost'" >ghost button</cygnus-button>
<cygnus-button [btnTypes]="'btn-disabled'" >disabled button</cygnus-button>
<cygnus-button [btnTypes]="'btn-indigo btn-block'" >block button</cygnus-button>
<cygnus-button [btnTypes]="'btn-block'" >block button</cygnus-button>
<hr>

<cygnus-button [btnTypes]="'btn-secondary btn-circle'" >sbc</cygnus-button>
<cygnus-button [btnTypes]="'btn-accent btn-circle'" >sbc</cygnus-button>
<cygnus-button [btnTypes]="'btn-purple btn-circle'" >sbc</cygnus-button>
<cygnus-button [btnTypes]="'btn-error btn-circle'" >sbc</cygnus-button>

<hr>

<cygnus-button
  [btnTypes]="'btn-indigo'"
  [btnIconRoute]="'assets/icons/svg/Users/user-square.svg'"
>
  indigo button
</cygnus-button>

<hr>

<cygnus-button [btnTypes]="'btn-pink btn-size-xs'" >pink button</cygnus-button>
<cygnus-button [btnTypes]="'btn-pink btn-size-sm'" >pink button</cygnus-button>
<cygnus-button [btnTypes]="'btn-pink'" >pink button</cygnus-button>
<cygnus-button [btnTypes]="'btn-pink btn-size-lg'" >pink button</cygnus-button>
<cygnus-button [btnTypes]="'btn-pink btn-size-xl'" >pink button</cygnus-button>


<cygnus-button [btnTypes]="'btn-warning btn-circle btn-size-xs'" >sbc</cygnus-button>
<cygnus-button [btnTypes]="'btn-warning btn-circle btn-size-sm'" >sbc</cygnus-button>
<cygnus-button [btnTypes]="'btn-warning btn-circle'" >sbc</cygnus-button>
<cygnus-button [btnTypes]="'btn-warning btn-circle btn-size-lg'" >sbc</cygnus-button>
<cygnus-button [btnTypes]="'btn-warning btn-circle btn-size-xl'" >sbc</cygnus-button>


<cygnus-button
  [btnTypes]="'btn-accent btn-icon-sm'"
  [btnIconRoute]="'assets/icons/svg/Users/user-square.svg'"
>
  accent button
</cygnus-button>
<cygnus-button
  [btnTypes]="'btn-accent btn-icon'"
  [btnIconRoute]="'assets/icons/svg/Users/user-square.svg'"
>
  accent button
</cygnus-button>
<cygnus-button
  [btnTypes]="'btn-accent btn-icon-lg'"
  [btnIconRoute]="'assets/icons/svg/Users/user-square.svg'"
>
  accent button
</cygnus-button>
<cygnus-button
  [btnTypes]="'btn-accent btn-icon-only'"
  [btnIconRoute]="'assets/icons/svg/Users/user-square.svg'"
>
</cygnus-button>

<cygnus-button
  [btnTypes]="'btn-warning btn-size-sm btn-icon'"
  [btnIsLoading]="true"
  [btnIconLoadingSize]="'size-4'"
>
  Cargando
</cygnus-button>
<cygnus-button
  [btnTypes]="'btn-warning btn-size-sm btn-icon'"
  [btnIsLoading]="true"
  [btnIconLoadingSize]="'size-5'"
>
  Cargando
</cygnus-button>
<cygnus-button
  [btnTypes]="'btn-warning btn-size-sm btn-icon'"
  [btnIsLoading]="true"
  [btnIconLoadingSize]="'size-6'"
>
  Cargando
</cygnus-button>

<cygnus-button
  [btnTypes]="'btn-warning btn-size-sm btn-icon'"
  [btnIsLoading]="true"
  [btnIconLoadingSize]="'size-4'"
>
</cygnus-button>

<cygnus-button
  [btnTypes]="'btn-warning btn-size-sm btn-icon'"
  [btnIsLoading]="true"
  [btnIconLoadingSize]="'size-5'"
>
</cygnus-button>

<cygnus-button
  [btnTypes]="'btn-warning btn-size-sm btn-icon'"
  [btnIsLoading]="true"
  [btnIconLoadingSize]="'size-6'"
>
</cygnus-button>



