<body class="text-gray-900">
    <header id="header">
      <app-header-cygnus-ui />
    </header>
    <div class="grid grid-cols-1 gap-3 pt-20 mx-auto md:px-6 max-w-7xl lg:grid-cols-12">

      <!-- Menu izquierdo -->
      <aside id="menu"
        class="hidden lg:block lg:col-span-2 rounded-l-lg bg-white p-4 sticky top-20 h-[calc(100vh-5rem)] overflow-auto">
        <app-sidebar-left-cygnus-ui />
      </aside>

      <!-- Contenido -->
      <main class="col-span-6 p-6 bg-white lg:col-span-8">
        <router-outlet />
      </main>

    </div>
    <footer id="footer">
      <app-footer-cygnus-ui />
    </footer>
</body>
