<cygnus-card-login />

<cygnus-card-show-validators />

<cygnus-card-image
  [imgSrc]="'https://images.unsplash.com/photo-1680868543815-b8666dba60f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&q=80'"
  [imgAlt]="'Card Image'"
  [cardTitle]="'Titulo de la tarjeta'"
  [cardText]="`Un texto de ejemplo rápido que se basa en el título de la tarjeta y constituye
                                    el grueso de su contenido.`"
  [cardButtonText]="'Ir a alguna parte'"
/>

<cygnus-card-title-text
  [cardTitle]="'Cygnus - gestión de equipos colaborativos'"
  [cardText]="'Este es un texto dentro del cuerpo de una tarjeta.'"
/>

<cygnus-card-icon-text
  [iconSize]="'40px'"
  [iconColor]="'#528bff'"
  [iconRoute]="'assets/icons/svg/Charts/presentation-chart-01.svg'"
  [cardText]="'Administración de RRHH Cygnus'"
/>

<cygnus-mainboard-card
  [cardTitle]="'Administración de RRHH'"
  [cardText]="'Optimiza los proyectos de software, los sprints y el seguimiento de errores.'"
/>
