@if (textareaType()==='simple') {

  <textarea
    #cygnusTextarea
    [id]="textareaId()"
    [class]="
      TW_CLASS.TEXTAREA_BASE + ' ' +
      TW_CLASS.TEXTAREA_
    "
    rows="3"
    [placeholder]="textareaPlaceholder()"
    (focusout)="setValue(cygnusTextarea.value)"
  >
  </textarea>

} @else {

  <div class="max-w-sm w-full min-w-[200px]">
    <label for="textarea-label" [class]="TW_CLASS.LABEL">{{textareaLabel()}}</label>
    <textarea id="textarea-label"
      #cygnusTextarea
      [id]="textareaId()"
      [class]="
        TW_CLASS.TEXTAREA_BASE + ' ' +
        TW_CLASS.TEXTAREA_
      "
      rows="3"
      [placeholder]="textareaPlaceholder()"
      (focusout)="setValue(cygnusTextarea.value)"
    >
    </textarea>
  </div>
}




