@if (textareaType()==='simple') {

  <textarea
    #cygnusTextarea
    [id]="textareaId()"
    [class]="
      TW_CLASS.TEXTAREA_BASE + ' ' +
      TW_CLASS.TEXTAREA_
    "
    rows="3"
    [placeholder]="textareaPlaceholder()"
    (focusout)="setValue(cygnusTextarea.value)"
  ></textarea> <!-- si dejas un espacio, no se ve el placeholder -->

} @else {


    <label [for]="textareaId()" [class]="TW_CLASS.LABEL">{{textareaLabel()}}</label>
    <textarea
      #cygnusTextarea
      [id]="textareaId()"
      [class]="
        TW_CLASS.TEXTAREA_BASE + ' ' +
        TW_CLASS.TEXTAREA_
      "
      rows="3"
      [placeholder]="textareaPlaceholder()"
      (focusout)="setValue(cygnusTextarea.value)"
    ></textarea> <!-- si dejas un espacio, no se ve el placeholder -->

}




