@if (btnRouterLinkText()!='') {
  <a
    [routerLink]="btnRouterLinkText()"
    [routerLinkActive]="addRouterLinkActiveTailwindClasses(btnLinkType())"
    [routerLinkActiveOptions]="{ exact: true }"
    [class]="
      addTailwindClasses(btnLinkType()) + ' ' +
      (paddingOk() ? 'px-4' : '')
    "
  >
    <ng-content></ng-content>
  </a>
} @else {
  <a
    [class]="
      addTailwindClasses(btnLinkType()) + ' ' +
      (paddingOk() ? 'px-4' : '')
    "
     [href]="hrefLink()"
     target="_blank"
     rel="noopener noreferrer"
  >
    <ng-content></ng-content>
  </a>
}

