<ol [class]="
    TW_CLASS.BREADCRUMB_BASE + ' ' +
    (setBlock() ? TW_CLASS.BREADCRUMB_BLOCK : '' )
  "
>

  @if (!setMoreIcon()) {

    @for (item of itemsArr(); track $index; let i = $index) {
      <li [class]="TW_CLASS.BREADCRUMB_ITEM">

        @if (item.iconAssetText) {
          <a
            [class]="TW_CLASS.BREADCRUMB_LINK"
            [routerLink]="item.routerLinkText"
            (mouseenter)="iconColorOnMouseEnter()"
            (mouseleave)="iconColorOnMouseLeave()"
          >
            <lib-ngx-cygnus-icons class="me-3"
              [size]="''"
              [textColor]="iconColor()"
              [textRoute]="item.iconAssetText"
            />
          </a>
        } @else {
          <a [class]="TW_CLASS.BREADCRUMB_LINK" [routerLink]="item.routerLinkText" >
            {{item.itemText}}
          </a>
        }

        @if ( itemsArr().length && i != (itemsArr()!.length - 1) ) {
          <lib-ngx-cygnus-icons class="mx-2"
            [size]="''"
            [textColor]="'lightgray'"
            [textRoute]="'chevron-right'"
          />
        }
      </li>
    }

  } @else {

    @for (item of moreIconArrLeft; track $index; let i = $index) {

      <li [class]="TW_CLASS.BREADCRUMB_ITEM">

        @if (item.iconAssetText) {
          <a
            [class]="TW_CLASS.BREADCRUMB_LINK"
            [routerLink]="item.routerLinkText"
            (mouseenter)="iconColorOnMouseEnter()"
            (mouseleave)="iconColorOnMouseLeave()"
          >
            <lib-ngx-cygnus-icons class="me-3"
              [size]="''"
              [textColor]="iconColor()"
              [textRoute]="item.iconAssetText"
            />
          </a>
        } @else {
          <a [class]="TW_CLASS.BREADCRUMB_LINK" [routerLink]="item.routerLinkText" >
            {{item.itemText}}
          </a>
        }

        <lib-ngx-cygnus-icons class="mx-2"
          [size]="''"
          [textColor]="'lightgray'"
          [textRoute]="'chevron-right'"
        />

      </li>
    }

    <cygnus-dropdown
      [dropdownMenuTitle]="''"
      [dropdownItemType]="'breadcrumb'"
      [dropdownItemDataArr]="moreIconArrDropdown"
    />

    <lib-ngx-cygnus-icons class="mx-2"
      [size]="''"
      [textColor]="'lightgray'"
      [textRoute]="'chevron-right'"
    />

    @for (item of moreIconArrRight; track $index; let i = $index) {

      <li [class]="TW_CLASS.BREADCRUMB_ITEM">

        @if (item.iconAssetText) {
          <a
            [class]="TW_CLASS.BREADCRUMB_LINK"
            [routerLink]="item.routerLinkText"
            (mouseenter)="iconColorOnMouseEnter()"
            (mouseleave)="iconColorOnMouseLeave()"
          >
            <lib-ngx-cygnus-icons class="me-3"
              [size]="''"
              [textColor]="iconColor()"
              [textRoute]="item.iconAssetText"
            />
          </a>
        } @else {
          <a [class]="TW_CLASS.BREADCRUMB_LINK" [routerLink]="item.routerLinkText" >
            {{item.itemText}}
          </a>
        }

      </li>
    }
  }

</ol>
