<section id="simple-alert-explanation">
  <div class="min-h-[140px] rounded-lg border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Cómo usar cygnus-alert-simple</h2>
      <p class="mb-8 text-gray-600 text-md">
        Importar el componente de la biblioteca ngx-cygnus-ui en el archivo .ts del componente donde lo vas a implementar.
      </p>

      <pre>
        <code [highlight]="importCygnusAlertSimple"
              language="ts"
              lineNumbers></code>
      </pre>

      <p class="mb-8 text-gray-600 text-md">
        En el documento .html del componente, posicionar la plantilla de la alerta y agregar la configuración según corresponda.
      </p>

      <pre>
        <code [highlight]="exampleAlert"
              language="html"
              lineNumbers></code>
      </pre>

      <p class="mb-8 text-gray-600 text-md">
        [alertTypes]: El tipo de alerta determina el estilo de la alerta. Se pueden indicar los siguientes:
        'alert-primary','alert-red', 'alert-green', 'alert-yellow', 'alert-gray'.
      </p>
      <p class="mb-8 text-gray-600 text-md">
        [alertTitle]: Acá se indica el título de la alerta.
      </p>
      <p class="mb-8 text-gray-600 text-md">
        [alertContent]: Acá se indica el contenido de la alerta.
      </p>
      <p class="mb-8 text-gray-600 text-md">
        [alertIcon]: Acá se indica el ícono que llevará la alerta con un string válido para las rutas de la biblioteca ngx-cygnus-icons.
      </p>
      <p class="mb-8 text-gray-600 text-md">
        [alertEquis]: Acá se indica si la alerta simple tendrá o no una équis (x) de cierre. Si se omite, su valor es false por defecto.
      </p>

    </div>
  </div>
</section>

<section id="simple-alert">
  <div class="min-h-[140px] rounded-lg border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta simple</h2>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <!-- COMPONENTE: Alerta de información -->
        <cygnus-alert-simple
          [alertTypes]="'alert-primary'"
          [alertTitle]="'¡Alerta de información!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de error -->
         <cygnus-alert-simple
          [alertTypes]="'alert-red'"
          [alertTitle]="'¡Alerta de error!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de éxito -->
         <cygnus-alert-simple
          [alertTypes]="'alert-green'"
          [alertTitle]="'¡Alerta de éxito!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de advertencia -->
         <cygnus-alert-simple
          [alertTypes]="'alert-yellow'"
          [alertTitle]="'¡Alerta de advertencia!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-gray'"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-indigo'"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-indigo'"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
          [isRounded]="false"
        />
      </div>

      <pre>
        <code [highlight]="alertSimple"
              language="html"
              lineNumbers></code>
      </pre>

    </div>
  </div>
</section>

<section id="alert-icon">
  <div class="min-h-[140px] rounded-lg border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta con icono</h2>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <!-- COMPONENTE: Alerta de información -->
        <cygnus-alert-simple
          [alertTypes]="'alert-primary'"
          [alertIcon]="'alert-circle'"
          [alertTitle]="'¡Alerta de información!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de error -->
         <cygnus-alert-simple
          [alertTypes]="'alert-red'"
          [alertIcon]="'alert-circle'"
          [alertTitle]="'¡Alerta de error!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de éxito -->
         <cygnus-alert-simple
          [alertTypes]="'alert-green'"
          [alertIcon]="'alert-circle'"
          [alertTitle]="'¡Alerta de éxito!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta de advertencia -->
         <cygnus-alert-simple
          [alertTypes]="'alert-yellow'"
          [alertIcon]="'alert-circle'"
          [alertTitle]="'¡Alerta de advertencia!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-gray'"
          [alertIcon]="'alert-circle'"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
        <cygnus-alert-simple
          [alertTypes]="'alert-indigo'"
          [alertIcon]="'alert-circle'"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
        />

        <!-- COMPONENTE: Alerta simple -->
        <cygnus-alert-simple
          [alertTypes]="'alert-indigo'"
          [alertIcon]="'alert-circle'"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
          [isRounded]="false"
        />

      </div>

      <pre>
        <code [highlight]="alertIconSimple"
              language="html"
              lineNumbers></code>
      </pre>

    </div>
  </div>
</section>

<section id="alert-equis">
  <div class="min-h-[140px] rounded-lg border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alertas con equis de cierre</h2>

      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <!-- COMPONENTE: Alerta de información -->
        <cygnus-alert-simple
          [alertTypes]="'alert-primary'"
          [alertIcon]="'alert-circle'"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta de información!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
          (isClosed)="showAlertClosed($event)"
        />

        <!-- COMPONENTE: Alerta de error -->
        <cygnus-alert-simple
          [alertTypes]="'alert-red'"
          [alertIcon]="'alert-circle'"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta de error!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
          (isClosed)="showAlertClosed($event)"
        />

        <!-- COMPONENTE: Alerta de éxito -->
        <cygnus-alert-simple
          [alertTypes]="'alert-green'"
          [alertIcon]="'alert-circle'"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta de éxito!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
          (isClosed)="showAlertClosed($event)"
        />

        <!-- COMPONENTE: Alerta de advertencia -->
        <cygnus-alert-simple
          [alertTypes]="'alert-yellow'"
          [alertIcon]="'alert-circle'"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta de advertencia!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
          (isClosed)="showAlertClosed($event)"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-gray'"
          [alertIcon]="'alert-circle'"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
          (isClosed)="showAlertClosed($event)"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-indigo'"
          [alertIcon]="'alert-circle'"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
          (isClosed)="showAlertClosed($event)"
        />

        <!-- COMPONENTE: Alerta simple -->
         <cygnus-alert-simple
          [alertTypes]="'alert-indigo'"
          [alertIcon]="'alert-circle'"
          [alertEquis]="true"
          [alertTitle]="'¡Alerta simple!'"
          [alertContent]="'Cambie algunas cosas e intente enviar de nuevo.'"
          (isClosed)="showAlertClosed($event)"
          [isRounded]="false"
        />

      </div>

      <pre>
        <code [highlight]="alertIconXSimple"
              language="html"
              lineNumbers></code>
      </pre>

    </div>
  </div>
</section>

<section id="alert-content-explanation">
  <div
    class="min-h-[140px] rounded-lg border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Cómo usar cygnus-alert-contenido</h2>

      <div class="flex flex-col w-full gap-4 mb-4">
        <p class="mb-8 text-gray-600 text-md">
          Importar el componente de la biblioteca ngx-cygnus-ui en el archivo .ts del componente donde lo vas a implementar.
        </p>

        <pre class="w-full">
          <code [highlight]="importCygnusAlertContenido"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          En el documento .html del componente, posicionar la plantilla de la alerta y agregar la configuración según corresponda.
        </p>

        <pre class="w-full">
          <code [highlight]="exampleAlertContenido"
                language="html"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          [alertTypes]: El tipo de alerta determina el estilo de la alerta. Se pueden indicar los siguientes:
          'alert-primary','alert-red', 'alert-green', 'alert-yellow', 'alert-gray'.
        </p>
        <p class="mb-8 text-gray-600 text-md">
          [alertTitle]: Acá se indica el título de la alerta.
        </p>
        <p class="mb-8 text-gray-600 text-md">
          [alertContent]: Acá se indica el contenido de la alerta.
        </p>
        <p class="mb-8 text-gray-600 text-md">
          [btnIsFull]: Acá se indica si El botón inferior ocupará todo el ancho de la alerta o si se utilizarán un formato de dos botones. Por defecto si no se implementa quedará el formato de dos botones.
        </p>
      </div>


    </div>
  </div>
</section>

<section id="alert-content">
  <div class="min-h-[140px] rounded-lg border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta con contenido</h2>
      <p class="mb-8 text-gray-600 text-md">Utilice el siguiente ejemplo para utilizar un componente de alerta con elementos de contenido como título y descripción</p>

      <cygnus-alert-contenido
        [alertTypes]="'alert-primary'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <cygnus-alert-contenido
        [btnIsFull]="true"
        [alertTypes]="'alert-primary'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <pre class="w-full">
          <code [highlight]="alertContenidoTs"
                language="ts"
                lineNumbers></code>
        </pre>

      <pre class="w-full">
        <code [highlight]="alertContenidoPrimary"
              language="html"
              lineNumbers></code>
      </pre>

      <cygnus-alert-contenido
        [alertTypes]="'alert-red'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <cygnus-alert-contenido
        [btnIsFull]="true"
        [alertTypes]="'alert-red'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <pre class="w-full">
        <code [highlight]="alertContenidoRed"
              language="html"
              lineNumbers></code>
      </pre>

      <cygnus-alert-contenido
        [alertTypes]="'alert-green'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <cygnus-alert-contenido
        [btnIsFull]="true"
        [alertTypes]="'alert-green'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <pre class="w-full">
        <code [highlight]="alertContenidoGreen"
              language="html"
              lineNumbers></code>
      </pre>

      <cygnus-alert-contenido
        [alertTypes]="'alert-yellow'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <cygnus-alert-contenido
        [btnIsFull]="true"
        [alertTypes]="'alert-yellow'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <pre class="w-full">
        <code [highlight]="alertContenidoYellow"
              language="html"
              lineNumbers></code>
      </pre>

      <cygnus-alert-contenido
        [alertTypes]="'alert-gray'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <cygnus-alert-contenido
        [btnIsFull]="true"
        [alertTypes]="'alert-gray'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <pre class="w-full">
        <code [highlight]="alertContenidoGray"
              language="html"
              lineNumbers></code>
      </pre>

      <cygnus-alert-contenido
        [alertTypes]="'alert-indigo'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <cygnus-alert-contenido
        [btnIsFull]="true"
        [alertTypes]="'alert-indigo'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
      />

      <cygnus-alert-contenido
        [alertTypes]="'alert-indigo'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
        [isRounded]="false"
      />

      <cygnus-alert-contenido
        [btnIsFull]="true"
        [alertTypes]="'alert-indigo'"
        [alertTitle]="'Esto es una alerta informativa'"
        [alertContent]="`
          Más información sobre este éxito informativo aquí. Este texto de ejemplo va a ser un poco más largo para que puedas ver cómo funciona el espaciado dentro de una alerta con este tipo de contenido.
        `"
        (btnClickedEvent)="btnClickedEvent($event)"
        [isRounded]="false"
      />

    </div>
  </div>
</section>

<section id="alert-counter-blocked-explanation">
  <div
    class="min-h-[140px] rounded-lg border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Cómo usar cygnus-alert-counter-blocked</h2>

      <div class="flex flex-col w-full gap-4 mb-4">
        <p class="mb-8 text-gray-600 text-md">
          Importar el componente de la biblioteca ngx-cygnus-ui en el archivo .ts del componente donde lo vas a implementar.
        </p>

        <pre class="w-full">
          <code [highlight]="importCygnusAlertCounterBlocked"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          En el documento .html del componente, posicionar la plantilla de la alerta y agregar la configuración según corresponda.
        </p>

        <pre class="w-full">
          <code [highlight]="exampleAlertCounterBlocked"
                language="html"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-gray-600 text-md">
          [tryCounter]: Esta alerta cambia su contenido según el valor de un contador. En tryCounter se debe indicar un número de 0 a 3. Es ideal para alertas de login donde se debe emitir un mensaje diferente según la cantidad de intentos de login.
        </p>

        <p class="mb-8 text-gray-600 text-md">
          Puedes capturar el evento click en un botón dentro de la alerta para ejecutar alguna acción en respuesta.
        </p>

        <pre class="w-full">
          <code [highlight]="alertCounterBlockedExample"
                language="html"
                lineNumbers></code>
        </pre>

        <pre class="w-full">
          <code [highlight]="alertCounterBlockedExampleTs"
                language="ts"
                lineNumbers></code>
        </pre>

      </div>


    </div>
  </div>
</section>

<section id="alert-counter-blocked">
  <div class="min-h-[140px] rounded-lg border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alerta dinámica para Login</h2>
      <p class="mb-8 text-gray-600 text-md">Esta alerta aparece y cambia según el valor de intentos fallidos de 0 a 3. Sin intentos fallidos no aparece, entre 1 y 2 intentos aparece una alerta de advertencia y a partir de 3 intentos aparece la alerta roja.</p>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <!-- LOGIN -->
        <cygnus-alert-counter-blocked
          [tryCounter]="0"
        />
        <cygnus-alert-counter-blocked
          [tryCounter]="1"
        />
        <cygnus-alert-counter-blocked
          [tryCounter]="2"
        />
        <cygnus-alert-counter-blocked
          [tryCounter]="3"
          (btnAlertIsClickedEvent)="exampleAlertCounterBlockedEvent()"
        />

        <pre class="w-full">
          <code [highlight]="alertCounterBlockedExample"
                language="html"
                lineNumbers></code>
        </pre>

        <pre class="w-full">
          <code [highlight]="alertCounterBlockedExampleTs"
                language="ts"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </div>
</section>

<section id="alert-modal">
  <div class="min-h-[140px] rounded-lg border mb-14">
    <div class="p-4 pb-4">
      <h2 class="mb-2 text-xl font-semibold">Alert Modal</h2>
      <p class="mb-8 text-gray-600 text-md">Esta alerta se puede usar para llamar aún más la atención del usuario.</p>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <cygnus-button [btnTypes]="'btn-primary'" (click)="openAlertModal()" >Abrir Modal</cygnus-button>

        <cygnus-alert-modal
          [(showModal)]="showModalAlert"
          [alertTypes]="'alert-gray'"
          [modalTitle]="'Alert title prueba'"
          [alertIconAsset]="'check-circle'"
        >
          <p>El formulario quedará prellenado con los datos de tu CV.</p>
          <div class="flex flex-col items-center w-full p-4">
            <span class="animate-spin inline-block border-2 border-t-transparent rounded-full size-8"></span>

            <span class="inline-block size-8 animate-spin rounded-full border-4 border-slate-700 border-t-transparent"></span>

          </div>
          <div class="flex gap-6 p-5 bg-white">

            <span class="inline-block size-8 animate-spin rounded-full border-4 border-t-emerald-400 border-r-slate-700 border-b-slate-700 border-l-slate-700"></span>

            <span class="inline-block size-8 animate-spin rounded-full border-4 border-indigo-500/30 border-t-indigo-500"></span>

            <span class="inline-block size-8 animate-spin rounded-full border-4 border-brand-600 border-t-postulaaqui-50"></span>

          </div>
          <p>Espera un momento por favor...</p>
        </cygnus-alert-modal>

      </div>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <cygnus-button [btnTypes]="'btn-primary'" (click)="openAlertModalError()" >Abrir Modal</cygnus-button>

        <cygnus-alert-modal
          [(showModal)]="showModalAlertError"
          [alertTypes]="'alert-red'"
          [modalTitle]="'Formato de archivo no válido'"
          [alertIconAsset]="'check-circle'"
          [alertBtnClose]="true"
        >
          <p class="text-red-700">Se acepta formatos de archivos PDF, JPG o PNG (máximo: 30MB)</p>
        </cygnus-alert-modal>

      </div>
      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <cygnus-button [btnTypes]="'btn-primary'" (click)="openAlertModalConfirm()" >Abrir Modal</cygnus-button>

        <cygnus-alert-modal
          [(showModal)]="showModalConfirm"
          [alertTypes]="'alert-confirm'"
          [modalTitle]="'Tus datos han sido cargados exitosamente'"
          [alertIconAsset]="'check-circle'"
        >
          <p>Agrega los datos que no coinciden con los datos entregados en tu CV</p>
        </cygnus-alert-modal>

      </div>

      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <cygnus-button [btnTypes]="'btn-primary'" (click)="openAlertWithoutTitleConfirm()" >Abrir Modal without title</cygnus-button>

        <cygnus-alert-modal
          [(showModal)]="showModalWithoutTitle"
          [alertTypes]="'alert-gray'"
          [modalTitle]="''"
          [alertIconAsset]="''"
        >
          <div class="flex flex-row space-x-2">
            <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.75 5.55C0.75 3.86984 0.75 3.02976 1.07698 2.38803C1.3646 1.82354 1.82354 1.3646 2.38803 1.07698C3.02976 0.75 3.86984 0.75 5.55 0.75H11.95C13.6302 0.75 14.4702 0.75 15.112 1.07698C15.6765 1.3646 16.1354 1.82354 16.423 2.38803C16.75 3.02976 16.75 3.86984 16.75 5.55V15.95C16.75 17.6302 16.75 18.4702 16.423 19.112C16.1354 19.6765 15.6765 20.1354 15.112 20.423C14.4702 20.75 13.6302 20.75 11.95 20.75H5.55C3.86984 20.75 3.02976 20.75 2.38803 20.423C1.82354 20.1354 1.3646 19.6765 1.07698 19.112C0.75 18.4702 0.75 17.6302 0.75 15.95V5.55Z" fill="#FDEAD5"/>
              <path d="M10.75 9.75H4.75M6.75 13.75H4.75M12.75 5.75H4.75M16.75 5.55V15.95C16.75 17.6302 16.75 18.4702 16.423 19.112C16.1354 19.6765 15.6765 20.1354 15.112 20.423C14.4702 20.75 13.6302 20.75 11.95 20.75H5.55C3.86984 20.75 3.02976 20.75 2.38803 20.423C1.82354 20.1354 1.3646 19.6765 1.07698 19.112C0.75 18.4702 0.75 17.6302 0.75 15.95V5.55C0.75 3.86984 0.75 3.02976 1.07698 2.38803C1.3646 1.82354 1.82354 1.3646 2.38803 1.07698C3.02976 0.75 3.86984 0.75 5.55 0.75H11.95C13.6302 0.75 14.4702 0.75 15.112 1.07698C15.6765 1.3646 16.1354 1.82354 16.423 2.38803C16.75 3.02976 16.75 3.86984 16.75 5.55Z" stroke="#F3A949" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h4 class="flex items-center pb-1 font-semibold text-base">Estamos leyendo tu currículum</h4>
          </div>
          <p class="font-inter dark:text-white">El formulario quedará prellenado con los datos de tu CV.</p>
          <div class="max-w-[99%] mt-5 mb-5">
            <cygnus-progressbar [value]="15" [color]="'bg-blue-500'" />
          </div>
        </cygnus-alert-modal>

      </div>

      <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

        <cygnus-button [btnTypes]="'btn-primary'" (click)="openAlertModalAnimado()" >Abrir Modal animado</cygnus-button>

        <cygnus-alert-modal
          [(showModal)]="showModalAnimado"
          [alertTypes]="'alert-confirm'"
          [modalTitle]="'Tus datos han sido cargados exitosamente'"
          [alertIconAsset]="'check-circle'"
          [flexItemsPosition]="'items-end'"
        >
          <p>Agrega los datos que no coinciden con los datos entregados en tu CV</p>
        </cygnus-alert-modal>

      </div>
    </div>
  </div>
</section>
