@if (toggleText()=='') {

  <input
  #cygnusToggle
  [class]="
    'toggle-base' + ' ' +
    TW_CLASS.TOGGLE_BASE + ' ' +
    (inputIsDisabled() ? TW_CLASS.TOGGLE_DISABLED : '') + ' ' +
    (checkedCustomColor() ? setCheckedCustomColor() : TW_CLASS.TOGGLE_PRIMARY)
  "
  type="checkbox"
  (click)="setValue(cygnusToggle.checked)"
  [checked]="inputIsChecked()"
  [disabled]="inputIsDisabled()"
  [id]="toggleId()"
/>

} @else {
  <div class="flex items-center gap-2">
    <input
      #cygnusToggle
      [id]="toggleId()"
      [class]="
        'toggle-base' + ' ' +
        TW_CLASS.TOGGLE_BASE + ' ' +
        (inputIsDisabled() ? TW_CLASS.TOGGLE_DISABLED : '') + ' ' +
        (checkedCustomColor() ? setCheckedCustomColor() : TW_CLASS.TOGGLE_PRIMARY)
      "
      type="checkbox"
      (click)="setValue(cygnusToggle.checked)"
      [checked]="inputIsChecked()"
      [disabled]="inputIsDisabled()"
    />
    <label [for]="toggleId()"
      [class]="
        'ml-1 font-sans antialiased text-gray-600 ' +
        (inputlink() ? 'text-sm' : 'text-base')
      "
    >

      @if (toggleDescription()!='') {

        <p class="font-sans text-base antialiased font-semibold text-gray-800">
            {{toggleText()}}
        </p>
        <small class="font-sans text-sm antialiased text-slate-600">
          {{toggleDescription()}}
        </small>

      } @else {

        {{toggleText()}}

        @if (inputlink()) {
          <a [routerLink]="inputlink()" class="antialiased font-bold text-slate-800">{{inputlinkText()}}</a>
        }

      }

    </label>
  </div>
}
