<div class="flex flex-col items-center justify-center gap-4 mb-4">
  <div class="flex flex-col w-full">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">

          <table  [class]="TW_CLASS.TABLE_BASE">

            @if (dataTable() && dataTable().length>0 && columnsHead() && columnsHead().length>0 ) {
              <thead [class]="TW_CLASS.TABLE_THEAD" >
                <tr>
                  @for (item of columnsHead(); track $index) {
                    @if (tableType()==='double' && item.includes(doubleKeyUp1())) {
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >{{doubleKeyUp1() + '-' + doubleKeyUp2() + '/' + doubleKeydown()}}</th>
                    } @if (tableType()==='double' &&
                          (item.includes(doubleKeyUp1()) || item.includes(doubleKeyUp2()) || item.includes(doubleKeydown()) )) {

                    } @else {
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >{{item}}</th>
                    }

                  }
                </tr>
              </thead>
              <tbody>
                @for (item of dataTable(); track $index; let i = $index; let isEven = $even) {

                  @if (maxCounter()>0 && i >= init() && i <= limit()) { <!-- MUESTRA RESTRINGIENDO POR LIMITE-->

                    <tr
                      [class]="
                        ((tableType()==='hover') ? TW_CLASS.TABLE_HOVER : '') + ' ' +
                        ((tableType()==='stripped-hover' || tableType()==='double') ? TW_CLASS.TABLE_HOVER_STRIPPED : '')
                      "
                      (mouseenter)="item.isHover=true"
                      (mouseleave)="item.isHover=false"
                    >

                      @for (key of columnsHead(); track $index) {
                        @if (tableType()==='double' &&
                            ( key.includes(doubleKeyUp2()) || key.includes(doubleKeydown())) ) {

                        } @else {

                          <td
                            [class]="
                              TW_CLASS.TABLE_TD + ' ' +
                              (((tableType()==='stripped' || tableType()==='stripped-hover' || tableType()==='double') && !isEven) ? (((tableType()==='stripped-hover' || tableType()==='double') && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                            "
                          >

                            @if (tableType()==='double' && (key.includes(doubleKeyUp1())) ) {
                                <div class="text-sm font-medium text-secondary-900">
                                  {{item[doubleKeyUp1()] + ' ' + item[doubleKeyUp2()]}}
                                </div>
                                <div class="text-sm text-secondary-500">
                                    {{item[doubleKeydown()]}}
                                </div>
                            }
                            @else {

                              @if (selectKeyArr() && selectKeyArr().length>0 && key===getKeyOfSelOption(key, item)) {
                                <div class="min-w-[15rem]">
                                  <cygnus-select [options]="options" />
                                </div>
                              }

                              @else if (badgeKey() && badgeKey()?.key===key) {

                                <cygnus-badge
                                  [badgeTypes]="'badge-sm ' + badgeColor(item[key])"
                                  [badgeText]="item[key]"
                                />

                              }

                              @else if (tdEditArr().length && toggleEdit() && toggleEditIndex()===i && keyIsEditable(key)) {
                                <div class="min-w-[15rem]">
                                  <cygnus-input
                                    [inputCustomType]="'base'"
                                    [textPlaceholder]="'...'"
                                    (inputValueOutput)="getOutputData($event,key,i)"
                                    [initializeInputValue]="item[key]"
                                  />
                                </div>

                              } @else {
                                {{item[key]}}

                              }

                            }

                          </td>
                        }

                      }
                      @if (tdEditArr().length>0 && !toggleEdit()) {
                        <td
                          [class]="
                            TW_CLASS.TABLE_TD + ' ' +
                            TW_CLASS.ACTIONS
                          "
                        >
                          <cygnus-button-link
                            [btnLinkType]="'btn-link'"
                            [btnRouterLinkText]="''"
                            (click)="setToggleEdit(i)"
                          >
                            Editar
                          </cygnus-button-link>
                        </td>
                      }
                      @if (toggleEdit() && toggleEditIndex()===i) {
                        <td class="flex justify-center align-center py-4">
                          <lib-ngx-cygnus-icons class="mr-2"
                            [width]="'1.5rem'"
                            [height]="'1.5rem'"
                            [color]="'#667085'"
                            [route]="'assets/icons/svg/General/save-01.svg'"
                            (click)="emitDataModified(); setToggleEdit(i);"
                          />
                          <lib-ngx-cygnus-icons class="mr-2"
                            [width]="'1.5rem'"
                            [height]="'1.5rem'"
                            [color]="'#667085'"
                            [route]="'assets/icons/svg/General/x.svg'"
                            (click)="setToggleEdit(i, true)"
                          />
                        </td>
                      }
                    </tr>
                  } @else if (maxCounter()<=0) { <!-- MUESTRA SIN LIMITE TODO LO QUE HAYA -->

                    <tr
                      [class]="
                        ((tableType()==='hover') ? TW_CLASS.TABLE_HOVER : '') + ' ' +
                        ((tableType()==='stripped-hover' || tableType()==='double') ? TW_CLASS.TABLE_HOVER_STRIPPED : '')
                      "
                      (mouseenter)="item.isHover=true"
                      (mouseleave)="item.isHover=false"
                    >

                      @for (key of columnsHead(); track $index) {
                        @if (tableType()==='double' &&
                            ( key.includes(doubleKeyUp2()) || key.includes(doubleKeydown())) ) {

                        } @else {

                          <td
                            [class]="
                              TW_CLASS.TABLE_TD + ' ' +
                              (((tableType()==='stripped' || tableType()==='stripped-hover' || tableType()==='double') && !isEven) ? (((tableType()==='stripped-hover' || tableType()==='double') && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                            "
                          >

                            @if (tableType()==='double' && (key.includes(doubleKeyUp1())) ) {
                                <div class="text-sm font-medium text-secondary-900">
                                  {{item[doubleKeyUp1()] + ' ' + item[doubleKeyUp2()]}}
                                </div>
                                <div class="text-sm text-secondary-500">
                                    {{item[doubleKeydown()]}}
                                </div>
                            }
                            @else {

                              @if (selectKeyArr() && selectKeyArr().length>0 && key===getKeyOfSelOption(key, item)) {
                                <div class="min-w-[15rem]">
                                  <cygnus-select [options]="options" />
                                </div>
                              }

                              @else if (badgeKey() && badgeKey()?.key===key) {

                                <cygnus-badge
                                  [badgeTypes]="'badge-sm ' + badgeColor(item[key])"
                                  [badgeText]="item[key]"
                                />

                              }

                              @else if (tdEditArr().length && toggleEdit() && toggleEditIndex()===i && keyIsEditable(key)) {
                                <div class="min-w-[15rem]">
                                  <cygnus-input
                                    [inputCustomType]="'base'"
                                    [textPlaceholder]="'...'"
                                    (inputValueOutput)="getOutputData($event,key,i)"
                                    [initializeInputValue]="item[key]"
                                  />
                                </div>

                              } @else {
                                {{item[key]}}

                              }

                            }

                          </td>
                        }

                      }
                      @if (tdEditArr().length>0 && !toggleEdit()) {
                        <td
                          [class]="
                            TW_CLASS.TABLE_TD + ' ' +
                            TW_CLASS.ACTIONS
                          "
                        >
                          <cygnus-button-link
                            [btnLinkType]="'btn-link'"
                            [btnRouterLinkText]="''"
                            (click)="setToggleEdit(i)"
                          >
                            Editar
                          </cygnus-button-link>
                        </td>
                      }
                      @if (toggleEdit() && toggleEditIndex()===i) {
                        <td class="flex justify-center align-center py-4">
                          <lib-ngx-cygnus-icons class="mr-2"
                            [width]="'1.5rem'"
                            [height]="'1.5rem'"
                            [color]="'#667085'"
                            [route]="'assets/icons/svg/General/save-01.svg'"
                            (click)="emitDataModified(); setToggleEdit(i);"
                          />
                          <lib-ngx-cygnus-icons class="mr-2"
                            [width]="'1.5rem'"
                            [height]="'1.5rem'"
                            [color]="'#667085'"
                            [route]="'assets/icons/svg/General/x.svg'"
                            (click)="setToggleEdit(i, true)"
                          />
                        </td>
                      }
                    </tr>
                  }

                }
              </tbody>
            }

          </table>

          @if (maxCounter()>0) {
            <div class="flex content-center">
              <cygnus-pagination
                [paginationType]="'normal'"
                [(currentCounter)]="currentCounter"
                [maxCounter]="maxCounter()"
                (click)="showContent()"
              />
            </div>
          }

        </div>
      </div>
    </div>
  </div>
</div>
