<ul class="flex flex-col max-w-xs">
  @for (item of itemsArr(); track $index) {
    <li [routerLink]="item.linkText"
        class="inline-flex items-center px-4 py-3 -mt-px text-sm font-medium text-gray-800 bg-white border border-gray-200 gap-x-2 first:rounded-t-lg first:mt-0 last:rounded-b-lg">
        @if (item.iconAsset!==undefined) {
          <lib-ngx-cygnus-icons class="mr-2"
            [size]="''"
            [textColor]="'lightblack'"
            [textRoute]="item.iconAsset||''"
          />
        }
        @if (!item.badgeContent) {
          {{item.title}}
        }
        @if (item.badgeContent!==undefined) {
          <div class="flex justify-between w-full">
            <span>{{item.title}}</span>
            <cygnus-badge
              [badgeText]="item.badgeContent"
              [badgeTypes]="'badge-sm badge-primary'"
            />
          </div>
        }
    </li>
  }
</ul>
