<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Inputs</h1>
    <p class="mt-4 text-gray-600 text-md">Los campos de entrada permiten a los usuarios introducir texto
      en una interfaz de usuario. Suelen aparecer en formularios y cuadros de diálogo. Los campos de entrada en móviles deben tener un tamaño de texto de al menos 16px para evitar el zoom automático en los navegadores móviles.</p>
  </header>

  <section id="input-howto">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Cómo usar cygnus-input</h2>
        <p class="mb-8 text-secondary-600 text-md">
          Importar el componente de la biblioteca ngx-cygnus-ui en el archivo .ts del componente donde lo vas a implementar.
        </p>

        <pre>
          <code [highlight]="cygnusInputImportTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          En el documento .html del componente, posicionar la plantilla del input y agregar la configuración según corresponda.
        </p>

        <pre>
          <code [highlight]="cygnusInputSimpleHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li><b>[inputCustomType]</b>: Recibe un string que indica el tipo de input que se va a utilizar. Existen los tipos: "base", "fieldset-legend-label", "label-top", "label-interactive", "floating", "file".</li>
          <li><b>[textPlaceholder]</b>: Recibe un string que indica el texto del placeholder.</li>
          <li><b>[textHint]</b>: Recibe un string que indica el texto que va debajo del input para entregar instrucciones al usuario.</li>
          <li><b>[textLabel]</b>: Recibe un string que indica el texto que va arriba del input a modo de encabezado.</li>
          <li><b>[inputSize]</b>: Recibe un string que indica el tamaño del input. Si no se indica, tiene un tamaño estándar. Puede tener los siguientes valores: 'sm' y 'lg'.</li>
          <li><b>[inputColor]</b>: Recibe un string que indica el color del input. Puede recibir los siguientes valores: 'success', 'warning', 'error'. Si no recibe nada, el color es estándar.</li>
          <li><b>[iconAsset]</b>: Recibe un string que indica la url o nombre de un ícono dentro de la biblioteca ngx-cygnus-icons.</li>
          <li><b>[iconColor]</b>: Recibe un string que indica el color de un ícono dentro del input. Puede recibir los siguientes valores: 'success', 'warning', 'error'. Si no recibe nada, el color es estándar.</li>
          <li><b>[iconState]</b>: Recibe un boolean: true para identificar el estilo del input cuando es ícono de success/warning/error. Por defecto su valor es false.</li>
          <li><b>[iconSize]</b>: Recibe un string que indica el tamaño del ícono dentro del input. Por defecto tiene el valor 'lg'.</li>
          <li><b>[iconPosition]</b>: Recibe un string que indica la posición del ícono dentro del input. Su valor puede ser 'right' o 'left'. Por defecto tiene el valor 'right'.</li>
          <li><b>[pseudoIconCLPPhone]</b>: Recibe un boolean. Por defecto su valor es false. Se utiliza para indicar el comienzo del número de teléfono para Chile.</li>
          <li><b>[hintColor]</b>: Recibe un boolean. Por defecto su valor es false. Se utiliza para indicar si el texto por debajo del input se va a colorear o si va a mantener un color estándar.</li>
          <li><b>[inputDisabled]</b>: Recibe un boolean. Por defecto su valor es false. Se utiliza para desabilitar o no el input.</li>
          <li><b>[typePassword]</b>: Recibe un boolean. Por defecto su valor es false. Se utiliza para indicar si hay que ocultar el contenido del input en caso de que sea para indicar un password.</li>
          <li><b>[inputClearValue]</b>: Recibe un boolean. Por defecto su valor es false. Se utiliza para indicar si se requiere que se limpie el input.</li>
          <li><b>[initializeInputValue]</b>: Recibe un string para inicializar el valor del input.</li>
          <li><b>[control]</b>: Se utiliza para conectar el input a un formulario.</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Input simple -->
  <section id="input-simple">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Input simple</h2>
        <p class="mb-8 text-gray-600 text-md">Utilice este ejemplo de "input" para comenzar fácilmente.
          Es perfecto para formularios que requieren la entrada de texto, como el registro de usuarios, formularios de inicio de sesión o cualquier formulario en el que los usuarios necesiten ingresar un nombre de usuario.</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="w-full max-w-sm min-w-[200px]">

            <!-- COMPONENTE: Input simple -->
            <cygnus-input [inputCustomType]="'base'" [textPlaceholder]="'esto es un placeholder'" />

          </div>
        </div>
        <pre>
          <code [highlight]="cygnusInputSimpleHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Input with label -->
  <section id="input-with-label">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Input con label</h2>
        <p class="mb-8 text-gray-600 text-md">Utilice este ejemplo de "input" con el texto de
          marcador de posición "Este es el placeholder", guiando al usuario para que introduzca su nombre. La etiqueta se coloca encima del campo de entrada para obtener
          claridad sobre qué información se requiere.</p>
        <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">
          <div class="w-full max-w-sm">

            <!-- COMPONENTE: Input con label -->
            <cygnus-input
              [inputCustomType]="'fieldset-legend-label'"
              [textPlaceholder]="'esto es un placeholder'"
              [textHint]="'Este es un texto de ayuda para el usuario.'"
              [textLabel]="'Custom label'"
            />

          </div>
        </div>
        <pre>
          <code [highlight]="cygnusInputLabelHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Input size -->
  <section id="input-size">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Tamaños</h2>
        <p class="mb-8 text-gray-600 text-md">Input apilados de tamaños pequeños a grandes..</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-col max-w-sm space-y-3 w-full min-w-[200px]"><!-- agregué flex flex-col porque sin eso, space-y-* no funciona -->

            <!-- COMPONENTE: Tamaño SM -->
            <cygnus-input
              [inputCustomType]="'fieldset-legend-label'"
              [textPlaceholder]="'Tamaño SM'"
              [textHint]="'Este es un texto de ayuda para el usuario.'"
              [textLabel]="'Label'"
              [inputSize]="'sm'"
            />

            <!-- COMPONENTE: Tamaño default -->
            <cygnus-input
              [inputCustomType]="'fieldset-legend-label'"
              [textPlaceholder]="'Tamaño Normal'"
              [textHint]="'Este es un texto de ayuda para el usuario.'"
              [textLabel]="'Label'"
              [inputSize]="''"
            />

            <!-- COMPONENTE: Tamaño LG -->
            <cygnus-input
              [inputCustomType]="'fieldset-legend-label'"
              [textPlaceholder]="'Tamaño LG'"
              [textHint]="'Este es un texto de ayuda para el usuario.'"
              [textLabel]="'Label'"
              [inputSize]="'lg'"
            />

          </div>
        </div>
        <pre>
          <code [highlight]="cygnusInputSizesHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Input Label TOP -->
  <section id="input-top-label">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Label top</h2>
        <p class="mb-8 text-gray-600 text-md">Para uso sin animación del label</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-col w-full max-w-sm min-w-[200px] space-y-6"><!-- agregué flex flex-col porque sin eso, space-y-* no funciona -->

            <!-- COMPONENTE: Input Label TOP simple -->
            <cygnus-input
              [inputCustomType]="'label-top'"
              [textLabel]="'Email'"
              [textHint] ="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input Label TOP success -->
            <cygnus-input
              [inputCustomType]="'label-top'"
              [inputColor]="'success'"
              [iconAsset]="'assets/icons/svg/General/check-circle.svg'"
              [iconColor]="'lightgreen'"
              [textLabel]="'Email'"
              [textHint] ="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input Label TOP warning -->
              <cygnus-input
              [inputCustomType]="'label-top'"
              [inputColor]="'warning'"
              [iconAsset]="'assets/icons/svg/Alerts&Feedback/alert-triangle.svg'"
              [iconColor]="'lightamber'"
              [textLabel]="'Email'"
              [textHint] ="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input Label TOP error -->
              <cygnus-input
              [inputCustomType]="'label-top'"
              [inputColor]="'error'"
              [iconAsset]="'assets/icons/svg/Alerts&Feedback/alert-circle.svg'"
              [iconColor]="'lightred'"
              [textLabel]="'Email'"
              [textHint] ="'Este es un texto de ayuda para el usuario.'"
            />

          </div>
        </div>
        <pre>
          <code [highlight]="cygnusInputLabelTopHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Input interactive -->
  <section id="input-interactive">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Label interactivo top</h2>
        <p class="mb-8 text-gray-600 text-md">Utilice este botón versátil que viene con fondo azul y
          texto blanco, esquinas redondeadas y un efecto de sombra al pasar el mouse, mostrando interactividad.</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex flex-col space-y-6 w-full max-w-sm min-w-[200px]"><!-- agregué flex flex-col porque sin eso, space-y-* no funciona -->

            <!-- COMPONENTE: Input interactivo simple -->
            <cygnus-input
              [inputCustomType]="'label-interactive'"
              [textLabel]="'Email'"
              [textHint] ="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input interactivo success -->
            <cygnus-input
              [inputCustomType]="'label-interactive'"
              [inputColor]="'success'"
              [iconAsset]="'assets/icons/svg/General/check-circle.svg'"
              [iconColor]="'lightgreen'"
              [textLabel]="'Email'"
              [textHint] ="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input interactivo warning -->
              <cygnus-input
              [inputCustomType]="'label-interactive'"
              [inputColor]="'warning'"
              [iconAsset]="'assets/icons/svg/Alerts&Feedback/alert-triangle.svg'"
              [iconColor]="'lightamber'"
              [textLabel]="'Email'"
              [textHint] ="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input interactivo error -->
              <cygnus-input
              [inputCustomType]="'label-interactive'"
              [inputColor]="'error'"
              [iconAsset]="'assets/icons/svg/Alerts&Feedback/alert-circle.svg'"
              [iconColor]="'lightred'"
              [textLabel]="'Email'"
              [textHint] ="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input floating -->
            <cygnus-input
              [inputCustomType]="'floating'"
              [textPlaceholder]="'...'"
              [textLabel]="'Email'"
              [textHint]="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input floating success -->
            <cygnus-input
              [inputCustomType]="'floating'"
              [textPlaceholder]="'...'"
              [textLabel]="'Email'"
              [inputColor]="'success'"
              [iconAsset]="'assets/icons/svg/General/check-circle.svg'"
              [iconState]="true"
              [iconColor]="'lightgreen'"
              [textHint]="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input floating warning -->
            <cygnus-input
              [inputCustomType]="'floating'"
              [textPlaceholder]="'...'"
              [textLabel]="'Email'"
              [inputColor]="'warning'"
              [iconAsset]="'assets/icons/svg/Alerts&Feedback/alert-triangle.svg'"
              [iconState]="true"
              [iconColor]="'lightamber'"
              [textHint]="'Este es un texto de ayuda para el usuario.'"
            />

            <!-- COMPONENTE: Input floating error -->
            <cygnus-input
              [inputCustomType]="'floating'"
              [textPlaceholder]="'...'"
              [textLabel]="'Email'"
              [inputColor]="'error'"
              [iconAsset]="'assets/icons/svg/Alerts&Feedback/alert-circle.svg'"
              [iconState]="true"
              [iconColor]="'lightred'"
              [textHint]="'Este es un texto de ayuda para el usuario.'"
            />

          </div>
        </div>
        <pre>
          <code [highlight]="cygnusInputLabelInteractiveTopHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Input icon -->
  <section id="input-icon">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Input con icono</h2>
        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="flex-col w-full max-w-sm space-y-4">

            <!-- COMPONENTE: Input con icono a la derecha -->
            <cygnus-input
              [inputCustomType]="'label-interactive'"
              [textPlaceholder]="'Escribe aquí...'"
              [iconAsset]="'assets/icons/svg/General/search-sm.svg'"
              [iconState]="false"
              [iconColor]="'black'"
              [iconPosition]="'right'"
            /> <!-- si no indica la posición del ícono, por defecto es a la derecha -->

            <cygnus-input
              [inputCustomType]="'floating'"
              [textPlaceholder]="'Escribe aquí...'"
              [iconAsset]="'assets/icons/svg/General/search-sm.svg'"
              [iconState]="false"
              [iconColor]="'black'"
              [iconPosition]="'right'"
            /> <!-- si no indica la posición del ícono, por defecto es a la derecha -->


            <!-- COMPONENTE: Input con icono a la izquierda -->
            <cygnus-input
              [inputCustomType]="'label-interactive'"
              [textPlaceholder]="'Escribe aquí...'"
              [iconAsset]="'assets/icons/svg/General/search-sm.svg'"
              [iconState]="false"
              [iconColor]="'black'"
              [iconPosition]="'left'"
            /> <!-- si no indica la posición del ícono, por defecto es a la derecha -->

            <cygnus-input
              [inputCustomType]="'floating'"
              [textPlaceholder]="'Escribe aquí...'"
              [iconAsset]="'assets/icons/svg/General/search-sm.svg'"
              [iconState]="false"
              [iconColor]="'black'"
              [iconPosition]="'left'"
            /> <!-- si no indica la posición del ícono, por defecto es a la derecha -->

            <cygnus-input
              [inputCustomType]="'label-interactive'"
              [textPlaceholder]="'Escribe aquí...'"
              [pseudoIconCLPPhone]="true"
              [iconPosition]="'left'"
            />

            <cygnus-input
              [inputCustomType]="'floating'"
              [textPlaceholder]="'Escribe aquí...'"
              [pseudoIconCLPPhone]="true"
              [iconPosition]="'left'"
            />

          </div>
        </div>
        <pre>
          <code [highlight]="cygnusInputIconHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Input disabled -->
  <section id="input-disabled">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-6 text-xl font-semibold">Inputs deshabilitados</h2>
        <div class="flex flex-col items-center justify-center w-full gap-8 mb-4">
          <div class="flex-col w-full max-w-sm space-y-4">

            <cygnus-input
              [inputCustomType]="'label-interactive'"
              [textPlaceholder]="'Escribe aquí...'"
              [pseudoIconCLPPhone]="true"
              [iconPosition]="'left'"
              [textPlaceholder]="'123456789'"
              [inputDisabled]="true"
            />

          </div>
        </div>
        <pre>
          <code [highlight]="cygnusInputDisabledHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <!-- Input file -->
  <section id="file-input">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">File input</h2>
        <p class="mb-8 text-gray-600 text-md">Una entrada de archivo estándar para cargar archivos.</p>
        <div class="flex flex-col items-center justify-center w-full gap-8 mb-4">
          <div class="max-w-sm space-y-4 w-full min-w-[200px]">

              <cygnus-input
                [inputCustomType]="'file'"
                [textLabel]="'Subir imagen'"
              />

          </div>
        </div>
        <pre>
          <code [highlight]="cygnusInputFileHtml"
                language="html"
                lineNumbers></code>
        </pre>
        <div class="max-w-sm space-y-4 w-full min-w-[200px]">

          <cygnus-dropzone-input
            [titleText]="'Sube tu currículum para completar tus datos de forma automática y ahorrar tiempo'"
            [firstText]="'Haz clic para cargar'"
            [secondText]="'o arrastra y suelta'"
            [thirdText]="'Acepta archivos PDF.'"
            [btnText]="'Sube tu Curriculum vitae'"
          />

        </div>
        <div class="max-w-sm space-y-4 w-full min-w-[200px]">

          <cygnus-dropzone-input
            [titleText]="'Sube tu currículum para completar tus datos de forma automática y ahorrar tiempo'"
            [firstText]="'Haz clic para cargar'"
            [secondText]="'o arrastra y suelta'"
            [thirdText]="'Acepta archivos PDF.'"
            [btnText]="'Sube tu Curriculum vitae'"
            [onlyBtn]="true"
          />

        </div>
        <div class="max-w-sm space-y-4 w-full min-w-[200px]">

          <cygnus-dropzone-input
            [titleText]="'Sube tu currículum para completar tus datos de forma automática y ahorrar tiempo'"
            [firstText]="'Haz clic para cargar'"
            [secondText]="'o arrastra y suelta'"
            [thirdText]="'Acepta archivos PDF.'"
            [btnText]="'Sube tu Curriculum vitae'"
            [onlyBtn]="true"
            [btnColor]="'btn-success'"
          />

        </div>
      </div>
    </div>
  </section>

  <!-- Input telefono -->
  <section id="input-telefono">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-6 text-xl font-semibold">Input con validador de telefono</h2>

        <div class="flex flex-col items-center justify-center w-full gap-8 mb-4">

          <form [formGroup]="phoneForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4 md:space-y-6 w-full items-center" action="#">
            <div class="flex-col w-full max-w-sm space-y-4">

              <!-- input con validador de número de teléfono -->
              <cygnus-input
                [inputCustomType]="'label-top'"
                [inputColor]="inputPhoneColor()"
                [textLabel]="'Teléfono'"
                [hintColor]="true"
                [textHint]="textPhoneHint()"
                [control]="phoneForm.controls.phone"
                [inputClearValue]="inputClearValue()"
                [pseudoIconCLPPhone]="true"
                [iconPosition]="'left'"
              />

            </div>
          </form>
        </div>
        <pre>
          <code [highlight]="cygnusInputPhoneValidatorImportTs"
                language="ts"
                lineNumbers></code>
        </pre>


        <pre>
          <code [highlight]="cygnusInputPhoneValidatorCodeTs"
                language="ts"
                lineNumbers></code>
        </pre>


        <pre>
          <code [highlight]="cygnusInputPhoneValidatorHtml"
                language="html"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

  <section id="input-validadores">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-6 text-xl font-semibold">Input Validadores</h2>

        <p class="mb-8 text-gray-600 text-md">
          Para utilizar los validadores, el input debe encontrarse dentro de un formulario y en la configuración .ts de dicho formulario se agrega el tipo de validación. En ngx-cygnus-ui disponemos de los siguientes validadores:
        </p>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li><b>cgRequired()</b>: Validador requerido con mensaje personalizado.</li>
          <li><b>cgPhone()</b>: Validador de teléfono chileno (9 dígitos).</li>
          <li><b>cgEmail()</b>: Validador de email.</li>
          <li><b>cgNumber()</b>: Validador de solo números.</li>
          <li><b>cgInteger()</b>: Validador de solo números enteros.</li>
          <li><b>cgRequiredPhone()</b>: Validador combinado para teléfono requerido con formato específico.</li>
          <li><b>cgRequiredEmail()</b>: Validador combinado para email requerido.</li>
          <li><b>cgRutValidator()</b>: Validador de formato de rut.</li>
          <li><b>specificValueValidator(expectedValue: string)</b>: Valida si se obtuvo un resultado específico.</li>
        </ul>

        <p class="mb-8 text-gray-600 text-md">
          También se pueden utilizar validadores propios de &commat;angular/forms (Validators).
        </p>

        <pre>
          <code [highlight]="cygnusInputValidatorsExamplesTs"
                language="ts"
                lineNumbers></code>
        </pre>

      </div>
    </div>
  </section>

</main>
