<div [class]="(dropdownItemType()==='iconText' ? 'flex flex-col items-center' : 'relative inline-block' )">
  <cygnus-button
    [btnTypes]="
      (dropdownItemType()==='simple' ? 'btn-primary' : '') + ' ' +
      (dropdownItemType()==='radiobutton' ? 'btn-secondary btn-size-lg' : '') + ' ' +
      (dropdownItemType()==='iconText' ? 'btn-gray btn-circle' : '') + ' ' +
      'btn-size-sm' + ' ' +
      ((dropdownItemType()==='simple' || dropdownItemType()==='radiobutton' ) ? 'btn-icon' : '')
    "
    [btnIconRouteLeft]="dropdownRadioIconAsset()"
    [btnIconRouteRight]="'assets/icons/backups/chevron-down.svg'"
  >
    {{dropdownMenuTitle()}}
  </cygnus-button>

  <ul class="pt-1 mt-1 text-gray-700 z-10 min-w-[180px] overflow-auto rounded-lg border border-gray-200 bg-white py-2 shadow-lg focus:outline-hidden">

    @for (item of dropdownItemDataArr(); track $index) {
      <cygnus-drowpdown-item
        [dropdownItemType]="dropdownItemType()"
        [itemContent]="item"
      />
    }
  </ul>
</div>
