<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
      <h1 class="text-4xl font-bold">Badges</h1>
      <p class="mt-4 text-gray-600 text-md">Badges (también conocido como Insignias), es un elemento
          compacto que representa una entrada, un atributo o una
          acción. Este elemento aparece de forma dinámica como un grupo de múltiples elementos interactivos y
          permite a los
          usuarios introducir información, realizar selecciones, filtrar contenido o activar acciones.

          A menudo vienen con la capacidad de ser removidos o interactuar con ellos, lo que permite a los
          usuarios manipular los
          datos o la selección representados por el badge.</p>
  </header>

  <!-- Badge simple -->
  <section id="simple-badge">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Badge simple</h2>
              <p class="mb-8 text-gray-600 text-md">Comenzamos con este ejemplo de badge simple que viene con
                  un
                  botón de notificación y un pequeño indicador de la
                  cantidad de notificaciones en las que se puede hacer clic para interactuar con ellas.</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- COMPONENTE: Badge simple -->
                   <cygnus-badge [badgeTypes]="'badge'" [badgeText]="'Badge simple'" />

              </div>
          </div>
      </div>
  </section>

  <!-- Badge size -->
  <section id="badge-size">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Tamaños de badges</h2>
              <p class="mb-8 text-gray-600 text-md">En este ejemplo se puede ver cómo implementar badges con
                  distintos tamaños. Las diferencias de tamaño se logran
                  principalmente variando los valores de relleno.</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- COMPONENTE: Badge XS -->
                  <cygnus-badge [badgeTypes]="'badge-xs'" [badgeText]="'2'" />

                  <!-- COMPONENTE: Badge Small -->
                  <cygnus-badge [badgeTypes]="'badge-sm'" [badgeText]="'Small'" />

                  <!-- COMPONENTE: Badge Medium -->
                  <cygnus-badge [badgeTypes]="'badge'" [badgeText]="'Medium'" />

                  <!-- COMPONENTE: Badge Large -->
                  <cygnus-badge [badgeTypes]="'badge-lg'" [badgeText]="'Large'" />

              </div>
          </div>
      </div>
  </section>

  <!-- Badge states -->
  <section id="badge-colors">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Botón con badge</h2>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- COMPONENTE: Cygnus Button -->
                  <cygnus-button
                    [btnTypes]="'btn-primary '"
                    [btnIconRoute]="'assets/icons/svg/Arrows/arrow-narrow-right.svg'"
                  >
                    Messages
                    <!-- COMPONENTE: Badge XS -->
                    <cygnus-badge [badgeTypes]="'badge-xs'" [badgeText]="'2'" />
                  </cygnus-button>

              </div>
          </div>
      </div>
  </section>

  <!-- Badge states -->
  <section id="badge-colors">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Colores de badges</h2>
              <p class="mb-8 text-gray-600 text-md">El componente de badge viene con los cinco estados de
                  color
                  desde el
                  color de iformación, simple hasta los colores de error, advetencia, éxito y tres colores
                  extra.</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <!-- COMPONENTE: Badge Información -->
                  <cygnus-badge [badgeTypes]="'badge badge-primary'" [badgeText]="'Información'" />

                  <!-- COMPONENTE: Badge Simple -->
                  <cygnus-badge [badgeTypes]="'badge badge-secondary'" [badgeText]="'Simple'" />

                  <!-- COMPONENTE: Badge Error -->
                  <cygnus-badge [badgeTypes]="'badge badge-error'" [badgeText]="'Error'" />

                  <!-- COMPONENTE: Badge Advertencia -->
                  <cygnus-badge [badgeTypes]="'badge badge-warning'" [badgeText]="'Advertencia'" />

                  <!-- COMPONENTE: Badge Éxito -->
                  <cygnus-badge [badgeTypes]="'badge badge-success'" [badgeText]="'Éxito'" />

                  <!-- NOTA: Estos estados son para ocasiones que se necesitan colores distintos -->
                  <!-- COMPONENTE: Badge Púrpura -->
                  <cygnus-badge [badgeTypes]="'badge badge-purple'" [badgeText]="'Púrpura'" />

                  <!-- COMPONENTE: Badge Indigo -->
                  <cygnus-badge [badgeTypes]="'badge badge-indigo'" [badgeText]="'Indigo'" />

                  <!-- COMPONENTE: Badge Rosado -->
                  <cygnus-badge [badgeTypes]="'badge badge-pink'" [badgeText]="'Rosado'" />

              </div>
          </div>
      </div>
  </section>

  <!-- Badge-icons -->
  <section id="badge-icons">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Badges con iconos</h2>
              <p class="mb-8 text-gray-600 text-md">Utilice el icono para mostrar la indicación.</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <div class="flex items-center gap-3">

                      <cygnus-badge
                        [badgeTypes]="'badge-icon-only'"
                        [badgeIconAsset]="'assets/icons/svg/General/plus.svg'"
                        [badgeText]="''"
                      />

                      <cygnus-badge
                        [badgeTypes]="'badge-icon'"
                        [badgeIconAsset]="'assets/icons/svg/General/plus.svg'"
                        [badgeIconPosition]="'left'"
                        [badgeText]="'Icono a la izquierda'"
                      />

                      <cygnus-badge
                        [badgeTypes]="'badge-icon'"
                        [badgeIconAsset]="'assets/icons/svg/General/plus.svg'"
                        [badgeIconPosition]="'right'"
                        [badgeText]="'Icono a la derecha'"
                      />

                  </div>

              </div>
              <p>Por defecto los íconos se encuentran a la derecha.</p>
          </div>
      </div>
  </section>

  <!-- Badge-dismissible -->
  <section id="badge-dismissible">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Badge descartable</h2>
              <p class="mb-8 text-gray-600 text-md">Puedes hacer que un badge sea descartable agregando el
                  <code class="code">data-dismissible="chipName"</code>atributo de datos al elemento del badge
                  y el <code class="code">data-dismissible-target="chipName"</code> atributo de datos al
                  elemento con el que quieres cerrar el chip
              </p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <cygnus-badge
                    [badgeTypes]="'badge-btn'"
                    [badgeText]="'Inadmisible'"
                  />

              </div>
          </div>
      </div>
  </section>

  <!-- Badge status -->
  <section id="badge-status">
      <div
          class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
          <div class="p-4 pb-4">
              <h2 class="mb-2 text-xl font-semibold">Estados de badges</h2>
              <p class="mb-8 text-gray-600 text-md">El componente de badge viene con los 5 estados desde el
                  color primario, secundario hasta los colores de error, advetencia y éxito.</p>
              <div class="flex items-center justify-center w-full gap-4 mb-4">

                  <div class="flex gap-2">

                      <!-- COMPONENTE: Estado Online -->
                      <div
                          class="rounded-full flex items-center bg-success-100 py-0.5 px-2.5 border border-transparent text-sm text-success-800 transition-all shadow-sm">
                          <div class="block w-2 h-2 mx-auto mr-2 rounded-full bg-success-800"></div>
                          Online
                      </div>

                      <!-- COMPONENTE: Estado Offline -->
                      <div
                          class="rounded-full flex items-center bg-error-100 py-0.5 px-2.5 border border-transparent text-sm text-error-800 transition-all shadow-sm">
                          <div class="block w-2 h-2 mx-auto mr-2 rounded-full bg-error-800"></div>
                          Offline
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </section>

</main>
