<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Textarea</h1>
    <p class="mt-4 text-gray-600 text-md">Un "textarea" es un elemento de una página web en el que puedes
        escribir.</p>
  </header>

  <section id="placeholder">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Placeholder</h2>
        <p class="mb-8 text-gray-600 text-md">Ejemplo de textarea básico con placeholder.</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <div class="flex flex-col max-w-sm space-y-3 w-full min-w-[200px]">
            <div class="max-w-sm w-full min-w-[200px]">
              <cygnus-textarea
                [textareaPlaceholder]="'Escribe un comentario...'"
                [textareaType]="'simple'"
              />
            </div>

          </div>
        </div>
      </div>


    </div>
  </section>

  <section id="label">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Etiqueta</h2>
        <p class="mb-8 text-gray-600 text-md">Ejemplo de entrada básica con etiqueta.</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="max-w-sm w-full min-w-[200px]">
            <cygnus-textarea
              [textareaLabel]="'Comentario'"
              [textareaPlaceholder]="'Escribe un comentario...'"
              [textareaType]="'label'"
            />
          </div>


        </div>
      </div>



    </div>
  </section>

  <section id="floating-label">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Placeholder</h2>
        <p class="mb-8 text-gray-600 text-md">Se requiere un marcador de posición en cada uno de ellos,
            <code class="code">input</code> ya que nuestro método utiliza elpseudoelemento
            <code class="code">:placeholder-shown</code>. Tenga en cuenta también que el <code
                class="code">input</code> debe aparecer primero para que podamos utilizar un selector de
            hermanos (por ejemplo, ~).
        </p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <div class="max-w-sm space-y-3 w-full min-w-[200px]">
            <cygnus-textarea
              [textareaPlaceholder]="'Escribe un comentario...'"
              [textareaType]="'dynamic-label'"
            />
          </div>

        </div>
      </div>



    </div>
  </section>


</main>
