<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Textarea</h1>
    <p class="mt-4 text-gray-600 text-md">Un "textarea" es un elemento de una página web en el que puedes
        escribir.</p>
  </header>

  <section id="textarea-howto">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Cómo usar cygnus-textarea</h2>
        <p class="mb-8 text-secondary-600 text-md">
          Importar el componente de la biblioteca ngx-cygnus-ui en el archivo .ts del componente donde lo vas a implementar.
        </p>

        <pre>
          <code [highlight]="cygnusTextareaImportTs"
                language="ts"
                lineNumbers></code>
        </pre>

        <p class="mb-8 text-secondary-600 text-md">
          En el documento .html del componente, posicionar la plantilla de la tabla y agregar la configuración según corresponda.
        </p>

        <pre>
          <code [highlight]="cygnusTextareaHtml"
                language="html"
                lineNumbers></code>
        </pre>

        <ul class="mb-8 text-gray-600 text-md list-none">
          <li>[textareaPlaceholder]: Texto que irá como indicación en el placeholder.</li>
          <li>[textareaType]: String que indica tipo de cygnus-textarea. Existen 3 tipos: "simple", "label", "dynamic-label".</li>
          <li>[textareaLabel]: Texto que irá como indicación en la etiqueta superior.</li>
          <li>[control]: Acá puedes ingresar un control de formulario en caso de que quieras integrar el valor del textarea en un formulario: <code>&lt;cygnus-textarea [control]="form.controls.textareaExample" /&gt;</code>.</li>
        </ul>

      </div>
    </div>
  </section>

  <section id="placeholder">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Placeholder</h2>
        <p class="mb-8 text-gray-600 text-md">Ejemplo de textarea básico con placeholder.</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <div class="flex flex-col max-w-sm space-y-3 w-full min-w-[200px]">
            <div class="max-w-sm w-full min-w-[200px]">
              <cygnus-textarea
                [textareaPlaceholder]="'Escribe un comentario...'"
                [textareaType]="'simple'"
              />
            </div>

          </div>
        </div>
        <pre>
          <code [highlight]="cygnusTextareaHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <section id="label">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Etiqueta</h2>
        <p class="mb-8 text-gray-600 text-md">Ejemplo de entrada básica con etiqueta.</p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">
          <div class="max-w-sm w-full min-w-[200px]">
            <cygnus-textarea
              [textareaLabel]="'Comentario'"
              [textareaPlaceholder]="'Escribe un comentario...'"
              [textareaType]="'label'"
            />
          </div>
        </div>
        <pre>
          <code [highlight]="cygnusTextareaLabelHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

  <section id="floating-label">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-1 text-xl font-semibold">Placeholder</h2>
        <p class="mb-8 text-gray-600 text-md">Se requiere un marcador de posición en cada uno de ellos,
            <code class="code">input</code> ya que nuestro método utiliza elpseudoelemento
            <code class="code">:placeholder-shown</code>. Tenga en cuenta también que el <code
                class="code">input</code> debe aparecer primero para que podamos utilizar un selector de
            hermanos (por ejemplo, ~).
        </p>
        <div class="flex items-center justify-center w-full gap-4 mb-4">

          <div class="max-w-sm space-y-3 w-full min-w-[200px]">
            <cygnus-textarea
              [textareaPlaceholder]="'Escribe un comentario...'"
              [textareaType]="'dynamic-label'"
            />
          </div>

        </div>
        <pre>
          <code [highlight]="cygnusTextareaDLHtml"
                language="html"
                lineNumbers></code>
        </pre>
      </div>
    </div>
  </section>

</main>
