<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-12">
    <h1 class="text-4xl font-bold">Listas</h1>
    <p class="mt-4 text-gray-600 text-md">El componente de lista nos permite crear
      listas elegantes y bien estructuradas con un mínimo esfuerzo. Es
      perfecto para diversos casos de uso, desde mostrar contenido hasta crear menús de
      navegación, mostrar resultados de
      búsqueda, presentar mensajes en aplicaciones de chat o enumerar archivos en un directorio.</p>
  </header>

  <section id="simple-list">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Lista simple</h2>
        <p class="mb-8 text-gray-600 text-md">El grupo de listas más básico es una lista desordenada con elementos de lista.
        </p>
        <div class="flex items-center justify-center w-full max-w-xs gap-4 mb-4">

          <cygnus-list [itemsArr]="listArr" />
        </div>
      </div>
    </div>
  </section>

  <section id="lists-icons">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Iconos</h2>
        <p class="mb-8 text-gray-600 text-md">El grupo de lista predeterminado con iconos.
        </p>
        <div class="flex items-center justify-center w-full max-w-xs gap-4 mb-4">

          <cygnus-list [itemsArr]="listIconArr" />
        </div>
      </div>
    </div>
  </section>

  <section id="lists-badges">
    <div
      class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-2 text-xl font-semibold">Lista con badge</h2>
        <p class="mb-8 text-gray-600 text-md">Agregue badges a cualquier elemento del grupo de
            listas
            para mostrar recuentos de elementos no leídos, actividad y
            más.
        </p>
        <div class="mb-4">

          <ul class="flex flex-col max-w-xs">
              <li
                  class="inline-flex items-center px-4 py-3 -mt-px text-sm font-medium text-gray-800 bg-white border border-gray-200 gap-x-2 first:rounded-t-lg first:mt-0 last:rounded-b-lg">
                  <div class="flex justify-between w-full">
                      Perfil
                      <div
                          class="inline-flex items-center justify-center px-2 py-0.5 ml-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
                          Nuevo</div>
                  </div>
              </li>
              <li
                  class="flex items-center px-4 py-3 -mt-px text-sm font-medium text-gray-800 bg-white border border-gray-200 gap-x-2 first:rounded-t-lg first:mt-0 last:rounded-b-lg">
                  <div class="flex justify-between w-full">
                      Ajustes
                      <span
                          class="inline-flex items-center justify-center text-xs px-2 py-0.5 font-semibold text-blue-800 bg-blue-200 rounded-full min-w-4 min-h-4 ms-2">
                          9
                      </span>
                  </div>
              </li>
              <li
                  class="inline-flex items-center px-4 py-3 -mt-px text-sm font-medium text-gray-800 bg-white border border-gray-200 gap-x-2 first:rounded-t-lg first:mt-0 last:rounded-b-lg">
                  <div class="flex justify-between w-full">
                      Hoja informativa
                      <span
                          class="inline-flex items-center justify-center px-2 py-0.5 ml-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
                          +99
                      </span>
                  </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</main>
