<div class="flex flex-col items-center justify-center gap-4 mb-4">
  <div class="flex flex-col w-full">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <!-- Table -->
          <table [class]="TW_CLASS.TABLE_BASE">
              <thead [class]="TW_CLASS.TABLE_THEAD" >
                  <tr>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Nombre</th>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Edad</th>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Dirección</th>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Estado</th>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Acciones</th>
                  </tr>
              </thead>
              <tbody>
                @for (item of tableItems(); track $index; let isEven = $even) {
                  <tr
                    [class]="
                      ((tableType()==='hover') ? TW_CLASS.TABLE_HOVER : '') + ' ' +
                      ((tableType()==='stripped-hover') ? TW_CLASS.TABLE_HOVER_STRIPPED : '')
                    "
                    (mouseenter)="item.isHover=true"
                    (mouseleave)="item.isHover=false"
                  >
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover') && !isEven) ? ((tableType()==='stripped-hover' && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                      "
                    >
                      {{item.name}}
                    </td>
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover') && !isEven) ? ((tableType()==='stripped-hover' && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                      "
                    >
                      {{item.age}}
                    </td>
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover') && !isEven) ? ((tableType()==='stripped-hover' && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                      "
                    >
                      {{item.address}}
                    </td>
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover') && !isEven) ? ((tableType()==='stripped-hover' && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                      "
                    >

                    @if ((item.state).toLowerCase()=='activo') {
                        <cygnus-badge
                          [badgeTypes]="'badge badge-success'"
                          [badgeText]=" item.state | titlecase "
                        />
                      }
                      @else {}

                    </td>
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover') && !isEven) ? ((tableType()==='stripped-hover' && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '') + ' ' +
                        TW_CLASS.ACTIONS
                      "
                    >
                      <cygnus-button-link
                        [btnLinkType]="'btn-link'"
                        [btnRouterLinkText]="''"
                        (click)="deleteItem($index)"
                      > <!-- podrías poner un modal para confirmar la borración antes de borrar -->
                        Borrar
                      </cygnus-button-link>
                    </td>
                  </tr>
                }
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

