<div class="flex flex-col items-center justify-center gap-4 mb-4">
  <div class="flex flex-col w-full">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <!-- Table -->
          <table [class]="TW_CLASS.TABLE_BASE">

            @if (tableType()!='select') {
              <thead [class]="TW_CLASS.TABLE_THEAD" >
                  <tr>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Nombre</th>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Edad</th>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Dirección</th>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Estado</th>
                      <th scope="col" [class]="TW_CLASS.TABLE_TH" >Acciones</th>
                  </tr>
              </thead>
              <tbody>
                @for (item of tableItems(); track $index; let isEven = $even) {
                  <tr
                    [class]="
                      ((tableType()==='hover') ? TW_CLASS.TABLE_HOVER : '') + ' ' +
                      ((tableType()==='stripped-hover' || tableType()==='double') ? TW_CLASS.TABLE_HOVER_STRIPPED : '')
                    "
                    (mouseenter)="item.isHover=true"
                    (mouseleave)="item.isHover=false"
                  >
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover' || tableType()==='double') && !isEven) ? (((tableType()==='stripped-hover' || tableType()==='double') && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                      "
                    >

                      @if (tableType()==='double') {
                        <div class="text-sm font-medium text-secondary-900">
                            {{item.name}}
                        </div>
                        <div class="text-sm text-secondary-500">
                            {{item.email}}
                        </div>
                      } @else {
                        {{item.name}}
                      }

                    </td>
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover' || tableType()==='double') && !isEven) ? (((tableType()==='stripped-hover' || tableType()==='double') && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                      "
                    >
                      {{item.age}}
                    </td>
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover' || tableType()==='double') && !isEven) ? (((tableType()==='stripped-hover' || tableType()==='double') && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                      "
                    >
                      {{item.address}}
                    </td>
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover' || tableType()==='double') && !isEven) ? (((tableType()==='stripped-hover' || tableType()==='double') && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                      "
                    >

                    @if ((item.state)?.toLowerCase()=='activo') {
                        <cygnus-badge
                          [badgeTypes]="'badge badge-success'"
                          [badgeText]=" (item.state | titlecase ) || '' "
                        />
                      }
                      @else {}

                    </td>
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        (((tableType()==='stripped' || tableType()==='stripped-hover' || tableType()==='double') && !isEven) ? (((tableType()==='stripped-hover' || tableType()==='double') && item.isHover )?  TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '') + ' ' +
                        TW_CLASS.ACTIONS
                      "
                    >
                      <cygnus-button-link
                        [btnLinkType]="'btn-link'"
                        [btnRouterLinkText]="''"
                        (click)="deleteItem($index)"
                      > <!-- podrías poner un modal para confirmar la borración antes de borrar -->
                        Borrar
                      </cygnus-button-link>
                    </td>
                  </tr>
                }
              </tbody>

            } @else {
              <thead [class]="TW_CLASS.TABLE_THEAD" >
                  <tr>
                    <th scope="col" [class]="TW_CLASS.TABLE_TH" >
                      <cygnus-checkbox (isChecked)="setCheckAll($event)" [checkboxSize]="'sm'" />
                    </th>
                    <th scope="col" [class]="TW_CLASS.TABLE_TH" >{{'Compañía' | uppercase }}</th>
                    <th scope="col" [class]="TW_CLASS.TABLE_TH" >{{'ID Usuario' | uppercase }}</th>
                    <th scope="col" [class]="TW_CLASS.TABLE_TH" >{{'Nombre / Email' | uppercase }}</th>
                    <th scope="col" [class]="TW_CLASS.TABLE_TH" >{{'Fecha de incorporación' | uppercase }}</th>
                    <th scope="col" [class]="TW_CLASS.TABLE_TH" >{{'Acciones' | uppercase }}</th>
                  </tr>
              </thead>
              <tbody>
                @for (item of tableItems(); track $index; let i = $index; let isEven = $even) {
                  @if (i >= init() && i <= limit()) {
                  <tr
                    [class]="
                      TW_CLASS.TABLE_HOVER_STRIPPED
                    "
                    (mouseenter)="item.isHover=true"
                    (mouseleave)="item.isHover=false"
                  >

                    <td [class]="TW_CLASS.TABLE_TD">
                      <cygnus-checkbox [checkedIn]="checkAll()" (isChecked)="item.isChecked" [checkboxSize]="'sm'" />
                    </td>
                    <td [class]="TW_CLASS.TABLE_TD">{{item.company}}</td>
                    <td [class]="TW_CLASS.TABLE_TD">{{item.id}}</td>
                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        ((!isEven) ? (( item.isHover ) ? TW_CLASS.TABLE_HOVER_STRIPPED : TW_CLASS.TABLE_STRIPPED) : '')
                      "
                    >
                      <div class="flex items-center gap-2">
                        <div [class]="TW_CLASS.AVATAR_SIMPLE">
                            <span class="font-medium text-secondary-600">CD</span>
                        </div>
                        <div>
                          <div class="text-sm font-normal text-gray-900">
                            {{item.name}}
                          </div>
                          <div class="text-sm font-normal leading-5 text-secondary-500">
                              {{item.email}}
                          </div>
                        </div>
                      </div>
                    </td>
                    @if (startDateisDate(item)) {
                      <td [class]="TW_CLASS.TABLE_TD">{{item.startDate | date}}</td>
                    } @else {
                      <td [class]="TW_CLASS.TABLE_TD">{{item.startDate}}</td>
                    }

                    <td
                      [class]="
                        TW_CLASS.TABLE_TD + ' ' +
                        TW_CLASS.ACTIONS
                      "
                    >
                      <cygnus-button-link
                        [btnLinkType]="'btn-link'"
                        [btnRouterLinkText]="''"
                        (click)="editItem($index)"
                      >
                        Editar
                      </cygnus-button-link>
                    </td>

                  </tr>
                  }
                }
              </tbody>
            }

          </table>

          @if (tableType()=='select') {
            <cygnus-pagination
              [paginationType]="'normal'"
              [(currentCounter)]="currentCounter"
              [maxCounter]="maxCounter()"
              (click)="showContent()"
            />
          }
        </div>
      </div>
    </div>
  </div>
</div>

