<main class="col-span-1 p-6 bg-white lg:col-span-8">

  <header class="mb-6">
      <h1 class="text-4xl font-bold">Paginación</h1>
  </header>

  <!-- pagination-normal -->
  <section id="pagination-normal">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Paginación normal</h2>
        <div class="flex justify-center">
          <!-- COMPONENTE: Paginación normal -->
          <cygnus-pagination
            [paginationType]="'normal'"
            [(currentCounter)]="currentCounter"
            [maxCounter]="5"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- pagination-circle -->
  <section id="pagination-circle">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Paginación circular</h2>
        <!-- COMPONENTE: Paginación normal -->
        <div class="flex justify-center">
          <cygnus-pagination
            [paginationType]="'circle'"
            [(currentCounter)]="currentCounterCircle"
            [maxCounter]="5"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- pagination-simple -->
  <section id="pagination-simple">
    <div class="min-h-[140px] rounded-lg border mb-14">
      <div class="p-4 pb-4">
        <h2 class="mb-4 text-xl font-semibold">Paginación simple</h2>
        <div class="flex justify-center">
          <!-- COMPONENTE: Paginación simple -->
          <cygnus-pagination
            [paginationType]="'simple'"
            [(currentCounter)]="currentCounterSimple"
            [maxCounter]="10"
          />
        </div>
      </div>
    </div>
  </section>
</main>
